<app-boton-volver></app-boton-volver>

<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Estados de Módulos</p>
  </div>
</div>

<div class="row justify-content">
  <div class="col-12">
    <button
      class="btn btn-primary btn-sm mb-3"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>
<!--    <mdb-form-control>-->
<!--      <input-->
<!--        mdbInput-->
<!--        type="text"-->
<!--        class="form-control"-->
<!--        id="search-input"-->
<!--        [disabled]="editElementIndex !== -1"-->
<!--        (keyup)="search($event)"-->
<!--      />-->
<!--      <label mdbLabel class="form-label" for="search-input">Buscar</label>-->
<!--    </mdb-form-control>-->
    <hr/>

    <div class="datatable table-editor mt-3">
      <form #form="ngForm" novalidate>
        <table
          class="table table-sm datatable-table"
          mdbTable
          mdbTableSort
          #table="mdbTable"
          #sort="mdbTableSort"
          [dataSource]="modulosEstados"
          [sort]="sort"
        >
          <thead class="text-break">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header"
              scope="col"
            >
              {{ header | titlecase }} <br/>
            </th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>

          <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row">
            <td>
              <mdb-form-control>
                <mdb-select
                  [(ngModel)]="moduloEstados.modulo"
                  id="modulo"
                  name="modulo"
                >
                  <mdb-option
                    *ngFor="let modulo of modulos"
                    [value]="modulo.cod_modulo"
                  >{{ modulo.etiqueta }}
                  </mdb-option>
                </mdb-select>
                <label mdbLabel class="form-label">Seleccione un módulo</label>
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <mdb-select
                  [(ngModel)]="moduloEstados.estadoCatalogo"
                  id="estadoCatalogo"
                  name="estadoCatalogo"
                >
                  <mdb-option
                    *ngFor="let estadoCatalogo of estadosCatalogo"
                    [value]="estadoCatalogo.codigo"
                  >{{ estadoCatalogo.nombre }}
                  </mdb-option>
                </mdb-select>
                <label mdbLabel class="form-label"
                >Seleccione un catálogo</label>
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput
                  id="orden"
                  name="orden"
                  type="number"
                  class="form-control"
                  [(ngModel)]="moduloEstados.orden"
                  required
                  #orden="ngModel"
                  required min="1" max="200"
                  inputValidation="entero"
                  mdbTooltip="Rango: 1 - 200"
                />
                <label mdbLabel class="form-label" for="formControlReadonly"
                >Ingrese el orden</label
                >
              </mdb-form-control>
            </td>


            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                type="submit"
                (click)="registro(form.value); addRow = false"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let moduloEstados of table.data; let index = index">
            <td style="min-width: 120px; max-width: 120px">
              <!--ng-container *ngIf="editElementIndex !== index">
                {{ moduloEstados.modulo }}
              </!--ng-container -->

              {{ moduloEstados.modulo }}

              <!--ng-container *ngIf="editElementIndex === index">

                  <mdb-form-control>
                    <mdb-select
                      [(ngModel)]="moduloEstadosEditForm.modulo"
                      id="modulo"
                      name="modulo"
                    >
                      <mdb-option
                        *ngFor="let modulo of modulos"
                        [value]="modulo.cod_modulo"
                        >{{ modulo.etiqueta }}
                      </mdb-option>
                    </mdb-select>
                    <label  class="form-label"></label>
                  </mdb-form-control>
              </!--ng-container -->
            </td>

            <td style="min-width: 120px; max-width: 120px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ moduloEstados.estadoCatalogo }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <mdb-select
                    mdbInput
                    [(ngModel)]="moduloEstadosEditForm.estadoCatalogo"
                    id="estadoCatalogo"
                    name="estadoCatalogo"
                  >
                    <mdb-option
                      *ngFor="let estadoCatalogo of estadosCatalogo"
                      [value]="estadoCatalogo.nombre"
                    >{{ estadoCatalogo.nombre }}
                    </mdb-option>
                  </mdb-select>
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 40px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ moduloEstados.orden }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="orden"
                    name="orden"
                    type="number"
                    class="form-control"
                    [(ngModel)]="moduloEstadosEditForm.orden"
                    required
                    #orden="ngModel"
                    required min="1" max="200"
                    inputValidation="entero"
                    mdbTooltip="Rango: 1 - 200"
                  />
                  <label class="form-control"></label>
                </mdb-form-control>
              </ng-container>
            </td>


            <td>
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="confirmaEliminar($event,moduloEstados.codigo)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(moduloEstados, form.value);"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
