<app-boton-volver></app-boton-volver>

<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Gestión Componente Nota</p>
  </div>
</div>

<div class="row justify-content-center">

  <div class="col-6 ">

  <button
    MdbRiple
    class="btn btn-primary btn-sm ms-3"
    [disabled]="editElementIndex !== -1"
    (click)="addRow = true"

  >
    <i class="fa fa-plus"></i> &nbsp;Agregar
  </button>

  <hr />
  <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm">
    <form #form="ngForm" >
      <table
        class="table datatable-table"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="componentesNota"
      >
        <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              scope="col"
              class="fw-bold"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th scope="col" class="text-center fw-bold"><b>Acciones</b></th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="componentenota"
                  name="nombre"
                  class="form-control"
                  [(ngModel)]="componenteNota.nombre"
                  #nombre="ngModel"
                  required
                  (change)="validacionUtil.onInputChange($event, 'catalogo', nombre)"
                />
              </mdb-form-control>
            </td>




            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                type="submit"
                (click)="registro(form.value);"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let componenteNota of table.data; let index = index" scope="row">
            <td>
              <ng-container *ngIf="editElementIndex !== index">
                {{ componenteNota.nombre }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombreEdit"
                    name="componentenota"
                    type="text"
                    class="form-control"
                    [(ngModel)]="componenteNotaEditForm.nombre"
                    #componenteNota="ngModel"
                    (change)="validacionUtil.onInputChange($event, 'catalogo', componenteNota)"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td class="text-center">
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="confirmaEliminar($event,componenteNota.codComponenteNota, componenteNota)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(componenteNota, form.value)"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="editElementIndex = -1"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
</div>
