<app-boton-volver></app-boton-volver>

<!-- Título de componente-->
<div class="titulo text-center">
  <h1>Roles</h1>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <button
      class="btn btn-primary btn-sm mb-3"
      [disabled]="estaEditando"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="search-input"
        [disabled]="estaEditando"
        (keyup)="search($event)"
      />
      <label mdbLabel class="form-label" for="search-input">Buscar</label>
    </mdb-form-control>


    <div class="datatable table-editor mt-4">
      <form #form="ngForm" novalidate>
        <table
          class="table table-sm datatable-table"
          mdbTable
          mdbTableSort
          #table="mdbTable"
          [dataSource]="roles"
          [pagination]="pagination"
        >
          <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header"
              scope="col"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th class="text-center"><b>Acciones</b></th>
          </tr>
          </thead>

          <tbody class="datatable-body">
          <tr *ngIf="addRow">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="nombre"
                  name="nombre"
                  type="text"
                  class="form-control"
                  [(ngModel)]="rol.nombre"
                  required
                />
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="descripcion"
                  name="descripcion"
                  type="text"
                  class="form-control"
                  [(ngModel)]="rol.descripcion"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                type="submit"
                (click)="crear(form.value); addRow = false"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button

                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let rol of table.data">
            <td>
              <ng-container *ngIf="!estaEditando || codigoRolEditando !== rol.codRol">
                {{ rol.nombre }}
              </ng-container>
              <ng-container *ngIf="estaEditando && codigoRolEditando === rol.codRol">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombreEdit"
                    name="nombre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="rolEditForm.nombre"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td>
              <ng-container *ngIf="!estaEditando || codigoRolEditando !== rol.codRol">
                {{ rol.descripcion }}
              </ng-container>
              <ng-container *ngIf="estaEditando && codigoRolEditando === rol.codRol">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="descripcionEdit"
                    name="descripcion"
                    type="text"
                    class="form-control"
                    [(ngModel)]="rolEditForm.descripcion"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td class="text-center">
              <ng-container
                *ngIf="!estaEditando || codigoRolEditando !== rol.codRol"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(rol); estaEditando = true"
                  [disabled]="estaEditando"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="confirmarEliminar($event,rol.codRol)"
                  [disabled]="estaEditando"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="estaEditando && codigoRolEditando === rol.codRol">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(rol, form.value)"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <mdb-table-pagination
          #pagination
          [entries]="10"
          (paginationChange)="onPaginationChange($event)"
        ></mdb-table-pagination>
      </form>
    </div>
  </div>
</div>
