<div class="row mt-3">
  <div class="column col-3"></div>
</div>
<div class="titulo">
  <h1>PERIODO ACADÉMICO</h1>
</div>

<div class="tabla">
  <div class="d-flex justify-content-end mb-4">
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="search-input"
        [disabled]="editElementIndex !== -1"
        (keyup)="search($event)"
      />
      <label mdbLabel class="form-label" for="search-input">Search</label>
    </mdb-form-control>
    <button
      MdbRiple
      class="btn btn-primary btn-sm ms-3"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <hr />

  <div class="datatable table-editor mt-4">
    <form #form="ngForm" novalidate    >
      <table
        class="table datatable-table"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="periodos"
        [sort]="sort"      >
        <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header"
              scope="col"
            >
              {{ header | titlecase }}
            </th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row">
            <!-- <td>
            <mdb-form-control>
          <input mdbInput type="text"
           class="form-control"
           [(ngModel)]="Codigo" />
        </mdb-form-control>

            </td> -->
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="modulo"
                  name="modulo"
                  type="text"
                  class="form-control"
                  [(ngModel)]="Modulo"
                  #modulo="ngModel"
                  required
                />
              </mdb-form-control>
            </td>


            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="tblSemestre"
                  name="semestre"
                  type="text"
                  class="form-control"
                  [(ngModel)]="semestreTbl.semestre"
                  #tblSemestre="ngModel"
                  required
                />
          <mdb-error
            *ngIf="
            tblSemestre?.errors?.required &&
              (tblSemestre?.dirty || tblSemestre?.touched)
            "
            ></mdb-error
          >
        </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  [mdbDatepicker]="datepicker"
                  id="fechainicio"
                  name="fechainicio"
                  type="text"
                  class="form-control"
                  [(ngModel)]="FechaInicio"
                  #fechaFin="ngModel"
                  required
                />
              <label mdbLabel for="fechainicio" class="form-label mb-10"></label>
                <mdb-datepicker-toggle [mdbDatepicker]="datepicker"></mdb-datepicker-toggle>
                <mdb-datepicker #datepicker></mdb-datepicker>
              </mdb-form-control>
            </td>


            <td>

              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  [mdbDatepicker]="datepicker"
                  id="fechafin"
                  name="fechafin"
                  type="text"
                  class="form-control"
                  [(ngModel)]="FechaFin"
                  #fechaFin="ngModel"
                  required
                />
                <label mdbLabel for="fechafin" class="form-label mb-10"></label>
                <mdb-datepicker-toggle [mdbDatepicker]="datepicker"></mdb-datepicker-toggle>
                <mdb-datepicker #datepicker></mdb-datepicker>
              </mdb-form-control>
            </td>



            <td>
              <mdb-form-control>
                <mdb-select [(ngModel)]="Estado" name="estado">
                <mdb-option *ngFor="let option of options" [value]="option.value">{{
                  option.label
                }}</mdb-option>
              </mdb-select>
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="descripcion"
                  name="descripcion"
                  type="text"
                  class="form-control"
                  [(ngModel)]="Descripcion"
                  #estado="ngModel"
                  required
                />
              </mdb-form-control>
            </td>



            <td>
            <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                type="submit"
                (click)="registro(form.value); limpiar(); addRow = false"


              >
                <i class="fa fa-check"></i>
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="addRow = false"

              >
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>

          <tr *ngFor="let periodo of table.data; let index = index" >
            <!-- <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ periodo.codigo }}
              </ng-container>

              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="codigo"
                    name="Codigo"
                    type="text"
                    class="form-control"
                    [(ngModel)]="periodo.codigo"
                    disabled
                  />
                </mdb-form-control>
              </ng-container>
            </td> -->

            <td style="min-width: 25px; max-width: 25px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ periodo.modulo }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <mdb-select>
                    <mdb-option *ngFor="let modulos of Modulo" [value]="modulos.value">{{
                      modulos.label
                    }}</mdb-option>
                   <!-- <input
                    mdbInput
                    id="modulo"
                    name="modulo"
                    type="text"
                    class="form-control"
                    [(ngModel)]="periodo.modulo"
                  /> -->
                   </mdb-select>
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ periodo.semestre }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="tblSemestre"
                    name="semestre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="semestreTbl.semestre"
                    #tblsemestres="ngModel"
                  />

                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ periodo.fechainicio }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                   mdbInput="mdbInput"
                    id="fechainicio"
                    name="fechainicio"
                    type="text"
                    class="form-control"
                    [(ngModel)]="periodo.fechainicio"
                  />
                  <label mdbLabel for="fechafnicio" class="form-label mb-10"></label>
                <mdb-datepicker-toggle [mdbDatepicker]="datepicker"></mdb-datepicker-toggle>
                <mdb-datepicker #datepicker></mdb-datepicker>
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ periodo.fechafin }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput="mdbInput"

                    id="fechafin"
                    name="fechafin"
                    type="text"
                    class="form-control"
                    [(ngModel)]="periodo.fechafin"
                  />
                   <label mdbLabel for="fechafin" class="form-label mb-10"></label>
                  <mdb-datepicker-toggle [mdbDatepicker]="datepicker"></mdb-datepicker-toggle>
                  <mdb-datepicker #datepicker></mdb-datepicker>
                </mdb-form-control>
              </ng-container>
            </td>



            <td tyle="min-width: 10px; max-width: 10px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ periodo.estado }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <mdb-select [(ngModel)]="periodo.estado" name="estado">
                    <mdb-option *ngFor="let option of options" [value]="option.value">{{
                      option.label
                    }}</mdb-option>
                  </mdb-select>
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ periodo.descripcion }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="descripcion"
                    name="descripcion"
                    type="text"
                    class="form-control"
                    [(ngModel)]="periodo.descripcion"
                  />
                </mdb-form-control>
              </ng-container>
            </td>



            <td>
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
              <button
              class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
              (click)="editElementIndex=index"
              [disabled]="editElementIndex !== -1 && editElementIndex !== index"
            >
              <i class="fa fa-edit"></i>
            </button>
               <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="eliminar(periodo.codigo)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="actualizar(periodo, periodo.codigo); limpiar()"
                >
                  <i class="fa fa-check"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editElementIndex = -1"

                >
                  <i class="fa fa-ban"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <!-- <mdb-table-pagination #pagination [entries]="5"></mdb-table-pagination> -->
  </div>
</div>

