<app-boton-volver></app-boton-volver>
<!-- Título de componente-->
<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Asignación de niveles a promoción</p>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 m-3">
      <!-- Seleccionar Items from select data -->
      <div class="col-md-12">
        <div class="container">
          <div class="col-md-6">
            <label for="periodoSelect">Seleccione una promoción</label>
            <mdb-select id="periodoSelect" [(ngModel)]="seletedItemPeriodo" (ngModelChange)="onSelectChange($event)">
              <mdb-option *ngFor="let item of selectedListPeriodos" [value]="item.codigoPeriodo">
                {{ item.nombrePeriodo }}
              </mdb-option>
            </mdb-select>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-center" *ngIf="seletedItemPeriodo!= null">
    <div class="col-10">.
      <button class="btn btn-primary mb-1" (click)="onAgregarItem()">
        <i class="fa-solid fa-circle-plus me-2"></i>
        Asignar Niveles
      </button>
    </div>
  </div>

  <div class="row" *ngIf="seletedItemPeriodo!= null">
    <div *ngIf="listadoAsignacion.length === 0"
         class="alert alert-info" role="alert">
      <i class="fa-solid fa-info-circle me-2"></i>
      No se encontraron niveles
    </div>
    <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm table-responsive">
      <form [formGroup]="formGroup">
        <table class="table datatable-table" mdbTable mdbTableSort #table="mdbTable"
               [dataSource]="listadoAsignacion" [pagination]="pagination">
          <thead class="datatable-header">
          <tr>
            <th *ngFor="let header of headers" class="fw-bold fs-6">
              {{ header.label | titlecase }}
            </th>
            <th class="text-center fw-bold fs-6">Acciones</th>
          </tr>
          </thead>
          <tbody class="datatable-body">
          <tr *ngIf="estaAgregandoItem">
            <td>
              {{ selectedItem?.nombrePeriodo }}
            </td>
            <td>
              <mdb-form-control>
                <mdb-select mdbValidate id="codSemestre" formControlName="codSemestre" class="mb-5">
                  <mdb-option
                    *ngFor="let itemSemestre of selectListSemestres" class="text-wrap"
                    [label]="itemSemestre.semestre"
                    [value]="itemSemestre.codSemestre">
                    {{ itemSemestre.semestre }}
                  </mdb-option>
                </mdb-select>
                <mdb-error *ngIf="codSemestre?.touched || codSemestre?.dirty">
                  <span *ngIf="codSemestre?.hasError('required')">
                    <i class="fa-solid fa-circle-exclamation me-1"></i>
                    Este campo es requerido
                  </span>
                </mdb-error>
              </mdb-form-control>
            </td>
            <td class="text-center">
              <button
                class="me-3 m-0 p-0 shadow-0 btn btn-lg text-success"
                type="submit" (click)="onGuardarCambios()" [disabled]="formGroup.invalid">
                <i class="fa fa-check"></i>Agregar
              </button>
              <!-- Cancelar -->
              <button
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="this.estaAgregandoItem = false; selectedItem = defaultItem;">
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>

          </tr>
          <tr *ngFor="let item of table.data;">
            <td>
              {{ item?.nombrePeriodo }}
            </td>
            <td>
              <ng-container *ngIf="!estaEditandoItem || item?.codPeriodoSemestre!== codigoItemEditando">
                {{ item?.nombreSemestre }}
              </ng-container>
              <ng-container *ngIf="estaEditandoItem && item?.codPeriodoSemestre === codigoItemEditando">
                <mdb-form-control>
                  <mdb-select mdbValidate id="codSemestreEditar" formControlName="codSemestre" class="mb-5">
                    <mdb-option
                      *ngFor="let itemSemestre of selectListSemestres" class="text-wrap"
                      [label]="itemSemestre.semestre"
                      [value]="itemSemestre.codSemestre">
                      {{ itemSemestre.semestre }}
                    </mdb-option>
                  </mdb-select>
                </mdb-form-control>
              </ng-container>
            </td>
            <td class="text-center">
              <ng-container *ngIf="!estaEditandoItem || codigoItemEditando !== item?.codPeriodoSemestre">
                <button
                  mdbTooltip="Editar datos del semestre" class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  [disabled]="estaEditandoItem" (click)="onEditarRegistroInstructor(item)">
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro" class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  [disabled]="estaEditandoItem" (click)="confirmarEliminar($event,item.codPeriodoSemestre)">
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="estaEditandoItem && codigoItemEditando === item.codPeriodoSemestre">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success" type="submit" (click)="onGuardarCambios()">
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger" (click)="onCancelarEdicion()">
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <mdb-table-pagination
          #pagination
          [entries]="10"
          [rowsPerPageText]="'Registros por página'"
        ></mdb-table-pagination>
      </form>
    </div>
  </div>
</div>
