<app-boton-volver></app-boton-volver>

<div class="container">
  <!-- Título de componente-->
  <div class="row m-3">
    <div class="column text-center">
      <h1 class="fs-4 fw-bolder">Gestión de usuarios</h1>
    </div>
  </div>
  <button class="btn btn-primary mb-3" (click)="abrirModalCrearUsuario()">
    <i class="fa-solid fa-circle-plus me-2"></i>
    Crear usuario
  </button>
  <div class="alert alert-info" role="alert">
    <i class="fa-solid fa-circle-info me-2"></i>
    Puede buscar el usuario ingresando su número de identificación o nombre y apellidos o correo electrónico.
  </div>
  <!-- Formulario de búsqueda-->
  <section>
    <form [formGroup]="buscarUsuarioForm">
      <mdb-tabs [justified]="true">
        <mdb-tab title="Buscar por identificación">
          <div class="row justify-content-center">
            <mdb-form-control class="col-4 me-2">
              <input
                mdbInput
                mdbValidate
                type="text"
                class="form-control"
                id="identificacion"
                formControlName="identificacion"
                [maxLength]="10"
                [minLength]="10"
                (keyup.enter)="buscarPorIdentificacion()"
              >
              <label mdbLabel class="form-label" for="identificacion">Identificación</label>
              <mdb-error *ngIf="identificacionField?.dirty || identificacionField?.touched">
                <span *ngIf="identificacionField?.hasError('invalid_numbers')">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  Este campo solo acepta números
                </span>
                <span *ngIf="identificacionField?.hasError('invalid_identification')">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  No es una cédula válida
                </span>
              </mdb-error>
              <mdb-success *ngIf="identificacionField?.valid && (identificacionField?.touched || identificacionField?.dirty)">
                <i class="fa-solid fa-circle-check"></i>
                Campo válido
              </mdb-success>
            </mdb-form-control>
            <button
              type="button"
              class="btn btn-primary col-1"
              (click)="buscarPorIdentificacion()"
              [disabled]="identificacionField.invalid"
            >
              Buscar
            </button>
          </div>
        </mdb-tab>
        <mdb-tab title="Buscar por nombres o apellidos">
          <div class="row justify-content-center">
            <mdb-form-control class="col-3 me-2">
              <input
                mdbInput
                mdbValidate
                type="text"
                class="form-control"
                id="nombres"
                formControlName="nombres"
                (keyup.enter)="buscarPorNombresApellidos()"
              >
              <label mdbLabel class="form-label" for="nombres">Nombres</label>
              <mdb-error *ngIf="nombresField?.dirty || nombresField?.touched">
                <span *ngIf="nombresField?.hasError('invalid_letters')">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  Este campo solo acepta letras
                </span>
              </mdb-error>
            </mdb-form-control>
            <mdb-form-control class="col-3 me-2">
              <input
                mdbInput
                mdbValidate
                type="text"
                class="form-control"
                id="apellidos"
                formControlName="apellidos"
                (keyup.enter)="buscarPorNombresApellidos()"
              >
              <label mdbLabel class="form-label" for="apellidos">Apellidos</label>
              <mdb-error *ngIf="apellidosField?.dirty || apellidosField?.touched">
                <span *ngIf="apellidosField?.hasError('invalid_letters')">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  Este campo solo acepta letras
                </span>
              </mdb-error>
            </mdb-form-control>
            <button
              type="button"
              class="btn btn-primary col-1"
              (click)="buscarPorNombresApellidos()"
              [disabled]="nombresField?.value === '' && apellidosField?.value === ''"
            >
              Buscar
            </button>
          </div>
        </mdb-tab>
        <mdb-tab title="Buscar por correo">
          <div class="row justify-content-center">
            <mdb-form-control class="col-4 me-2">
              <input
                mdbInput
                mdbValidate
                type="text"
                class="form-control"
                formControlName="correo"
                id="correo"
                (keyup.enter)="buscarPorCorreo()"
              >
              <label mdbLabel class="form-label" for="correo">Correo</label>
              <mdb-error *ngIf="correoField?.dirty || correoField?.touched">
                <span *ngIf="correoField?.hasError('email')">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  Este campo debe ser un correo electrónico válido
                </span>
                <span *ngIf="correoField?.hasError('required')">
                  <i class="fa-solid fa-circle-exclamation"></i>
                  Este campo es requerido
                </span>
              </mdb-error>
            </mdb-form-control>
            <button
              type="button"
              class="btn btn-primary col-1"
              (click)="buscarPorCorreo()"
              [disabled]="correoField?.invalid"
            >
              Buscar
            </button>
          </div>
        </mdb-tab>
      </mdb-tabs>
    </form>
  </section>
  <hr class="mt-4 hr hr-blurry"/>
  <!-- Tabla de usuarios-->
  <section *ngIf="usuarios.length > 0">
    <button
      type="button"
      class="btn btn-primary mb-3"
      (click)="limpiarRegistros()">
      <i class="fa-solid fa-broom-ball"></i>&nbsp;&nbsp;Limpiar registros
    </button>
    <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm overflow-auto">
      <form #form="ngForm">
        <table
          class="table datatable-table"
          mdbTable
          mdbTableSort
          #table="mdbTable"
          [dataSource]="usuarios"
          [pagination]="pagination"
        >
          <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header.key"
              scope="col"
              class="fw-bold fs-6"
            >
              {{ header.label | titlecase }}
            </th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>

          <tbody class="datatable-body">

          <tr *ngFor="let usuario of table.data; let index = index">
            <td>
              {{ usuario?.nombreUsuario }}
            </td>
            <td>
              {{ usuario?.codDatosPersonales?.nombre }}
            </td>
            <td>
              {{ usuario?.codDatosPersonales?.apellido }}
            </td>
            <td>
              {{ usuario?.codDatosPersonales?.correo_personal }}
            </td>
            <td>
              {{ usuario?.fechaRegistro | date:'YYYY-MM-dd'  }}
            </td>
            <td>
              {{ usuario?.fechaUltimoLogin | date:'YYYY-MM-dd | hh:mm' }}
            </td>

            <td>
              <ng-container *ngIf="editElementIndex !== index">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="usuarioActive"
                  name="active"
                  [checked]="usuario?.active"
                  disabled="true"
                />
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="active"
                  name="active"
                  [checked]="usuarioFrm.active"
                  [(ngModel)]="usuarioFrm.active"
                />
              </ng-container>
            </td>

            <td>
              <ng-container *ngIf="editElementIndex !== index">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="usuarioNotLocked"
                  name="notLocked"
                  [checked]="usuario?.notLocked"
                  disabled="true"
                />
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="notLocked"
                  name="notLocked"
                  [checked]="usuarioFrm.notLocked"
                  [(ngModel)]="usuarioFrm.notLocked"
                />
              </ng-container>
            </td>

            <td>
              <ng-container *ngIf="editElementIndex === -1 || editElementIndex !== index">
                <button
                  mdbTooltip="Editar datos personales"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  [disabled]="editElementIndex !== -1 && editElementIndex !== index"
                  (click)="abrirModalEditarDatosPersonales(index)"
                  >
                  <i class="fa fa-user-check"></i>
                </button>
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index)"
                  [disabled]="editElementIndex !== -1 && editElementIndex !== index"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="this.mensajeConfirmacion='¿Eliminar el usuario? Esta acción es irreversible'; openPopconfirm($event, index)"
                  [disabled]="editElementIndex !== -1 && editElementIndex !== index"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(usuario, form.value)"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <mdb-table-pagination
          #pagination
          [entries]="10"
          [rowsPerPageText]="'Registros por página'"
        ></mdb-table-pagination>
      </form>
    </div>
  </section>
  <section *ngIf="!existenCoincidencias">
    <div class="alert alert-warning" role="alert">
      <i class="fa-solid fa-circle-exclamation"></i>&nbsp;&nbsp;
      No se encontraron coincidencias para la búsqueda
    </div>
  </section>
</div>

