<app-boton-volver></app-boton-volver>
<!-- Título de componente-->
<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Registro de notas</p>
  </div>
</div>

<div *ngIf="!noHayConvocatoria"
     class="alert alert-info" role="alert">
  <i class="fa-solid fa-info-circle me-2"></i>
  No hay convocatoria en estado REGISTRO DE NOTAS
</div>

<div class="container" *ngIf="noHayConvocatoria">
  <div class="row justify-content-center">
    <div class="col-12 m-3">
      <div class="row">
        <div class="col-md-8 mt-2">
          <div class="container">
            <div class="col-md-6">
              <label for="periodoSelect">Seleccione una promoción</label>
              <mdb-select id="periodoSelect" [(ngModel)]="seletedItemPeriodo" (ngModelChange)="onSelectChange()">
                <mdb-option *ngFor="let item of selectedListPeriodos" [value]="item.codigoPeriodo">
                  {{ item.nombrePeriodo }}
                </mdb-option>
              </mdb-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-2">
          <div class="container">
            <div class="col-md-6">
              <label for="semestreSelect">Seleccione un nivel</label>
              <mdb-select id="semestreSelect" [(ngModel)]="seletedItemSemestre"
                          (ngModelChange)="onSelectChangeMateriaSemestre()">
                <mdb-option *ngFor="let item of selectedListSemestres" [value]="item">
                  {{ item.nombreSemestre }}
                </mdb-option>
              </mdb-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-2">
          <div class="container">
            <div class="col-md-6">
              <label for="materiaSelect">Seleccione una Materia</label>
              <mdb-select id="materiaSelect" [(ngModel)]="seletedItemMateria"
                          (ngModelChange)="onSelectChangeMateriaParalelo()">
                <mdb-option *ngFor="let item of selectedListMaterias" [value]="item">
                  {{ item.nombreMateria}}
                </mdb-option>
              </mdb-select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-2">
          <div class="container">
            <div class="col-md-6">
              <label
                for="paraleloSelect">Seleccione {{seletedItemMateria?.esProyecto ? 'un Proyecto' : 'un Paralelo' }}</label>
              <mdb-select id="paraleloSelect" [(ngModel)]="selectedParalelo"
                          (ngModelChange)="onSelectChangeParalelo()">
                <mdb-option *ngFor="let item of paralelosList" [value]="item">
                  {{seletedItemMateria?.esProyecto ? item.nombreProyecto : item.nombreParalelo }}
                </mdb-option>
              </mdb-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="notasForm.length === 0; else notasListContainer"
         class="alert alert-info" role="alert">
      <i class="fa-solid fa-info-circle me-2"></i>
      No se encontraron estudiantes asignados
    </div>
    <ng-template #notasListContainer>
      <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm table-responsive">
        <table
          mdbTable
          mdbTableSort
          #notasTable="mdbTable"
          [dataSource]="notasForm" *ngIf="selectedInstructor != undefined">
          <thead>
          <tr>
            <th>Cod.</th>
            <th>Estudiante</th>
            <th>Asistencia %</th>
            <th>Fase teórica - Nota</th>
            <th>Fase práctica - Nota</th>
            <th>Nota Final</th>
            <th>Aprobado</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let notaForm of notasTable.data; let i = index">
            <tr [formGroup]="notaForm">
              <td>{{ notaForm?.get('codEstudiante')?.value }}</td>
              <td>{{ notaForm?.get('nombreLabel')?.value }}</td>
              <td>
                <mdb-form-control>
                  (change)="calcularPromedio(notaForm)"
                  <input mdbInput type="number" min="0" formControlName="notaAsistencia" class="form-control"
                         (change)="calcularPromedio(notaForm)">
                </mdb-form-control>
              </td>
              <td>
                <input type="number" min="0" formControlName="notaParcial2" class="form-control">
              </td>
              <td>
                <mdb-form-control>
                  <input mdbInput type="number" min="0" formControlName="notaPractica" class="form-control">
                </mdb-form-control>
              </td>
              <td>
                <mdb-form-control>
                  <input
                    mdbInput
                    type="number"
                    min="0"
                    formControlName="notaParcial1"
                    class="form-control"
                    (change)="calcularPromedio(notaForm)"
                  >
                </mdb-form-control>
              </td>
              <td>{{ notaForm?.get('aprobado').value ? 'SI' : 'NO' }}</td>
            </tr>
          </ng-container>

          </tbody>
        </table>
        <div class="container">
          <div class="row">
            <!-- Columna 1 -->
            <div class="col-md">
              <form [formGroup]="generalForm">
                <h5><span class="text-primary">*</span>
                  Documentos soporte:</h5>
                <p class="alert alert-info" role="alert">Indicaciones: Subir el registro de notas en un solo archivo, en
                  formato pdf.</p>

                <!-- Documentos de soporte -->
                <mdb-form-control>
                  <input
                    mdbInput
                    mdbValidate
                    type="file"
                    [multiple]="true"
                    class="form-control"
                    id="customFile"
                    (change)="subirArchivo($event)"/>
                  <mdb-error *ngIf="docSoporteField?.invalid && (docSoporteField?.dirty || docSoporteField?.touched)">
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success *ngIf="docSoporteField?.valid && docSoporteField?.touched"></mdb-success>
                </mdb-form-control>
              </form>
            </div>
            <!-- Columna 2 -->
            <div class="col-md"></div>
            <!-- Columna 3 -->
            <div class="col-md"></div>
          </div>
        </div>
        <button
          id="next-step"
          (click)="loadModifiedNotas()"
          type="submit"
          class="btn btn-primary float-end"
          [disabled]="showLoading"
        >
                <span
                  *ngIf="showLoading"
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"></span>
          <span *ngIf="showLoading">Espere...</span>
          <span *ngIf="!showLoading">Cargar Notas</span>
        </button>
      </div>
      <div>
        <div *ngIf="urlsArchivo">
          <div *ngFor="let url of urlsArchivo">
            <p class="badge badge-primary p-2"><b>Nombre del archivo: </b>{{url.nombreArchivo}}</p>
            <a href="{{url.urlSafe}}" target="_blank"><i class="fa fa-file"></i> Descargar</a>
            <embed
              [src]="url.urlSafe"
              [width]="'100%'"
              [height]="600"
            >
          </div>
        </div>
      </div>
    </ng-template>
  </div>


</div>
