<!-- comienzo de tabla-->
    <div class="d-flex justify-content-end mb-4">
      <mdb-form-control>
        <input
          mdbInput
          type="text"
          class="form-control"
          id="search-input"
          [disabled]="editElementIndex !== -1"
          (keyup)="search($event)"
        />
        <label mdbLabel class="form-label" for="search-input">Search</label>
      </mdb-form-control>

      <button
        MdbRiple
        class="btn btn-primary btn-sm ms-3"
        [disabled]="editElementIndex !== -1"
        (click)="addRow=true"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <hr />

    <div class="datatable table-editor mt-4">
      <table
        class="table datatable-table"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="dataSource"
        [sort]="sort"
        [pagination]="pagination"
      >
        <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header"
              scope="col"
            >
              {{ header | titlecase }}
            </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr *ngIf="addRow"
            scope="row"
          >
            <td>
              <mdb-form-control>
                <input mdbInput type="text" class="form-control" [(ngModel)]="company" />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <mdb-select [(ngModel)]="office">
                  <mdb-option *ngFor="let option of options" [value]="option.value">{{
                    option.label
                  }}</mdb-option>
                </mdb-select>
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input mdbInput type="number" class="form-control" [(ngModel)]="employees" />
              </mdb-form-control>
            </td>
            <td>
              <div class="form-check ms-1 mt-1">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="international"
                />
              </div>
            </td>
            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="addNewRow()"
              >
                <i class="fa fa-check"></i>
              </button>
              <button
                class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="addRow=false"
              >
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>


          <tr
            *ngFor="let data of table.data; let index = index"
            scope="row"
          >
            <td style="min-width: 250px; max-width: 250px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ data.company }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input mdbInput type="text" class="form-control" [(ngModel)]="data.company"/>
                </mdb-form-control>
              </ng-container>
            </td>
            <td style="min-width: 250px; max-width: 250px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ data.office }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <mdb-select [(ngModel)]="data.office">
                    <mdb-option *ngFor="let option of options" [value]="option.value">{{
                      option.label
                    }}</mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label">Office</label>
                </mdb-form-control>
              </ng-container>
            </td>
            <td style="min-width: 250px; max-width: 250px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ data.employees }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input mdbInput type="number" class="form-control" [(ngModel)]="data.employees"/>
                </mdb-form-control>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="editElementIndex !== index">
                {{ data.international }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <div class="form-check ms-1 mt-1">
                  <input
                    mdbCheckbox
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="data.international"
                  />
                </div>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="editElementIndex === -1 || editElementIndex !== index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editElementIndex=index"
                  [disabled]="editElementIndex !== -1 && editElementIndex !== index"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="onDeleteClick(data)"
                  [disabled]="editElementIndex !== -1 && editElementIndex !== index"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editElementIndex=-1"
                >
                  <i class="fa fa-check"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editElementIndex=-1"
                >
                  <i class="fa fa-ban"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <mdb-table-pagination #pagination [entries]="5"></mdb-table-pagination>
    </div>

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
     <button type="button" class="btn btn-primary">ENVIAR</button>
     <button type="button" class="btn btn-primary">REGRESAR</button>
</div>
