<app-boton-volver></app-boton-volver>

<div class="titulo text-center">
  <h1>Tipo de Baja</h1>
</div>

<div class="row justify-content-center">

  <div class="col-6">
    <!-- Button for  add a register-->
    <button
      class="btn btn-primary btn-sm ms-3"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>
    <hr/>

    <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm">
      <form [formGroup]="tiposBajaForm">
        <table
          class="table datatable-table"
          mdbTable
          mdbTableSort
          #sort="mdbTableSort"
          #table="mdbTable"
          [dataSource]="tiposBaja"
          [pagination]="pagination"
          [sort]="sort"
        >
          <!-- Table head -->
          <thead class="datatable-header">
          <tr>
            <th *ngFor="let header of headers" scope="col" class="fw-bold" [mdbTableSortHeader]="header.key">
              <b> {{ header.label | titlecase }}</b>
            </th>
              <th scope="col" class="text-center fw-bold"><b >Acciones</b></th>
          </tr>
          </thead>
          <!-- Table body -->
          <tbody class="datatable-body">
          <!-- Add row -->
          <tr *ngIf="addRow">
            <!-- Input baja -->
            <td>
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput="mdbInput"
                  class="form-control mb-3"
                  formControlName="baja"
                />                
              </mdb-form-control>
            </td>
            <!-- Buttons for add or cancel a register -->
            <td class="text-center">
              <button
                class="me-4 m-0 p-0 shadow-0 btn btn-lg text-success"
                type="submit"                
                (click)="createTipoBaja(tiposBajaForm.value);"
              >
                <i class="fa fa-check"></i> &nbsp;Agregar
              </button>
              <button
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> &nbsp;Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let tipoBaja of table.data; let index = index">
            <td>
              <!--Show baja-->
              <ng-container *ngIf="editElementIndex !== index">
                {{ tipoBaja.baja }}
              </ng-container>

              <!--Edit baja-->
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    mdbValidate
                    type="text"
                    class="form-control mb-4"
                    formControlName="baja"
                  />                  
                </mdb-form-control>
              </ng-container>
            </td>
            <td class="text-center">
              <!--Buttons to delete -->
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-3 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index);"
                  [disabled]="editElementIndex !== -1 && editElementIndex !== index"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  [disabled]="editElementIndex !== -1 && editElementIndex !== index"
                  (click)="confirmaEliminar($event,tipoBaja.codTipoBaja)"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <!--Buttons to edit-->
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-4 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="updateTipoBaja(tipoBaja, tiposBajaForm.value)"
                >
                  <i class="fa fa-check"></i> &nbsp;Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i> &nbsp;Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
      <mdb-table-pagination
        #pagination
        [entries]="10"
        [rowsPerPageText]="'Registros por página'"
        (paginationChange)="onPaginationChange($event)"
      ></mdb-table-pagination>
    </div>

  </div>
</div>
