
 <!-- Título de componente-->
 <div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Unidad de gestión</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6 ">

  <!-- Button for  add a register-->
  <button
    MdbRiple
    class="btn btn-primary btn-sm ms-3"
    [disabled]="editElementIndex !== -1"
    (click)="addRow = true; "
  >
    <i class="fa fa-plus"></i>
  </button>

  <hr />
   <!-- Table -->
  <div class="datatable table-editor mt-4">
    <form #form="ngForm" >
      <table
        class="table table-sm datatable-table text-center"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="unidades"
        [sort]="sort"
      >
      <!-- Table head -->
        <thead class="datatable-header">
          <tr align="center">
            <th
              *ngFor="let header of headers"
              scope="col"
              style="font-size: medium"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th scope="col" style="font-size: medium"><b>Acciones</b></th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row" style="min-width: 10px; max-width: 10px">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="add_nombre"
                  name="nombre"
                  class="form-control"
                  [(ngModel)]="Unidad.nombre"
                  #nombre="ngModel"
                  required
                />
              </mdb-form-control>

            </td>

          <!-- Buttons for add or cancel a register -->
            <td class="text-start" style="min-width: 10px; max-width: 10px">
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                type="submit"
                (click)="registro(form.value); addRow = false"
              >
                <i class="fa fa-check"></i>
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>
            <!-- Edit row -->
          <tr *ngFor="let Unidad of table.data; let index = index" scope="row">
            <td align="center" style="min-width: 50px; max-width: 50px">
              <!--Show unidad de gestión-->
              <ng-container *ngIf="editElementIndex !== index">
                {{ Unidad.nombre }}
              </ng-container>
              <!--Edit unidad de gestión-->
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombre"
                    name="nombre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="UnidadEditForm.nombre"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td align="center">
              <!--Buttons to delete -->
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index);"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="eliminar(Unidad.codigo,Unidad)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="actualizar(Unidad, form.value);"
                >
                  <i class="fa fa-check"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
</div>
