<app-boton-volver></app-boton-volver>

<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">{{reporteResponse.descripcion}}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <div class="row mb-4" *ngIf="this.reporteRequest.codigoReporte == 'GENERAL_GENERAL'">
      <div class="col">
        <select [(ngModel)]="selectedYear">
          <option *ngFor="let year of yearsArray" [value]="year">{{ year }}</option>
        </select>

      </div>
      <div class="col"></div>
    </div>

    <div class="row">
  <div class="col">
    <div class="datatable table-editor mt-4">
      <div class='exportExcel'>
        <button
          id="down-pdf"
          (click)="downloadPdf()"
          class="btn btn-primary float end"
          [disabled]="showLoading"
        >
                    <span
                      *ngIf="showLoading"
                      class="spinner-border spinner-border-sm me-2"
                      role="status"
                      aria-hidden="true"></span>
          <span *ngIf="showLoading">Espere...</span>
          <span *ngIf="!showLoading" class="fa fa-file-pdf">Descargar PDF</span>
        </button>
      </div>
    </div>
  </div>



  <div class="col">
    <div class="datatable table-editor mt-4">
      <div class='exportExcel'>
        <button
          id="down-excel"
          (click)="downloadExcel()"
          class="btn btn-primary float end"
          [disabled]="showLoading"
        >
                    <span
                      *ngIf="showLoading"
                      class="spinner-border spinner-border-sm me-2"
                      role="status"
                      aria-hidden="true"></span>
          <span *ngIf="showLoading">Espere...</span>
          <span *ngIf="!showLoading" class="fa fa-file-excel">Descargar Excel</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
