<app-boton-volver></app-boton-volver>

<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Aulas</p>
  </div>
</div>
<div class="row justify-content">
  <div class="col-12 ">

    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="search-input"
        [disabled]="editElementIndex !== -1"
        (keyup)="search($event)"
      />
      <label mdbLabel class="form-label" for="search-input">Buscar</label>
    </mdb-form-control>
    <button
      MdbRiple
      class="btn btn-primary btn-sm ms-3"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>
  </div>


  <div class="datatable table-editor mt-4">
    <form #form="ngForm" novalidate>
      <table
        class="table table-sm datatable-table"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="aulas"
        [sort]="sort"
      >
        <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header"
              scope="col"
            >
              {{ header | titlecase }}
            </th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody class="datatable-body">
          <tr *ngIf="addRow"  scope="row">

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="nombre"
                  name="nombre"
                  type="text"
                  class="form-control"
                  [(ngModel)]="aula.nombre"
                  required
                />
              </mdb-form-control>
            </td>


            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="capacidad"
                  name="capacidad"
                  type="number"
                  class="form-control"
                  [(ngModel)]="aula.capacidad"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="tipo"
                  name="tipo"
                  type="text"
                  class="form-control"
                  [(ngModel)]="aula.tipo"
                  #tipo="ngModel"
                  required
                />
              </mdb-form-control>
            </td>
            <td *ngIf="aula.pcs">
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="pcs"
                  name="pcs"
                  type="number"
                  class="form-control"
                  [(ngModel)]="aula.pcs"
                  required
                />
              </mdb-form-control>
            </td>
            <td *ngIf="aula.impresoras">
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="impresoras"
                  name="impresoras"
                  type="number"
                  class="form-control"
                  [(ngModel)]="aula.impresoras"
                  required
                />
              </mdb-form-control>
            </td>
            <td *ngIf="aula.internet">
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="internet"
                  name="internet"
                  type="text"
                  class="form-control"
                  [(ngModel)]="aula.internet"
                  required
                />
              </mdb-form-control>
            </td>

            <td *ngIf="aula.proyectores">
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="proyectores"
                  name="proyectores"
                  type="number"
                  class="form-control"
                  [(ngModel)]="aula.proyectores"
                  required
                />
              </mdb-form-control>
            </td>
            <td *ngIf="aula.instructor">
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="instructor"
                  name="instructor"
                  type="text"
                  class="form-control"
                  [(ngModel)]="aula.instructor"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="salaOcupada"
                  name="salaOcupada"
                  type="text"
                  class="form-control"
                  [(ngModel)]="aula.salaOcupada"
                  required
                />
              </mdb-form-control>
            </td>



            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                type="submit"
                (click)="registro(form.value); addRow = false"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let aula of table.data; let index = index" scope="row">


            <td style="min-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.nombre }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombre"
                    name="nombre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.nombre"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.capacidad }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="capacidad"
                    name="capacidad"
                    type="number"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.capacidad"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.tipo }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="tipo"
                    name="tipo"
                    type="text"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.tipo"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td *ngIf="aula.pcs">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.pcs }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="pcs"
                    name="pcs"
                    type="number"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.pcs"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td *ngIf="aula.impresoras">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.impresoras }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="impresoras"
                    name="impresoras"
                    type="number"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.impresoras"
                  />
                </mdb-form-control>
              </ng-container>
            </td>


            <td *ngIf="aula.internet">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.internet }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="internet"
                    name="internet"
                    type="text"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.internet"
                  />
                </mdb-form-control>
              </ng-container>
            </td>


            <td *ngIf="aula.proyectores">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.proyectores }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="proyectores"
                    name="proyectores"
                    type="number"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.proyectores"
                  />
                </mdb-form-control>
              </ng-container>
            </td>


            <td *ngIf="aula.instructor">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.instructor }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="instructor"
                    name="instructor"
                    type="text"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.instructor"
                  />
                </mdb-form-control>
              </ng-container>
            </td>


            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ aula.salaOcupada }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="salaOcupada"
                    name="salaOcupada"
                    type="text"
                    class="form-control"
                    [(ngModel)]="aulaEditForm.salaOcupada"
                  />
                </mdb-form-control>
              </ng-container>
            </td>



            <td>
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
              <button
                mdbTooltip="Editar registro"
              class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
              (click)="editar(index)"
              [disabled]="editElementIndex !== -1 && editElementIndex !== index"
              >

              <i class="fa fa-edit"></i>
            </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(aula, form.value);"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="editElementIndex = -1"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>



