<app-boton-volver
  [texto]="'Regresar al menú de academia'"
  [link]="'/principal/formacion/menu-academia'"
></app-boton-volver>

<ng-container *ngIf="!esEstadoFormacionAcademica">
  <div class="card rounded-7 mt-3">
    <div class="card-body">
      <h5 class="card-title text-primary">Proceso de Formación Académica no activo</h5>
      <p class="card-text">
        El proceso de formación académica no se encuentra activo, por lo que no se puede realizar ninguna acción.
      </p>
    </div>
  </div>
</ng-container>

<div class="container" *ngIf="esEstadoFormacionAcademica">
  <div class="row m-3 text-center">
    <h1 class="fs-4 fw-bolder mb-4">Apelaciones de la materia </h1>
    <h5 class="text-primary">{{ materia.nombre }}</h5>
  </div>

  <div class="d-flex gap-2 my-4">
    <button
      class="btn btn-primary btn-rounded"
      (click)="onFiltrarTodos()"
      [disabled]="estaEditandoApelacion"
    >
      <i class="fa fa-filter"></i>
      Todos
    </button>
    <button
      class="btn btn-warning btn-rounded"
      (click)="onFiltrarPendientes()"
      [disabled]="estaEditandoApelacion"

    >
      <i class="fa fa-filter"></i>
      Filtrar pendientes
    </button>
    <button
      class="btn btn-success btn-rounded"
      (click)="onFiltrarAprobados()"
      [disabled]="estaEditandoApelacion"

    >
      <i class="fa fa-filter "></i>
      Filtrar aprobados
    </button>
    <button
      class="btn btn-danger btn-rounded"
      (click)="onFiltrarRechazados()"
      [disabled]="estaEditandoApelacion"
    >
      <i class="fa fa-filter"></i>
      Filtrar rechazados
    </button>
  </div>

  <div
    *ngIf="apelaciones?.length > 0"
    class="datatable datatable-hover datatable-sm datatable-striped">
    <form [formGroup]="apelacionForm">
      <table
        class="tabla datatable-table"
        mdbTable
        #apelacionesTabla="mdbTable"
        [responsive]="true"
        [dataSource]="apelacionesFiltradas"
        [pagination]="pagination"
      >
        <thead class="datatable-header">
        <tr>
          <th
            *ngFor="let head of headers"
            class="fw-bold fs-6"
          >
            {{ head.label }}
          </th>
          <th class="fw-bold fs-6 text-center">Acciones</th>
        </tr>
        </thead>
        <tbody class="datatable-body">
        <tr *ngFor="let apelacion of apelacionesTabla.data">
          <td [style.width.px]="75">
            {{ apelacion?.fechaSolicitud | date: 'dd-MM-yyyy' }}
          </td>
          <td>
            {{ apelacion?.nombreEstudiante || 'El jair' }}
          </td>
          <td>
            {{ apelacion.observacionEstudiante}}
          </td>
          <td>
            {{ apelacion.notaActual }}
          </td>
          <td>
            <ng-container *ngIf="!estaEditandoApelacion || apelacion.codApelacion !== codApelacionSeleccionada">
              {{ apelacion.observacionInstructor || 'N/A'}}
            </ng-container>
            <ng-container *ngIf="estaEditandoApelacion && apelacion.codApelacion === codApelacionSeleccionada">
              <mdb-form-control>
                <textarea
                  mdbInput
                  mdbValidate
                  class="form-control"
                  formControlName="observacion"
                  rows="2"
                ></textarea>
              </mdb-form-control>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!estaEditandoApelacion || apelacion.codApelacion !== codApelacionSeleccionada">
              {{ apelacion.notaNueva || 'N/A' }}
            </ng-container>
            <ng-container *ngIf="estaEditandoApelacion && apelacion.codApelacion === codApelacionSeleccionada">
              <mdb-form-control>
                <input
                  mdbInput
                  mdbValidate
                  min="0"
                  type="number"
                  class="form-control"
                  formControlName="notaCorregida"
                  required
                />
              </mdb-form-control>
            </ng-container>

          </td>
          <td>
            <ng-container *ngIf="!estaEditandoApelacion || apelacion.codApelacion !== codApelacionSeleccionada">
            <span *ngIf="apelacion.aprobacion && true" class="badge rounded-pill badge-success">
                            Aprobada
                          </span>
              <span *ngIf="apelacion.aprobacion === false" class="badge rounded-pill badge-danger">
                            Rechazada
                          </span>
              <span *ngIf="apelacion.aprobacion === null"
                    class="badge rounded-pill badge-warning">
                            Pendiente
                          </span>
            </ng-container>
            <ng-container
              [style.width.px]="200"
              *ngIf="estaEditandoApelacion && apelacion.codApelacion == codApelacionSeleccionada">
              <div class="form-check">
                <input
                  mdbRadio
                  class="form-check-input"
                  type="radio"
                  id="aprobada"
                  formControlName="aprobacion"
                  name="aprobacion"
                  [value]="true"
                />
                <label class="form-check-label"> Aprobada </label>
              </div>
              <!-- Default checked radio -->
              <div class="form-check">
                <input
                  mdbRadio
                  id="rechazada"
                  name="aprobacion"
                  formControlName="aprobacion"
                  class="form-check-input"
                  type="radio"
                  [value]="false"
                />
                <label class="form-check-label"> Rechazada </label>
              </div>
            </ng-container>
          </td>
          <td class="text-center">
            <ng-container *ngIf="!estaEditandoApelacion || apelacion.codApelacion !== codApelacionSeleccionada">
              <button
                mdbTooltip="Editar apelación"
                class="me-1 m-0 p-0 shadow-0 btn btn-lg text-dark "
                (click)="onEditarApelacion(apelacion)"
              >
                <i class="fa fa-edit"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="estaEditandoApelacion && apelacion.codApelacion === codApelacionSeleccionada">
              <button
                mdbTooltip="Aprobar apelación"
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success "
                (click)="onGuardarApelacion(apelacion)"
              >
                <i class="fa fa-check"></i> Guardar
              </button>
              <button
                mdbTooltip="Cancelar apelación"
                class="me-1 m-0 p-0 shadow-0 btn btn-lg text-danger "
                (click)="onCancelarApelacion()"
              >
                <i class="fa fa-cancel"></i> Cancelar
              </button>
            </ng-container>
          </td>

        </tr>
        </tbody>
      </table>
      <mdb-table-pagination
        #pagination
        [entries]="10"
        [rowsPerPageText]="'Registros por página'"
      ></mdb-table-pagination>
    </form>
  </div>


</div>
