<div class="container" *ngIf="!esEstadoInscripcion && !isLoading">
  <div class="card text-center mt-5">
    <div class="card-header bg-danger">
      <h4 class="card-title text-white">Proceso de inscripción finalizado</h4>
    </div>
    <div class="card-body">
      <i class="fa-solid fa-warning fa-2xl mb-4 text-danger"></i>
      <p class="card-text">El proceso de inscripción no está activo, por lo que no puede continuar con el proceso.</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>


<div class="container" *ngIf="esEstadoInscripcion && isLoading">
  <div class="row mt-3">
    <div class="col-3">
      <img src="assets/logo-bomberos.svg" alt=""/>
    </div>
    <div class="col-9 text-end">
      <h4 class="ms-5">
        <i class="fa-solid fa-user-graduate"></i>
        Plataforma Educativa
      </h4>
    </div>
  </div>
  <hr class="hr hr-blurry"/>

  <div *ngIf="!esInscripcionCompletada">

    <div class="row">
      <div class="col text-center">
        <h3 class="fw-bolder">Formulario de inscripción</h3>
        <h2 class="fw-bold text-primary my-4">CURSO: {{ curso.nombre || 'NOMBRE DEL CURSO' | uppercase}}</h2>
        <p class="fw-bold">Fecha de inscripción: {{ fechaActual | date : 'dd/MM/yyyy' }}</p>
      </div>
    </div>

    <hr class="hr"/>
    <div class="row justify-content-center">
      <div class="col-4">
        <p class="fw-bold text-muted">Por favor, ingrese su cédula para continuar</p>
        <mdb-form-control>
          <input
            mdbValidate
            mdbInput
            [minLength]="10"
            [maxLength]="10"
            class="form-control"
            [formControl]="cedula"
          >
          <label mdbLabel class="form-label mb-2x">Cédula</label>
          <mdb-error
            *ngIf=" (cedula.touched||cedula.dirty) && cedula.hasError('required')"
            class="error"
          >
            <i class="fa-solid fa-exclamation-circle me-1"></i>
            La cédula es requerida
          </mdb-error>
          <mdb-error
            *ngIf=" (cedula.touched||cedula.dirty) && cedula.hasError('invalid_numbers')"
            class="error"
          >
            <i class="fa-solid fa-exclamation-circle me-1"></i>
            La cédula debe contener solo números
          </mdb-error>
          <mdb-error
            *ngIf=" (cedula.touched||cedula.dirty) && cedula.hasError('invalid_identification') && !cedula.hasError('required')"
            class="error"
          >
            <i class="fa-solid fa-exclamation-circle me-1"></i>
            No es una cédula válida
          </mdb-error>
          <mdb-success *ngIf="cedula.valid" class="success">
            <i class="fa-solid fa-check-circle me-1"></i>
            Cédula válida
          </mdb-success>
        </mdb-form-control>
      </div>
    </div>

    <div *ngIf="datoPersonal !== null" class="mt-5 row justify-content-center">
      <hr class="hr"/>
      <div class="col-7">
        <h5 class="fw-bold mb-4">Datos personales</h5>
        <div class="alert alert-info" role="alert">
          <span><i class="fas fa-info-circle me-1"></i> Revisar si su información personal es correcta, de lo contrario,
            contactar con el administrador.
          </span>
        </div>

        <form [formGroup]="datosPersonalesForm">
          <div class="row">
            <div class="col">
              <p><b>Nombre: </b> {{datoPersonal?.nombre | titlecase}} {{datoPersonal?.apellido | titlecase}} </p>
              <p *ngIf="!esCiuadano"><b>Fecha de nacimiento: </b> {{datoPersonal?.fechaNacimiento | date:'dd-MM-yyy' }} </p>
              <mdb-form-control  *ngIf="esCiuadano">
                <input
                  mdbInput
                  mdbValidate
                  [readonly]="true"
                  [mdbDatepicker]="dpFechaNacimiento"
                  type="text"
                  id="fechaNacimiento"
                  class="form-control mb-4"
                  formControlName="fechaNacimiento"
                  (click)="dpFechaNacimiento.open()"
                />
                <label mdbLabel class="form-label mb-2x" for="fechaNacimiento">Fecha de nacimiento:</label>
                <mdb-datepicker-toggle
                  [mdbDatepicker]="dpFechaNacimiento"
                  (click)="fechaNacimientoField.markAsTouched()"
                ></mdb-datepicker-toggle>
                <mdb-datepicker
                  #dpFechaNacimiento="mdbDatepicker"
                  [options]="OPCIONES_DATEPICKER"
                  [inline]="true"
                  [maxDate]="OPCIONES_DATEPICKER.today"
                ></mdb-datepicker>
                <mdb-error
                  *ngIf="fechaNacimientoField.invalid && (fechaNacimientoField?.dirty || fechaNacimientoField?.touched)">
                    <span *ngIf="fechaNacimientoField?.hasError('required')">
                      <i class="fas fa-exclamation-circle mb-1"></i>
                      Este campo es requerido
                    </span>
                </mdb-error>
              </mdb-form-control>
            </div>
            <div class="col">
              <p><b>Correo: </b> {{datoPersonal?.correoPersonal || '-'}}</p>
              <p *ngIf="!esCiuadano"><b>Sexo: </b> {{datoPersonal?.sexo | titlecase}}</p>
              <mdb-form-control class="col" *ngIf="esCiuadano">
                <mdb-select
                  mdbValidate
                  id="sexo"
                  class="mb-4"
                  data-mdb-placeholder="Sexo"
                  formControlName="sexo"
                >
                  <mdb-option value="MASCULINO">Masculino</mdb-option>
                  <mdb-option value="FEMENINO">Femenino</mdb-option>
                </mdb-select>
                <label mdbLabel class="form-label mb-2x" for="sexo">Sexo
                  <span class="text-danger">*</span>
                </label>
                <mdb-error *ngIf="sexoField?.invalid && (sexoField?.dirty || sexoField?.touched)">
                   <span *ngIf="sexoField?.hasError('required')">
                    <i class="fas fa-exclamation-circle mb-1"></i>
                      Este campo es requerido
                   </span>
                </mdb-error>
              </mdb-form-control>
            </div>
          </div>
        </form>
<!--        <button-->
<!--          class="btn btn-primary"-->
<!--          *ngIf="esCiuadano"-->
<!--          (click)="onGuardarDatosPersonales()"-->
<!--          [disabled]="datosPersonalesForm.invalid"-->
<!--        >Guardar datos-->
<!--        </button>-->

        <div class="my-4">
          <div class="form-check">
            <input class="form-check-input"[checked]="esFuncionario" type="checkbox" (click)="toggleRadioEsFuncionario()" id="flexCheckDefault"/>
            <label class="form-check-label" for="flexCheckDefault">¿Es funcionario?</label>
          </div>
        </div>

        <div *ngIf="esFuncionario">
          <form [formGroup]="funcionarioForm">
            <div class="row">
              <h5>Datos Institucionales</h5>
              <hr class="hr hr-blurry">
              <div class="col">
                <!-- Cargo -->
                <mdb-form-control>
                  <mdb-select
                    mdbValidate
                    formControlName="cargo"
                    id="cargo"
                    class="mb-4"
                  >
                    <mdb-option
                      *ngFor="let cargo of cargos"
                      [value]="cargo.codCargo">
                      {{cargo.nombre}}
                    </mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label mb-2x" for="cargo">Cargo</label>
                </mdb-form-control>
                <!-- Estacion trabajo -->
                <mdb-form-control>
                  <mdb-select
                    mdbValidate
                    formControlName="estacionTrabajo"
                    id="estacionTrabajo"
                    class="mb-4"
                  >
                    <mdb-option
                      *ngFor="let estacion of estacionesTrabajo"
                      [value]="estacion.codigo">
                      {{estacion.nombre}}
                    </mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label mb-2x" for="estacionTrabajo">Estación de trabajo</label>
                </mdb-form-control>
              </div>
              <div class="col">
                <!-- Grado -->
                <mdb-form-control>
                  <mdb-select
                    mdbValidate
                    formControlName="grado"
                    id="grado"
                    class="mb-4"
                    (valueChange)="onChangeGrado($event)"
                  >
                    <mdb-option *ngFor="let grado of grados" [value]="grado.codGrado">
                      {{grado.nombre}}
                    </mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label mb-2x" for="grado">Grado</label>
                </mdb-form-control>
                <!-- Rango -->
                <mdb-form-control>
                  <mdb-select
                    mdbValidate
                    formControlName="rango"
                    id="rango"
                    class="mb-4"
                  >
                    <mdb-option *ngFor="let rango of rangos" [value]="rango.codRango">
                      {{rango.nombre}}
                    </mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label mb-2x" for="rango">Rango</label>
                  <mdb-error *ngIf="!rangos?.length" class="text-muted">
                    <i class="fas fa-exclamation-circle"></i>
                    Para seleccionar un rango primero debe seleccionar un grado
                  </mdb-error>
                </mdb-form-control>
              </div>
            </div>
          </form>
          <button
            class="btn btn-primary"
            (click)="onGuardarDatosFuncionario()"
            [disabled]="funcionarioForm.invalid"
          >Guardar datos
          </button>
        </div>

        <hr class="hr"/>

        <div class="mb-3">
          <div class="alert alert-info" role="alert">
            <p><i class="fas fa-info-circle me-1"></i> Indicaciones: <b> Subir el expediente en un solo archivo, en
              formato pdf, que incluya:</b>
            </p>
            <ul class="list-group list-unstyled">
              <li class="mb-1" *ngFor="let requisito of curso.requisitos">
                <i class="fas fa-check-circle me-2 text-success"></i>
                {{ requisito.nombre }}
              </li>
            </ul>
          </div>
          <mdb-form-control [style.width.px]="400">
            <input
              mdbValidate
              mdbInput
              type="file"
              accept="application/pdf"
              class="form-control"
              (change)="agregarArchivo($event)"
              [formControl]="archivoForm"
            >
          </mdb-form-control>
        </div>
        <div class="card">
          <h5 class="card-header text-success">
            <i class="fa-solid fa-check-square me-2"></i>
            Confirmar inscripción
          </h5>
          <div class="card-body text-center">
            <h5 class="card-title">Por favor, confirme su inscripción y que sus datos sean correctos</h5>
            <p class="card-text">Si sus datos son correctos, por favor, presione el botón "Confirmar inscripción"</p>
            <div *ngIf="datoPersonal.correoPersonal === null" class="d-flex justify-content-center mb-4">
              <mdb-form-control [style.width.px]="400">
                <input
                  mdbValidate
                  mdbInput
                  class="form-control"
                  [formControl]="correoPersonal"
                >
                <label mdbLabel class="form-label mb-2x">Correo personal</label>
              </mdb-form-control>
              <button
                [mdbTooltip]="'Guardar correo personal'"
                class="btn btn-primary ms-3"
                (click)="onActualizarCorreoPersonal()"
              >Guardar
              </button>
            </div>
            <button
              [disabled]="esBotonDeshabilitado"
              class="btn btn-success"
              (click)="onConfirmarInscripcion()"
            >Confirmar inscripción
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="esInscripcionCompletada" class="card">
    <h5 class="card-header text-success">
      <i class="fa-solid fa-check-circle me-2"></i>
      Inscripción completada
    </h5>
    <div class="card-body text-center text-success" *ngIf="esInscripcionCompletada">
      <i class="far fa-check-circle fa-5x mb-3"></i>
      <h5 class="card-title">Su inscripción ha sido completada</h5>
    </div>
    <div class="card-footer text-danger">
      <i class="fas fa-info-circle"></i> Puede cerrar esta ventana
    </div>
  </div>
</div>

<mdb-loading [show]="loading" [fullscreen]="true">
  <div class="loading-spinner">
    <div class="spinner-border loading-icon text-light" role="status"></div>
    <span class="loading-text text-light">Cargando datos...</span>

  </div>
</mdb-loading>
