<app-boton-volver></app-boton-volver>

<div class="container">
  <div class="row m-3 text-center">
    <h1 class="fs-4 fw-bolder">Cursos tomados</h1>
  </div>

  <div *ngIf="cursosTomados?.length===0">
    <p class="text-primary">No hay cursos tomados</p>
  </div>

  <div
    *ngIf="esVistaCursosTomados"
    class="row row-cols-1 row-cols-md-3 g-4"
  >
    <a
      *ngFor="let curso of cursosTomados"
      class="col link-dark"
      (click)="verCursoSeleccionado(curso)">
      <div class="card h-100 text-center hover-shadow border">
        <i class="fa-solid fa-calendar fa-5x mt-5 text-success"></i>
        <div class="card-body">
          <h5 class="card-title">{{ curso.nombre }}</h5>
          <p class="card-text">
            Fecha inicio: {{ curso.fechaInicioCurso | date: 'dd/MM/yyyy' }} - Fecha
            Fin: {{ curso.fechaFinCurso | date: 'dd/MM/yyyy' }}
          </p>
        </div>
      </div>
    </a>
  </div>
  <div *ngIf="esVistaCursoSeleccionado">

    <button
      class="btn btn-primary my-4"
      (click)="volverVistaCursosTomados()"
    >
      <i class="fa-solid fa-arrow-left me-2"></i>
      Volver a cursos tomados
    </button>

    <div class="row my-4">
      <hr class="hr">
      <div class="d-flex gap-2">
        <h1 class="fs-4 fw-bolder">CURSO: </h1>
        <h1 class="fs-4 fw-bolder text-primary">{{ cursoSeleccionado?.nombre | uppercase}}</h1>
      </div>
      <div class="d-flex gap-3 my-3">
        <h6>Fecha de inicio: <span
          class="text-muted">{{ cursoSeleccionado?.fechaInicioCurso}}</span>
        </h6>
        <h6>Fecha de fin: <span
          class="text-muted">{{ cursoSeleccionado?.fechaFinCurso}}</span>
        </h6>
      </div>
      <hr class="hr">
      <div>
        <mdb-tabs [justified]="true" [fill]="true">
          <mdb-tab>
            <ng-template mdbTabTitle
            ><span><i class="fas fa-info-circle fa-fw me-2"></i>Información de la materia</span></ng-template
            >

            <div class="my-4">
              <hr class="hr hr-blurry">
              <div>
                <div><p class="text-primary">Usted a aprobado este curso</p></div>
                <div>
                  <button class="btn btn-success" (click)="descargarCertificado()">
                    <i class="fas fa-download me-2"></i>
                    Descargar Certificado
                  </button>
                </div>
              </div>
              <hr class="hr hr-blurry">
            </div>

            <div class="my-4 pt-4">
              <span class="text-primary">Instructor: </span> <span>{{nota?.nombreCompletoInstructor}}</span>
            </div>
            <div class="datatable datatable-striped datatable-hover datatable-sm table-responsive">
              <table
                class="tabla datatable-table"
                mdbTable
              >
                <thead class="datatable-header">
                <tr>
                  <th class="fw-bold fs-6 text-center">Nota Final</th>
                  <th class="fw-bold fs-6 text-center">Nota Supletorio</th>
                </tr>
                </thead>
                <tbody class="datatable-body">
                <!-- Lista de estudiantes -->
                <tr>
                  <td class="text-center">
                    {{ nota?.notaMateria }}
                  </td>
                  <td class="text-center">
                    {{ nota?.notaSupletorio || ' - '}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle
            ><span><i class="fas fa-info-circle fa-fw me-2"></i> Apelación de nota</span></ng-template
            >


            <div class="my-4 pt-4">
              <div class="modal-header">
                <h6 class="modal-title text-primary">
                  <b class="fw-bold"> HACER UNA APELACIÓN </b>
                </h6>
              </div>
              <div class="modal-body px-4">
                <p class="fw-bold">MATERIA: {{nota?.nombreMateria}}</p>
                <form [formGroup]="apelacionForm">
                  <label>Motivo de la apelación</label>
                  <mdb-form-control>
      <textarea
        mdbInput
        mdbValidate
        class="form-control"
        rows="3"
        formControlName="observacionEstudiante"
      ></textarea>
                  </mdb-form-control>
                </form>
                <button
                  type="button"
                  (click)="crearApelacion()"
                  class="btn btn-success btn-sm my-3"
                >
                  <i class="fas fa-save"></i> Crear una apelación
                </button>
                <hr class="hr">

                <!--  <div-->
                <!--    *ngIf="apleaciones?.length > 0"-->
                <!--    class="datatable datatable-hover datatable-sm datatable-striped">-->
                <!--    <form>-->
                <!--      <table-->
                <!--        class="tabla datatable-table"-->
                <!--        mdbTable-->
                <!--        #apelacionesTabla="mdbTable"-->
                <!--        [responsive]="true"-->
                <!--        [dataSource]="apleaciones"-->
                <!--        [pagination]="pagination"-->
                <!--      >-->
                <!--        <thead class="datatable-header">-->
                <!--        <tr>-->
                <!--          <th-->
                <!--            *ngFor="let head of headers"-->
                <!--            class="fw-bold fs-6"-->
                <!--          >-->
                <!--            {{ head.label }}-->
                <!--          </th>-->
                <!--        </tr>-->
                <!--        </thead>-->
                <!--        <tbody class="datatable-body">-->
                <!--        <tr *ngFor="let apelacion of apelacionesTabla.data">-->
                <!--          <td>-->
                <!--            {{ apelacion?.fechaSolicitud | date: 'dd-MM-yyyy' }}-->
                <!--          </td>-->
                <!--          <td>-->
                <!--            {{ apelacion?.observacionEstudiante }}-->
                <!--          </td>-->
                <!--          <td>-->
                <!--            <span *ngIf="apelacion.estado" class="badge rounded-pill badge-success">-->
                <!--              {{ apelacion?.estado }}-->
                <!--            </span>-->
                <!--            <span *ngIf="!apelacion.estado" class="badge rounded-pill badge-success">-->
                <!--              {{ apelacion?.estado }}-->
                <!--            </span>-->
                <!--          </td>-->
                <!--        </tr>-->
                <!--        </tbody>-->
                <!--      </table>-->
                <!--      <mdb-table-pagination-->
                <!--        #pagination-->
                <!--        [entries]="10"-->
                <!--        [rowsPerPageText]="'Registros por página'"-->
                <!--      ></mdb-table-pagination>-->
                <!--    </form>-->
                <!--  </div>-->
                <!--  <div *ngIf="apleaciones?.length === 0">-->
                <!--    <div class="alert alert-info" role="alert">-->
                <!--      <i class="fa-solid fa-info-circle me-2"></i>-->
                <!--      No se encontraron apelaciones para esta materia-->
                <!--    </div>-->
                <!--  </div>-->

              </div>

              <div>
                <h6 class="modal-title text-primary">
                  <b class="fw-bold"> APELACIONES </b>
                </h6>
                <hr>
                <p> La apelación registrada fue <span class="fw-bold">Negada</span></p>
              </div>

            </div>

          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle
            ><span><i class="fas fa-file fa-fw me-2"></i>Documentos asociados</span></ng-template
            >
            <div class="container my-4">
              <div class="row m-3 text-center">
                <h1 class="fs-4 fw-bolder">Repositorio del curso</h1>
              </div>
              <button
                class="btn btn-primary mb-3"
                (click)="addRow = true"
                [disabled]="estaEditando"
              >
                <i class="fa-solid fa-circle-plus me-2"></i>
                Cargar documento
              </button>

              <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm">
                <form [formGroup]="documentoForm">
                  <table
                    class="table datatable-table"
                    mdbTable
                    mdbTableSort
                    #table="mdbTable"
                    [dataSource]="documentos"
                  >
                    <thead class="datatable-header">
                    <tr>
                      <th *ngFor="let header of headers" scope="col" class="fw-bold" [mdbTableSortHeader]="header.key">
                        <b> {{ header.label | titlecase }}</b>
                      </th>
                      <th scope="col" class="text-center fw-bold"><b>Acciones</b></th>
                    </tr>
                    </thead>
                    <tbody class="datatable-body">
                    <!-- Add new row -->
                    <tr *ngIf="addRow">
                      <td>
                        <mdb-form-control>
                          <input
                            mdbValidate
                            accept="application/pdf"
                            mdbInput
                            type="file"
                            class="form-control"
                            formControlName="archivo"
                            (change)="cargarArchivo($event)"
                          />
                        </mdb-form-control>
                      </td>
                      <td>
                        <mdb-form-control>
              <textarea
                mdbValidate
                mdbInput
                type="text"
                class="form-control"
                formControlName="descripcion"
              ></textarea>
                        </mdb-form-control>
                      </td>
                      <td class="text-center">
                        <button
                          class="me-3 m-0 p-0 shadow-0 btn btn-lg text-success"
                          id="btnRegistrar"
                          type="submit"
                          [disabled]="documentoForm.invalid"
                          (click)="guardarArchivo()"
                        >
                          <i class="fa fa-check"></i> Agregar
                        </button>
                        <button
                          class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                          (click)="addRow = false"
                        >
                          <i class="fa fa-ban"></i> Cancelar
                        </button>
                      </td>
                    </tr>
                    <!-- Data -->
                    <tr *ngFor="let documento of table.data; let i = index">
                      <td>
                        <ng-container *ngIf="!estaEditando || codigoDocumentoEditando !== documento.codDocumento">
                          {{ i + 1 || documento?.nombre}}
                        </ng-container>
                        <ng-container *ngIf="estaEditando && codigoDocumentoEditando === documento.codDocumento">
                          <input
                            mdbInput
                            mdbValidate
                            type="file"
                            accept="application/pdf"
                            class="form-control"
                            id="archivo"
                            (change)="cargarArchivo($event)"
                          />
                          <ng-container *ngIf="documentoForm.get('archivo').value">
                            <div>
                              <p class="fw-bold mb-0 mt-2">Nombre del documento actual: </p>
                              <p
                                class="badge rounded-pill badge-primary f px-3 py-2">{{ documentoForm.get('archivo').value }}</p>
                            </div>
                          </ng-container>
                        </ng-container>
                      </td>
                      <td>
                        <ng-container *ngIf="!estaEditando || codigoDocumentoEditando !== documento.codDocumento">
                          {{ documento.descripcion }}
                        </ng-container>
                        <ng-container *ngIf="estaEditando && codigoDocumentoEditando === documento.codDocumento">
                          <mdb-form-control>
                <textarea
                  mdbValidate
                  mdbInput
                  type="text"
                  class="form-control"
                  formControlName="descripcion"
                ></textarea>
                          </mdb-form-control>
                        </ng-container>
                      </td>
                      <td class="text-center">
                        <ng-container *ngIf="!estaEditando || codigoDocumentoEditando !== documento.codDocumento">
                          <button
                            mdbTooltip="Descargar documento"
                            class="me-3 m-0 p-0 shadow-0 btn btn-lg text-dark"
                            [disabled]="estaEditando"
                            (click)="descargarArchivoEsp(documento)"
                          >
                            <i class="fa fa-download"></i>
                          </button>
                          <button
                            mdbTooltip="Eliminar registro"
                            class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                            [disabled]="estaEditando"
                            (click)="eliminar(documento.codEstudianteMateriaDocumento)"
                          >
                            <i class="fa fa-trash-alt"></i>
                          </button>
                        </ng-container>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </form>
              </div>

            </div>


            <div class="container my-4">
              <div class="row m-3 text-center">
                <h1 class="fs-4 fw-bolder">Archivos subidos por el instructor</h1>
              </div>


              <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm">
                  <table
                    class="table datatable-table"
                    mdbTable
                    mdbTableSort
                    #tableRepo="mdbTable"
                    [dataSource]="documentosRepo"
                  >
                    <thead class="datatable-header">
                    <tr>
                      <th *ngFor="let header of headers" scope="col" class="fw-bold" [mdbTableSortHeader]="header.key">
                        <b> {{ header.label | titlecase }}</b>
                      </th>
                      <th scope="col" class="text-center fw-bold"><b>Acciones</b></th>
                    </tr>
                    </thead>
                    <tbody class="datatable-body">

                    <!-- Data -->
                    <tr *ngFor="let documento of tableRepo.data; let i = index">
                      <td>
                        <ng-container>
                          {{  documento?.nombre? documento.nombre : 'Documento ' + (i + 1) }}
                        </ng-container>
                      </td>
                      <td>
                        <ng-container>
                          {{ documento.descripcion }}
                        </ng-container>
                      </td>
                      <td class="text-center">
                        <ng-container>
                          <button
                            mdbTooltip="Descargar documento"
                            class="me-3 m-0 p-0 shadow-0 btn btn-lg text-dark"
                            [disabled]="estaEditando"
                            (click)="descargarArchivoEsp(documento)"
                          >
                            <i class="fa fa-download"></i>
                          </button>
                        </ng-container>
                      </td>
                    </tr>
                    </tbody>
                  </table>
              </div>

            </div>



          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle
            ><span><i class="fas fa-message fa-fw me-2"></i>Chat con el instructor</span></ng-template
            >
            <div class="chat-container my-4">
              <div class="chat-header">
                <h3>Chat con el instructor</h3>
              </div>
              <div class="chat-messages">
                <div class="message incoming">
                  <p>Hola, ¿en qué puedo ayudarte hoy?</p>
                </div>
                <div class="message outgoing">
                  <p>¡Hola! Tengo una sobre mi nora .</p>
                </div>
              </div>
              <div class="chat-input">
                <input type="text" placeholder="Escribe un mensaje..."/>
                <button class="btn btn-primary">
                  <i class="fas fa-paper-plane me-2"></i>
                  Enviar
                </button>
              </div>
            </div>
          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle
            ><span><i class="fas fa-chart-pie fa-fw me-2"></i>Encuesta al instructor</span></ng-template
            >
            <app-estudiante-evalucion-curso
              [curso]="cursoSeleccionado"
              [estudiante]="estudiante"
            ></app-estudiante-evalucion-curso>
          </mdb-tab>
        </mdb-tabs>
      </div>
    </div>
  </div>


</div>
