<div class="container">
  <div class="row m-3 text-center">
    <h1 class="fs-4 fw-bolder">Ficha personal </h1>
  </div>
  <mdb-tabs [vertical]="true">
    <mdb-tab title="Estudiante">
      <ng-template mdbTabTitle><span>Estudiante</span></ng-template>

      <div>
        <mdb-tabs (activeTabChange)="onTabChange($event)">
          <mdb-tab>
            <ng-template mdbTabTitle><span><i class="fas fa-file-circle-check fa-fw me-2"></i>FORMACIÓN</span>
            </ng-template>
            <div
              class="row row-cols-1 row-cols-md-3 g-4"
              *ngIf="esVistaMenu"
            >
              <a class="col link-dark" (click)="verTablaNotasPorMateria()">
                <div class="card h-100 text-center hover-shadow border">
                  <i class="fa-solid fa-check-square fa-5x mt-5 text-success"></i>
                  <div class="card-body">
                    <h5 class="card-title">Notas por materia</h5>
                    <p class="card-text">
                      Notas por materia de formación
                    </p>
                  </div>
                </div>
              </a>
              <a class="col link-dark" (click)="verApelaciones()">
                <div class="card h-100 text-center hover-shadow border">
                  <i class="fa-solid fa-warning fa-5x mt-5 text-danger"></i>
                  <div class="card-body">
                    <h5 class="card-title">Apelaciones</h5>
                    <p class="card-text">
                      Apelaciones de notas
                    </p>
                  </div>
                </div>
              </a>

              <!--              <a class="col link-dark" (click)="verSubidaDocumentos()">-->
              <!--                <div class="card h-100 text-center hover-shadow border">-->
              <!--                  <i class="fas fa-file fa-5x mt-5 text-primary"></i>-->
              <!--                  <div class="card-body">-->
              <!--                    <h5 class="card-title">Subida de archivos</h5>-->
              <!--                    <p class="card-text">-->
              <!--                      Subida de archivos, sube tus archivos-->
              <!--                    </p>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </a>-->

              <a class="col link-dark" (click)="verCalendario()">
                <div class="card h-100 text-center hover-shadow border">
                  <i class="fas fa-calendar fa-5x mt-5 text-info"></i>
                  <div class="card-body">
                    <h5 class="card-title">Calendario</h5>
                    <p class="card-text">
                      Calendario de actividades
                    </p>
                  </div>
                </div>
              </a>

            </div>
            <div *ngIf="esVistaTablaDeNotas">
              <button
                class="btn btn-primary my-4"
                (click)="regresarVistaMenu()"
              >
                <i class="fa fa-arrow-left fa-fw me-2"></i>Regresar
              </button>

              <div class="my-4">
                <hr class="hr hr-blurry">
                <div>
                  <div><p class="text-primary">Usted a aprobado el periodo de formación con un promedio de</p></div>
                  <div>
                    <button class="btn btn-success" (click)="descargarCertificado()">
                      <i class="fas fa-download me-2"></i>
                      Descargar Certificado
                    </button>
                  </div>
                </div>
                <hr class="hr hr-blurry">
              </div>

              <div class="datatable datatable-striped datatable-hover datatable-sm table-responsive">
                <table
                  class="tabla datatable-table"
                  mdbTable
                  #datatableNotasPorMateria
                  [dataSource]="notasMateriaPorEstudiante"
                  [pagination]="paginationNotas"
                >
                  <thead class="datatable-header">
                  <tr>
                    <th *ngFor="let head of headersNotasPorEstudiante; let i = index" class="fw-bold fs-6">
                      {{ head.label }}
                    </th>
                    <th class="text-center fw-bold fs-6">Acciones</th>
                  </tr>
                  </thead>
                  <tbody class="datatable-body">
                  <!-- Lista de estudiantes -->
                  <tr *ngFor="let nota of datatableNotasPorMateria.data">
                    <td>
                      <div class="fw-bold text-primary">
                        {{ nota.nombreMateria | uppercase }}
                      </div>
                      <div class="text-muted text-wrap">
                        <b class="fw-bold">COORDINADOR:</b> {{ nota.nombreCompletoInstructor | uppercase }}
                      </div>
                    </td>
                    <td class="text-center">
                      {{ nota.notaMateria }}
                    </td>
                    <td class="text-center">
                      {{ nota.notaDisciplina }}
                    </td>
                    <td class="text-center">
                      {{ nota.notaSupletorio }}
                    </td>
                    <td class="text-center">
                      <button
                        [mdbTooltip]="'Apelar Nota'"
                        class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark "
                        (click)="onApelarNota(nota)"
                      >
                        <i class="fa fa-file-edit"></i>
                      </button>

                      <button
                        [mdbTooltip]="'Ver repositorio de materia'"
                        class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark "
                        (click)="abrirRepositorioMateria(nota)"
                      >
                        <i class="fa fa-eye"></i>
                      </button>

                    </td>

                  </tr>
                  </tbody>
                </table>
                <mdb-table-pagination
                  #paginationNotas
                  [entries]="10"
                  [rowsPerPageText]="'Registros por página'"
                ></mdb-table-pagination>
              </div>
            </div>
            <div *ngIf="esVistaApelaciones">
              <button
                class="btn btn-primary my-4"
                (click)="regresarVistaMenu()"
              >
                <i class="fa fa-arrow-left fa-fw me-2"></i>Regresar
              </button>

              <div
                *ngIf="apelaciones?.length > 0"
                class="datatable datatable-hover datatable-sm datatable-striped">
                <form>
                  <table
                    class="tabla datatable-table"
                    mdbTable
                    #apelacionesTabla="mdbTable"
                    [responsive]="true"
                    [dataSource]="apelaciones"
                    [pagination]="pagination"
                  >
                    <thead class="datatable-header">
                    <tr>
                      <th
                        *ngFor="let head of headers"
                        class="fw-bold fs-6"
                      >
                        {{ head.label }}
                      </th>
                    </tr>
                    </thead>
                    <tbody class="datatable-body">
                    <tr *ngFor="let apelacion of apelacionesTabla.data">
                      <td [style.width.px]="75">
                        {{ apelacion?.fechaSolicitud | date: 'dd-MM-yyyy' }}
                      </td>
                      <td class="text-primary text-wrap" [style.width.px]="150">
                        {{ apelacion?.nombreMateria | uppercase }}
                      </td>
                      <td>
                        <div>
                          <p class="p-0 m-0"><b class="fw-bold">Nota anterior: </b> {{ apelacion.notaActual}}</p>
                          <p><b class="fw-bold">Nota nueva: </b> {{ apelacion.notaNueva || 'N/A'}}</p>
                        </div>
                      </td>
                      <td>
                        {{ apelacion?.observacionEstudiante }}
                        <div>
                          <p class="p-0 m-0"><b class="fw-bold">Observación
                            instructor: </b> {{ apelacion.observacionInstructor || 'N/A'}}</p>
                        </div>
                      </td>
                      <td>
                          <span *ngIf="apelacion.aprobacion && true" class="badge rounded-pill badge-success">
                            Aprobada
                          </span>
                        <span *ngIf="apelacion.aprobacion === false" class="badge rounded-pill badge-danger">
                            Rechazada
                          </span>
                        <span *ngIf="apelacion.aprobacion === null"
                              class="badge rounded-pill badge-warning">
                            Pendiente
                          </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <mdb-table-pagination
                    #pagination
                    [entries]="10"
                    [rowsPerPageText]="'Registros por página'"
                  ></mdb-table-pagination>
                </form>
              </div>
              <div *ngIf="apelaciones?.length === 0">
                <div class="alert alert-info" role="alert">
                  <i class="fa-solid fa-info-circle me-2"></i>
                  No se encontraron apelaciones
                </div>
              </div>
            </div>
            <div *ngIf="esVistaSubidaDocumentos">
              <button
                class="btn btn-primary my-4"
                (click)="regresarVistaMenu()"
              >
                <i class="fa fa-arrow-left fa-fw me-2"></i>Regresar
              </button>
              <div
                *ngIf="apelaciones?.length > 0"
                class="datatable datatable-hover datatable-sm datatable-striped">
                <form>
                  <table
                    class="tabla datatable-table"
                    mdbTable
                    #apelacionesTabla="mdbTable"
                    [responsive]="true"
                    [dataSource]="apelaciones"
                    [pagination]="pagination"
                  >
                    <thead class="datatable-header">
                    <tr>
                      <th
                        *ngFor="let head of headers"
                        class="fw-bold fs-6"
                      >
                        {{ head.label }}
                      </th>
                    </tr>
                    </thead>
                    <tbody class="datatable-body">
                    <tr *ngFor="let apelacion of apelacionesTabla.data">
                      <td [style.width.px]="75">
                        {{ apelacion?.fechaSolicitud | date: 'dd-MM-yyyy' }}
                      </td>
                      <td class="text-primary text-wrap" [style.width.px]="150">
                        {{ apelacion?.nombreMateria | uppercase }}
                      </td>
                      <td>
                        <div>
                          <p class="p-0 m-0"><b class="fw-bold">Nota anterior: </b> {{ apelacion.notaActual}}</p>
                          <p><b class="fw-bold">Nota nueva: </b> {{ apelacion.notaNueva || 'N/A'}}</p>
                        </div>
                      </td>
                      <td>
                        {{ apelacion?.observacionEstudiante }}
                        <div>
                          <p class="p-0 m-0"><b class="fw-bold">Observación
                            instructor: </b> {{ apelacion.observacionInstructor || 'N/A'}}</p>
                        </div>
                      </td>
                      <td>
                          <span *ngIf="apelacion.aprobacion && true" class="badge rounded-pill badge-success">
                            Aprobada
                          </span>
                        <span *ngIf="apelacion.aprobacion === false" class="badge rounded-pill badge-danger">
                            Rechazada
                          </span>
                        <span *ngIf="apelacion.aprobacion === null"
                              class="badge rounded-pill badge-warning">
                            Pendiente
                          </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <mdb-table-pagination
                    #pagination
                    [entries]="10"
                    [rowsPerPageText]="'Registros por página'"
                  ></mdb-table-pagination>
                </form>
              </div>
              <div *ngIf="apelaciones?.length === 0">
                <div class="alert alert-info" role="alert">
                  <i class="fa-solid fa-info-circle me-2"></i>
                  No se encontraron apelaciones
                </div>
              </div>
            </div>
            <div *ngIf="esVistaCalendario">
              <button
                class="btn btn-primary my-4"
                (click)="regresarVistaMenu()"
              >
                <i class="fa fa-arrow-left fa-fw me-2"></i>Regresar
              </button>
              <div>
                <p class="text-primary">
                  <i class="fas fa-calendar me-2"></i>
                  Calendario de actividades</p>
                <app-calendario-formacion></app-calendario-formacion>
              </div>
            </div>
          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle
            ><span><i class="fas fa-chart-line fa-fw me-2"></i>ESPECIALIZACIÓN</span></ng-template
            >

            <div
              class="row row-cols-1 row-cols-md-3 g-4"
            >
              <a class="col link-dark" routerLink="/principal/especializacion/cronograma">
                <div class="card h-100 text-center hover-shadow border">
                  <i class="fa-solid fa-calendar fa-5x mt-5 text-success"></i>
                  <div class="card-body">
                    <h5 class="card-title">Cronograma de cursos</h5>
                    <p class="card-text">
                      Ver el cronograma de cursos de la especialización
                    </p>
                  </div>
                </div>
              </a>

              <a class="col link-dark" (click)="verCursosTomados()">
                <div class="card h-100 text-center hover-shadow border">
                  <i class="fa-solid fa-user-circle fa-5x mt-5 text-muted"></i>
                  <div class="card-body">
                    <h5 class="card-title">Cursos tomados</h5>
                    <p class="card-text">
                      Ver los cursos tomados en la especialización
                    </p>
                  </div>
                </div>
              </a>
            </div>

          </mdb-tab>
          <mdb-tab>
            <ng-template mdbTabTitle
            ><span><i class="fas fa-cogs fa-fw me-2"></i>PROFECIONALIZACIÓN</span></ng-template
            >
            Tab content 3
          </mdb-tab>
        </mdb-tabs>
      </div>


    </mdb-tab>
    <mdb-tab title="Instructor">
    </mdb-tab>
  </mdb-tabs>
</div>

