<div class="container">
  <p class="fs-4 fw-bolder">Proceso de especialización</p>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-rocket fa-5x mt-5 text-success text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Inicio Proceso</h5>
            <p class="card-text">Creación de cursos</p>
          </div>
        </div>
      </a>
    </div>


    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-address-card fa-5x mt-5 text-primary text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Registro de Inscritos</h5>
            <p class="card-text">Registros de los inscritos</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-chalkboard-teacher fa-5x mt-5 text-warning text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Materias + Semestres </h5>
            <p class="card-text">Materias y semestres</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-file-circle-check fa-5x mt-5 text-danger text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Registro de Notas</h5>
            <p class="card-text">Registro de Notas</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-building-shield fa-5x mt-5 text-dark text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Registro Proyecto Final o Examen Complexivo</h5>
            <p class="card-text">Gestión de cursos</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
