<!-- Container principal -->
<div class="container">
    <div class="row text-center">
      <!-- Primera columna -->
      <div class="col-md">
        <h3>Datos postulante</h3>
        <hr class="hr hr-blurry" />
<!-- Inicio datos iniciales -->
        <div class="container">
          <div class="row text-start">
          <h5>Datos iniciales:</h5>

            <div class="col-md">
            <mdb-form-control>
              <small>Cédula: </small><br>
              <label for="">
               <strong>{{cedula}} </strong>
              </label>
            </mdb-form-control>
            <mdb-form-control>
              <small>Apellidos: </small><br>
              <label for="">
               <strong>{{apellidos}} </strong>
              </label>
            </mdb-form-control>
            <mdb-form-control>
              <small>Nombres: </small><br>
              <label for="">
               <strong>{{nombres}} </strong>
              </label>
            </mdb-form-control>
          </div>
          <div class="col-md">
            <mdb-form-control>
              <small>Email: </small><br>
              <label for="">
               <strong>{{email}} </strong>
              </label>
            </mdb-form-control>
            <mdb-form-control>
              <small>Sexo: </small><br>
              <label for="">
               <strong>{{sexo}} </strong>
              </label>
            </mdb-form-control>
            <mdb-form-control>
              <small>Fecha de Nacimiento: </small><br>
              <label for="">
               <strong>{{fechaNacimiento}} </strong>
              </label>
            </mdb-form-control>
          </div>
          <div class="col-md">
            <mdb-form-control>
              <small>Teléfono celular: </small><br>
              <label for="">
               <strong>{{telCelular}} </strong>
              </label>
            </mdb-form-control>
            <mdb-form-control>
              <small>Teléfono convencional: </small><br>
              <label for="">
               <strong>{{telConvencional}} </strong>
              </label>
            </mdb-form-control>
          </div>
        </div>
      </div>
      <hr class="hr hr-blurry" />
<!-- fin datos iniciales -->
<!-- inicio datos nacionalidad -->
<div class="container">
  <div div class="row text-start" >
    <h5>Datos Nacionalidad:</h5>
    <div class="col-md">
      <mdb-form-control>
        <small>Nacionalidad: </small><br>
        <label for="">
         <strong>{{nacionalidad}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">
      <mdb-form-control>
        <small>Provincia de Nacimiento:</small><br>
        <label for="">
         <strong>{{provinciaNacimiento}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">
      <mdb-form-control>
        <small>Cantón de Nacimiento:</small><br>
        <label for="">
         <strong>{{cantonNacimiento}} </strong>
        </label>
      </mdb-form-control>
    </div>
  </div>
</div>
<hr class="hr hr-blurry" />
<!-- fin datos nacionalidad -->
<!-- inicio datos residencia -->
<div class="container">
  <div div class="row text-start" >
    <h5>Datos Residencia:</h5>
    <div class="col-md">
      <mdb-form-control>
        <small>Provincia de Residencia:</small><br>
        <label for="">
         <strong>{{provinciaResidencia}} </strong>
        </label>
      </mdb-form-control>
      <mdb-form-control>
        <small>Calle Principal:</small><br>
        <label for="">
         <strong>{{callePrincipal}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">

      <mdb-form-control>
        <small>Cantón de Residencia</small><br>
        <label for="">
         <strong>{{cantonResidencia}} </strong>
        </label>
      </mdb-form-control>
      <mdb-form-control>
        <small>Calle Secundaria</small><br>
        <label for="">
         <strong>{{calleSecundaria}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">
      <mdb-form-control>
        <small>Dirección actual:</small><br>
        <label for="">
         <strong>{{direccionActual}} </strong>
        </label>
      </mdb-form-control>
      <mdb-form-control>
        <small>Número de casa o lote:</small><br>
        <label for="">
         <strong>{{numeroCasa}} </strong>
        </label>
      </mdb-form-control>
    </div>
  </div>
</div>
<hr class="hr hr-blurry" />
<!-- fin datos residencia -->
<div class="container">
  <div div class="row text-start" >
    <h5>Titulo de Bachiller:</h5>
    <div class="col-md">
      <mdb-form-control>
        <small>País donde obtuvo título:</small><br>
        <label for="">
         <strong>{{paisTitulo}} </strong>
        </label>
      </mdb-form-control>
      <mdb-form-control>
        <small>Ciudad donde obtuvo título:</small><br>
        <label for="">
         <strong>{{ciudadTitulo}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">
      <mdb-form-control>
        <small>Colegio donde obtuvo título:</small><br>
        <label for="">
         <strong>{{colegioTitulo}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">
      <mdb-form-control>
        <small>Nombre del título:</small><br>
        <label for="">
         <strong>{{nombreTitulo}} </strong>
        </label>
      </mdb-form-control>
    </div>
  </div>
</div>
<hr class="hr hr-blurry" />
<!-- fin titulo bachiller -->
<!-- inicio méritos -->
<div class="container">
  <div div class="row text-start" >
    <h5>Méritos:</h5>
    <div class="col-md">
      <mdb-form-control>
        <small>Mérito Deportivo:</small><br>
        <label for="">
         <strong>{{meritoDeportivo}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">
      <mdb-form-control>
        <small>Mérito Académico:</small><br>
        <label for="">
         <strong>{{meritoAcademico}} </strong>
        </label>
      </mdb-form-control>
    </div>
    <div class="col-md">

    </div>
  </div>
</div>
<hr class="hr hr-blurry" />
<!-- fin méritos -->
<div class="container">
  <div div class="row text-start" >
    <h5>Expediente:</h5>
    <div class="col-md">
      <button class="btn btn-primary" (click)="downloadFile()"><i class="fas fa-file-download"> Abrir expediente </i></button>

    </div>
  </div>
</div>


          <!-- <button
            type="button"
            class="shadow-0 btn btn-md btn-primary"
            (click)="saveData()"
          >
            Save
          </button> -->

    </div>
    <!-- fin columna 1 -->
    <div class="vr vr-blurry" style="height: 800px; width: 1px;"></div>
    <!-- inicio columna 2 -->
    <div class="col-md">
      <!-- inicio título validación -->
      <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h3 style="text-align: center; flex: 1;">Validación</h3>
          <button
          type="button"
          class="btn btn-danger"
          (click)="modalRef.close()"
        >
          Cerrar
        </button>
        </div>
      </div>
<!-- fin título validación -->
      <hr class="hr hr-blurry" />
      <div class="container">
        <div class="row text-start">
          <h5>Lista de requisitos:</h5>
          <div class="col-md">

          </div>

        </div>
      </div>


    </div>
  </div>



