<app-boton-volver></app-boton-volver>

<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Gestión Tipo Proyecto</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <button
      id="btnAgregarFila"
      class="btn btn-primary btn-sm mb-3"
      [disabled]="estaEditando"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="search-input"
        [disabled]="estaEditando"
        (keyup)="search($event)"
      />
      <label mdbLabel class="form-label" for="search-input">Buscar</label>
    </mdb-form-control>
    <hr/>

    <div class="datatable table-editor mt-4">
      <form #form="ngForm">
        <table
          class="table table-sm datatable-table"
          id="tipoProyectoTbl"
          mdbTable
          mdbTableSort
          #table="mdbTable"
          [dataSource]="tipoProyectos"
          [pagination]="pagination"
        >
          <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header"
              scope="col"
              class="text-wrap"
            >
              {{ header | titlecase }}
            </th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>

          <tbody class="datatable-body">
          <tr *ngIf="addRow">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="registroNombre"
                  name="nombreTipo"
                  type="text"
                  class="form-control"
                  [(ngModel)]="tipoProyecto.nombreTipo"
                  required
                  #nombreTipo="ngModel"
                  (change)="validacionUtil.onInputChange($event, 'catalogo', nombreTipo)"
                />
              </mdb-form-control>
            </td>

            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                id="btnRegistrar"
                type="submit"
                (click)="crear(form.value); addRow = false;"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button
                name="añadir"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let tipoProyecto of table.data; let index = index">
            <td style="min-width: 50px">
              <ng-container *ngIf="!estaEditando || codigoTipoProyectoEditando !== tipoProyecto.codigo">
                <div class="text-wrap">
                  {{ tipoProyecto.nombreTipo }}
                </div>
              </ng-container>
              <ng-container *ngIf="estaEditando && codigoTipoProyectoEditando === tipoProyecto.codigo">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombre"
                    name="nombreTipo"
                    type="text"
                    class="form-control"
                    [(ngModel)]="tipoProyectoEditForm.nombreTipo"
                    #nombreTipo="ngModel"
                    required
                    (change)="
                        validacionUtil.onInputChange($event, 'catalogo', nombreTipo)
                      "
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td>
              <ng-container
                *ngIf="!estaEditando || codigoTipoProyectoEditando !== tipoProyecto.codigo"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(tipoProyecto); estaEditando = true"
                  [disabled]="estaEditando"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="confirmarEliminar($event, tipoProyecto.codigo)"
                  [disabled]="estaEditando"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="estaEditando && codigoTipoProyectoEditando === tipoProyecto.codigo">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(tipoProyecto, form.value)"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <mdb-table-pagination
          #pagination
          [entries]="10"
          [rowsPerPageText]="'Registros por página'"
          (paginationChange)="onPaginationChange($event)"
        ></mdb-table-pagination>
      </form>
    </div>
  </div>
</div>
