<app-boton-volver></app-boton-volver>

<!-- Título de componente-->
<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Asignación de roles a usuario</p>
  </div>
</div>

<!---------------------------->
<!-- Formulario de búsqueda de usuario -->
<!---------------------------->

<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <form #form="ngForm" novalidate (ngSubmit)="buscarUsuarios(form.value)">
      <mdb-form-control class="my-5">
        <input
          mdbInput
          type="text"
          id="frmIdentificacion"
          name="nombreUsuario"
          class="form-control"
          [ngModel]="usuarioFrm.nombreUsuario"
          [ngModelOptions]="{ updateOn: 'blur' }"
          #frmIdentificacion="ngModel"
        />
        <label mdbLabel class="form-label" for="frmIdentificacion"
          >Identificación</label
        >
      </mdb-form-control>

      <mdb-form-control class="my-5">
        <input
          mdbInput
          type="text"
          id="frmNombres"
          name="nombre"
          class="form-control"
          [ngModel]="usuarioFrm.nombre"
          [ngModelOptions]="{ updateOn: 'blur' }"
          #frmNombres="ngModel"
        />
        <label mdbLabel class="form-label" for="frmNombres">Nombres</label>
      </mdb-form-control>

      <mdb-form-control class="my-5">
        <input
          mdbInput
          type="text"
          id="frmApellidos"
          name="apellido"
          class="form-control"
          [ngModel]="usuarioFrm.apellido"
          [ngModelOptions]="{ updateOn: 'blur' }"
          #frmApellidos="ngModel"
        />
        <label mdbLabel class="form-label" for="frmApellidos">Apellidos</label>
      </mdb-form-control>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || showLoading"
      >
        <span
          *ngIf="showLoading"
          class="spinner-border spinner-border-sm me-2"
          role="status"
          aria-hidden="true"
        ></span>
        <span *ngIf="showLoading">Espere...</span>
        <span *ngIf="!showLoading">Buscar</span>
      </button>
    </form>
  </div>
</div>

<!-------------------------------->
<!-- FIN Formulario de búsqueda -->
<!-------------------------------->

<hr class="hr hr-blurry" />

<!-- Resutados de la búsqueda -->
<div class="row d-flex justify-content-center" *ngIf="usuarios.length > 0">
  <div class="col-md-6 text-center">
    
    <p class="fs-5 fw-bolder">Resultados</p>
      

    <div class="datatable mt-4">
      <table
        class="table datatable-table datatable-sm table-responsive"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="usuarios"
        [sort]="sort"
        [pagination]="pagination"
      >
        <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headersUsuarios"
              [mdbTableSortHeader]="header"
              scope="col"
              class="fw-bold"
            >
              {{ header | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr
            *ngFor="let data of table.data"
            scope="row"
            (click)="onRowClick(data)"
            [class.active]="usuarioSeleccionado === data"
          >
            <td>
              {{ data.codDatosPersonales["nombre"] }}
            </td>
            <td>
              {{ data.codDatosPersonales["apellido"] }}
            </td>
            <td>
              {{ data.nombreUsuario }}
            </td>
          </tr>
        </tbody>
      </table>
      <mdb-table-pagination #pagination></mdb-table-pagination>
    </div>
  </div>
  <hr class="hr hr-blurry" />
</div>
<!-- FIN Resultados -->

<div class="row d-flex justify-content-center" *ngIf="hayUsuarioSeleccionado()">
  <div class="col-md-6 text-center">
    <div>
      <p>
        Usuario actual:
        <strong ms-2>{{ usuarioSeleccionado.nombreUsuario }}</strong>
      </p>
    </div>

    <!-- LISTA DE ROLES -->

    <div class="datatable datatable-sm table-responsive">
      <table
        class="table datatable-table"
        mdbTable
        #table="mdbTable"
        [dataSource]="rolesAsignados"
      >
        <thead class="datatable-header">
          <tr>
            <th scope="col">
              <!-- <div class="form-check d-flex align-items-center mb-0">
                  <input
                    mdbCheckbox
                    class="datatable-header-checkbox form-check-input"
                    type="checkbox"
                    [checked]="allRowsSelected()"
                    (checkboxChange)="toggleAll($event)"
                  />
                </div>
                 -->
              Asignado
            </th>
            <th *ngFor="let header of headersRoles" scope="col">
              {{ header | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr *ngFor="let rolAsignado of table.data" scope="row">
            <td>
              <div class="form-check d-flex align-items-center mb-0">
                <input
                  mdbCheckbox
                  (click)="$event.stopPropagation()"
                  (checkboxChange)="toggleSelection($event, rolAsignado)"
                  [checked]="rolAsignado.asignado"
                  class="datatable-row-checkbox form-check-input"
                  type="checkbox"
                />
              </div>
            </td>
            <td>
              {{ rolAsignado.nombre }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Botones de acción -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
      <!--button class="btn btn-primary me-md-2" type="button">Button</button -->
      <button class="btn btn-primary" type="button" (click)="guardarCambios()">
        Guardar cambios
      </button>
    </div>
  </div>
</div>
