<div class="container">
  <p class="fs-4 fw-bolder">Menú Administración</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <menu-item *ngFor="let item of listaSubMenu" [menu]="item"></menu-item>
  </div>
</div>

  <!-- <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-users fa-5x mt-5 text-warning text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <p class="card-text">Gestión de usuarios de la plataforma</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/admin/rol" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-users fa-5x mt-5 text-warning text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Roles</h5>
            <p class="card-text">Gestión de roles de la plataforma</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/admin/menuRol" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-users fa-5x mt-5 text-warning text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Menús por rol</h5>
            <p class="card-text">Asignación de menús a roles</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/admin/roles-usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-users-between-lines fa-5x mt-5 text-info text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Roles - Usuarios</h5>
            <p class="card-text">
              Asignación de usuarios a roles de la plataforma
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/modulo" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-puzzle-piece fa-5x mt-5 text-primary text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Módulos</h5>
            <p class="card-text">
              Gestión de módulos de la plataforma
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/admin/menu" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-puzzle-piece fa-5x mt-5 text-primary text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Menú</h5>
            <p class="card-text">
              Gestión de menús de la plataforma
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
 -->
