<app-boton-volver></app-boton-volver>

<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Catálogo de Estados</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6 ">

    <!-- Button to add a register-->
    <button
      class="btn btn-primary btn-sm mb-2"
      id="btnAgregarFila"
      [disabled]="estaEditando"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i>&nbsp;Agregar
    </button>
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="search-input"
        [disabled]="estaEditando"
        (keyup)="search($event)"
      />
      <label mdbLabel class="form-label" for="search-input">Buscar</label>
    </mdb-form-control>
    <hr/>



    <!-- Table -->
    <div class="datatable table-editor mt-3 datatable-striped datatable-hover datatable-sm">
      <form #form="ngForm">
        <table
          class="table table-sm datatable-table"
          id="tblSemestre"
          mdbTable
          mdbTableSort
          #table="mdbTable"
          [pagination]="pagination"
          [dataSource]="catalogos"
          [filterFn]="filterFn"
        >
          <thead class="datatable-header">
          <tr>

            <th
              *ngFor="let header of headers"
              scope="col"
              class="text-start"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th scope="col" class="text-center fw-bold">Acciones</th>
          </tr>
          </thead>
          <tbody class="datatable-body">
          <tr *ngIf="addRow">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="nombreRegistro"
                  name="nombre"
                  class="form-control"
                  [(ngModel)]="catalogo.nombre"
                  required
                  #nombre="ngModel"
                  (change)="validacionUtil.onInputChange($event, 'catalogo', nombre)"
                />
              </mdb-form-control>
            </td>

            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                id="btnRegistrar"
                type="submit"
                (click)="crear(form.value); addRow = false;"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>
          <!-- Data table rows -->
          <tr *ngFor="let catalogo of table.data">
            <td>
              <ng-container *ngIf="!estaEditando || codigoCatalogoEditando !== catalogo.codigo">
                {{ catalogo.nombre }}
              </ng-container>
              <ng-container *ngIf="estaEditando && codigoCatalogoEditando === catalogo.codigo">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombreActualizar"
                    name="nombre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="catalogoEditForm.nombre"
                    #nombre="ngModel"
                    (change)="validacionUtil.onInputChange($event, 'catalogo', nombre)"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td class="text-center">
              <ng-container
                *ngIf="!estaEditando || codigoCatalogoEditando !== catalogo.codigo"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(catalogo); estaEditando = true;"
                  [disabled]="estaEditando"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="confirmarEliminar($event, catalogo.codigo)"
                  [disabled]="estaEditando"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="estaEditando && codigoCatalogoEditando == catalogo.codigo">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(catalogo);"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow();"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
      <mdb-table-pagination
        #pagination
        [entries]="10"
        [rowsPerPageText]="'Registros por página'"
        (paginationChange)="onPaginationChange($event)"
      ></mdb-table-pagination>
    </div>

  </div>
</div>

