<div class="container">
  <p class="fs-4">Menú Administración</p>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <a href="./principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-users fa-5x mt-5 text-dark text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <p class="card-text">Gestión de usuarios de la plataforma</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="./principal/admin/roles-usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-users-between-lines fa-5x mt-5 text-dark text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Roles - Usuarios</h5>
            <p class="card-text">
              Asignación de usuarios a roles de la plataforma
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <div class="card h-100 text-center hover-shadow border">
        <i class="fa-solid fa-question fa-5x mt-5"></i>
        <div class="card-body">
          <h5 class="card-title">Opción menú</h5>
          <p class="card-text">Otra opción menú</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 text-center hover-shadow border">
        <i class="fa-solid fa-question fa-5x mt-5"></i>
        <div class="card-body">
          <h5 class="card-title">Opción menú</h5>
          <p class="card-text">Otra opción menú</p>
        </div>
      </div>
    </div>
  </div>
</div>
