<div class="container">
    <p class="fs-4 fw-bolder">Menú Especialización</p>
  
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <a href="./principal/aula" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i class="fa-solid fa-school fa-5x mt-5 text-primary text-opacity-50"></i>
            <div class="card-body">
              <h5 class="card-title">Aulas</h5>
              <p class="card-text">Gestión de aulas</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/materia" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-book fa-5x mt-5 text-warning text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Materia</h5>
              <p class="card-text">Gestión de materias</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/periodoAcademico" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-calendar fa-5x mt-5 text-success text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Período académico</h5>
              <p class="card-text">Gestión de periodos académicos</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/tipoNota" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-list-check fa-5x mt-5 text-info text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Tipo de nota</h5>
              <p class="card-text">Gestión de los tipos de nota para el registro de las calificaciones</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/componenteNota" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-question fa-5x mt-5 text-primary text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Componente Nota</h5>
              <p class="card-text">
                Gestión de componentes de nota
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/paralelo" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-question fa-5x mt-5 text-primary text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Paralelo</h5>
              <p class="card-text">
                Gestión de paralelos
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/tipoInstruccion" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-question fa-5x mt-5 text-primary text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Tipo de Instrucción</h5>
              <p class="card-text">
                Gestión de tipos de instrucción de los cursos de la academia
              </p>
            </div>
          </div>
        </a>
      </div>
      
  </div>
  