
<div class="container">
  <div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Gestión de Proyectos</p>
  </div>
</div>

  <div class="row">
    <div class="col">
      <!-- Name input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="form8Example1" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example1">Codigo Grupo Proyectos</label>
      </mdb-form-control>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example2" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example2">Codigo Estudiante</label>
      </mdb-form-control>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example3" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example3">Codigo Documento</label>
      </mdb-form-control>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example4" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example4">Codigo Modulo</label>
      </mdb-form-control>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example5" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example5">Tema</label>
      </mdb-form-control>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example6" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example6">Número Nivel</label>
      </mdb-form-control>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example7" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example7">Tipo Proyecto</label>
      </mdb-form-control>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example8" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example8">Linea Investigacion</label>
      </mdb-form-control>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form8Example9" class="form-control" />
        <label mdbLabel class="form-label" for="form8Example9">Nota Final Proyecto</label>
      </mdb-form-control>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <button type="button" class="btn btn-primary" mdbRipple>Guardar</button>
      </mdb-form-control>
    </div>
  </div>



  </div>


