<app-boton-volver></app-boton-volver>

<!-- Título de componente-->
<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Asignación de roles a usuario</p>
  </div>
</div>

<!---------------------------->
<!-- Formulario de búsqueda de usuario -->
<!---------------------------->

<div class="row d-flex justify-content-center">
  <div class="column">
    <form #form="ngForm" novalidate (ngSubmit)="buscarUsuarios(form.value)">
      <div class="container">
        <div class="row">
          <div class="col-9">
            <div class="alert alert-info" role="alert">
              <i class="fa-solid fa-circle-info me-2"></i>
              Puede buscar el usuario ingresando su número de identificación o nombre(s) y apellido(s)</div>
          </div>
          </div>
        <div class="row">
          <div class="col-3">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="frmIdentificacion"
                name="nombreUsuario"
                class="form-control"
                [ngModel]="usuarioFrm.nombreUsuario"
                [ngModelOptions]="{ updateOn: 'change' }"
                #frmIdentificacion="ngModel"
              />
              <label mdbLabel class="form-label" for="frmIdentificacion"
                >Identificación</label
              >
            </mdb-form-control>
          </div>
          <div class="col">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="frmNombres"
                name="nombre"
                class="form-control"
                [ngModel]="usuarioFrm.nombre"
                [ngModelOptions]="{ updateOn: 'change' }"
                #frmNombres="ngModel"
              />
              <label mdbLabel class="form-label" for="frmNombres"
                >Nombres</label
              >
            </mdb-form-control>
          </div>
          <div class="col">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                id="frmApellidos"
                name="apellido"
                class="form-control"
                [ngModel]="usuarioFrm.apellido"
                [ngModelOptions]="{ updateOn: 'change' }"
                #frmApellidos="ngModel"
              />
              <label mdbLabel class="form-label" for="frmApellidos"
                >Apellidos</label
              >
            </mdb-form-control>
          </div>
          <div class="col">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="form.invalid || showLoading"
            >
              <span
                *ngIf="showLoading"
                class="spinner-border spinner-border-sm me-2"
                role="status"
                aria-hidden="true"
              ></span>
              <span *ngIf="showLoading">Espere...</span>
              <span *ngIf="!showLoading">Buscar</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-------------------------------->
<!-- FIN Formulario de búsqueda -->
<!-------------------------------->

<hr class="hr hr-blurry" />

<!-- Resutados de la búsqueda -->
<div class="row d-flex justify-content-center" *ngIf="usuarios.length > 0">
  <div class="col-md-9 text-center">
    <p class="fs-5 fw-bolder">Resultados</p>

    <div class="datatable mt-4 datatable-sm table-responsive datatable-striped datatable-hover datatable-sm">
      <table
        class="table datatable-table text-start"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="usuarios"
        [sort]="sort"
        [pagination]="pagination"
      >
        <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headersUsuarios"
              [mdbTableSortHeader]="header"
              scope="col"
              class="fw-bold"
            >
              <b>{{ header | titlecase }}</b>
            </th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr
            *ngFor="let data of table.data"
            scope="row"
            (click)="onRowClick(data)"
            [class.active]="usuarioSeleccionado === data"
          >
            <td>
              {{ data.codDatosPersonales["nombre"] }}
            </td>
            <td>
              {{ data.codDatosPersonales["apellido"] }}
            </td>
            <td>
              {{ data.nombreUsuario }}
            </td>
          </tr>
        </tbody>
      </table>
      <mdb-table-pagination #pagination
      [rowsPerPageText]="'Registros por página'"></mdb-table-pagination>
    </div>
  </div>
  <hr class="hr hr-blurry" />
</div>
<!-- FIN Resultados -->

<div class="row d-flex justify-content-center" *ngIf="hayUsuarioSeleccionado()">
  <div class="col-md-9 text-center">
    <div>
      <p>
        Usuario actual:
        <strong class="ms-2 text-primary" >{{ usuarioSeleccionado.nombreUsuario }} | {{ usuarioSeleccionado.codDatosPersonales.apellido }}  {{usuarioSeleccionado.codDatosPersonales.nombre}}</strong>
      </p>
    </div>

    <!-- LISTA DE ROLES -->

    <div class="datatable datatable-sm table-responsive datatable-striped datatable-hover">
      <table
        class="table datatable-table text-center"
        mdbTable
        #table="mdbTable"
        [dataSource]="rolesAsignados"
      >
        <thead class="datatable-header">
          <tr>
            <th scope="col" class="fw-bold text-center">
              <!-- <div class="form-check d-flex align-items-center mb-0">
                  <input
                    mdbCheckbox
                    class="datatable-header-checkbox form-check-input"
                    type="checkbox"
                    [checked]="allRowsSelected()"
                    (checkboxChange)="toggleAll($event)"
                  />
                </div>
                 -->
              Asignado
            </th>
            <th *ngFor="let header of headersRoles" scope="col">
              <b class="fw-bold">{{ header | titlecase }}</b>
            </th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr *ngFor="let rolAsignado of table.data" scope="row">
            <td>
              <div class="form-check d-flex justify-content-center">
                <input
                  mdbCheckbox
                  (click)="$event.stopPropagation()"
                  (checkboxChange)="toggleSelection($event, rolAsignado)"
                  [checked]="rolAsignado.asignado"
                  class="datatable-row-checkbox form-check-input"
                  type="checkbox"
                />
              </div>
            </td>
            <td>
              {{ rolAsignado.nombre }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Botones de acción -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
      <!--button class="btn btn-primary me-md-2" type="button">Button</button -->
      <button class="btn btn-primary" type="button" (click)="guardarCambios()">
        Guardar cambios
      </button>
    </div>
  </div>
</div>
