<!-- Título de componente-->
<app-boton-volver></app-boton-volver>

<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Gestión de Tipo de prueba</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6 ">
    <button
      class="btn btn-primary btn-sm mb-3"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>
<!--    <mdb-form-control>-->
<!--      <input-->
<!--        mdbInput-->
<!--        type="text"-->
<!--        class="form-control"-->
<!--        id="search-input"-->
<!--        [disabled]="editElementIndex !== -1"-->
<!--        (keyup)="search($event)"-->
<!--      />-->
<!--      <label mdbLabel class="form-label" for="search-input">Buscar</label>-->
<!--    </mdb-form-control>-->
    <hr>
    <div class="datatable table-editor mt-4">
      <form #form="ngForm">
        <table
          class="table table-sm datatable-table text-center"
          mdbTable
          mdbTableSort
          #table="mdbTable"
          #sort="mdbTableSort"
          [dataSource]="tiposprueba"
          [sort]="sort"
        >
          <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              scope="col"
              style="font-size: medium"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th scope="col" style="font-size: medium"><b>Acciones</b></th>
          </tr>
          </thead>
          <tbody class="datatable-body">
          <tr *ngIf="addRow">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="pruebaNew"
                  name="prueba"
                  class="form-control"
                  [(ngModel)]="tipoPrueba.prueba"
                  required
                  #prueba="ngModel"
                  (change)="validacionUtil.onInputChange($event, 'catalogo', prueba)"
                />
              </mdb-form-control>
            </td>


            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                type="submit"
                (click)="registro(form.value);"
              >
                <i class="fa fa-check"></i>Agregar
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i>Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let tipoPrueba of table.data; let index = index">
            <td>
              <ng-container *ngIf="editElementIndex !== index">
                {{ tipoPrueba.prueba }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="prueba"
                    name="prueba"
                    type="text"
                    class="form-control"
                    [(ngModel)]="tipoPruebaEditForm.prueba"
                    required
                    #prueba="ngModel"
                    (change)="validacionUtil.onInputChange($event, 'catalogo', prueba)"
                  />
                </mdb-form-control>
              </ng-container>
            </td>


            <td class="justify-content-center">
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index);"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="confirmaEliminar($event,tipoPrueba.cod_tipo_prueba)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(tipoPrueba, form.value)"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
