<div class="container">
  <p class="fs-4 fw-bolder">Proceso de formación</p>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-bullhorn fa-5x mt-5 text-warning text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Convocatoria</h5>
            <p class="card-text">Proceso de convocatoria</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-address-card fa-5x mt-5 text-primary text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Inscripción</h5>
            <p class="card-text">Proceso de inscripciones</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-square-check fa-5x mt-5 text-success text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Validación Requisitos</h5>
            <p class="card-text">Validación de requisitos</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-spell-check fa-5x mt-5 text-primary text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Pruebas</h5>
            <p class="card-text">Pruebas</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-square-poll-vertical fa-5x mt-5 text-success text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Publicación Resultados</h5>
            <p class="card-text">Publicación de resultados</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-clipboard fa-5x mt-5 text-primary text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Cursos</h5>
            <p class="card-text">Cursos</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-certificate fa-5x mt-5 text-warning text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Certificados</h5>
            <p class="card-text">Certificados</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-person-circle-minus fa-5x mt-5 text-danger text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Bajas</h5>
            <p class="card-text">Bajas</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-person-military-pointing fa-5x mt-5 text-danger text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Sanciones</h5>
            <p class="card-text">Sanciones</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-gavel fa-5x mt-5 text-dark text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Apelaciones</h5>
            <p class="card-text">Apelaciones</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/admin/usuarios" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i class="fa-solid fa-graduation-cap fa-5x mt-5 text-success text-opacity-50"></i>
          <div class="card-body">
            <h5 class="card-title">Graduacíón</h5>
            <p class="card-text">Graduacíón</p>
          </div>
        </div>
      </a>
    </div>

  </div>


</div>
