<!-- Título de componente-->
<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Requisito</p>
  </div>
</div>

<div class="row justify-content">
  <div class="col-12">

    <button
      MdbRiple
      class="btn btn-primary btn-sm ms-3"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <hr />


  <div class="datatable table-editor mt-3">
    <form #form="ngForm" >
      <table
        class="table table-sm datatable-table"
        id="tblSemestre"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="requisitos"
        [sort]="sort"
      >
        <thead class="datatable-header">
          <tr align="center">
            <th
              *ngFor="let header of headers"
              scope="col"
              style="font-size: medium"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th scope="col" style="font-size: medium"><b>Acciones</b></th>
            </tr>
        </thead>
        <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row">

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="nombreRequisito"
                  name="nombre"
                  class="form-control"
                  [(ngModel)]="requisito.nombre"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="descripcionRequisito"
                  name="descripcion"
                  class="form-control"
                  [(ngModel)]="requisito.descripcion"
                  required
                />
              </mdb-form-control>
            </td>
            <td align="center">
            <div class="col-md">
              <div class="form-check form-check-inline">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineCheckbox1"></label>
              </div>
            </div>
          </td>


            <td align="center">
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                id ="btnRegistrar"
                type="submit"
                (click)="registro(form.value); addRow = false;"
              >
                <i class="fa fa-check"></i>
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>



          <tr *ngFor="let requisito of requisitos let index = index" scope="row">
            <td align="center" style="min-width: 10px; max-width: 10px">
              <ng-container  *ngIf="editElementIndex !== index">
                {{ requisito.nombre }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombre"
                    name="nombre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="requisitoEditForm.nombre"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td align="center" style="min-width: 10px; max-width: 10px">
              <ng-container  *ngIf="editElementIndex !== index">
                {{ requisito.descripcion }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="descripcion"
                    name="descripcion"
                    type="text"
                    class="form-control"
                    [(ngModel)]="requisitoEditForm.descripcion"
                  />
                </mdb-form-control>
              </ng-container>
            </td>
            <td align="center" style="min-width: 10px; max-width: 10px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ requisito.esDocumento}}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <div class="form-check ms-6 mt-1">
                  <input
                    mdbCheckbox
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="requisito.esDocumento"
                  />
                </div>
              </ng-container>
            </td>



            <td align="center">
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="eliminar(requisito.codigoRequisito)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="actualizar(requisito, form.value);"
                >
                  <i class="fa fa-check"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

