<ul class="list-group list-group-light">
  <li
    *ngFor="let curso of cursos"
    class="list-group-item d-flex justify-content-between align-items-start pb-0">
    <div [style.width.px]="250">
      <div class="d-flex align-items-center ">
        <div class="ms-3">
          <p class="fw-bold mb-1 text-primary"> {{curso.nombre | uppercase}}</p>
          <div class="text-muted mb-0">
            <p class="fw-medium mb-0">Creado por:
              <span>{{curso?.creadoPor?.nombre}} {{curso?.creadoPor?.apellido}}</span>
            </p>
            <p class="fw-medium">Aprobado
              por:<span>{{curso?.aprobadoPor?.nombre}} {{curso?.aprobadoPor?.apellido}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" [style.width.px]="250">
      <p class="fw-bold mb-1">Estado Actual</p>
      <span class="badge rounded-pill py-2 px-4" [ngClass]="getEstadoClass(curso.estado)">{{ curso.estado }}</span>
    </div>
    <div class="flex-fill">
      <div class="d-flex justify-content-center align-items-center">
          <button
            [style.width.px]="20"
            [style.height.px]="20"
            mdbTooltip="Seleccionar Curso"
            class="btn btn-floating bg-light text-black d-flex justify-content-center align-items-center mt-3"
            mdbRipple
            type="button"
            (click)="elegirCurso(curso)"
          >
            <i class="fas fa-arrow-pointer p-0 m-0"></i>
          </button>
      </div>
    </div>
  </li>
</ul>
