<div class="container">
    <p class="fs-4 fw-bolder">Menú Profesionalización</p>
  
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <a href="./principal/semestre" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i class="fa-solid fa-calendar fa-5x mt-5 text-primary text-opacity-50"></i>
            <div class="card-body">
              <h5 class="card-title">Semestre</h5>
              <p class="card-text">Gestión de semestres formativos</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/tipoFuncionario" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-person-military-to-person fa-5x mt-5 text-danger text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Tipo de funcionario</h5>
              <p class="card-text">
                Gestión de tipos de funcionario de la plataforma
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/unidadGestion" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid fa-building fa-5x mt-5 text-success text-opacity-50"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Unidad de gestión</h5>
              <p class="card-text">
                Administración de las unidades de gestión de la plataforma
              </p>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
  
