<div class="popconfirm-popover shadow-4">
    <div class="popconfirm">
      <p class="popconfirm-message">
        <span class="popconfirm-message-text">{{ mensaje }}</span>
      </p>
      <div class="popconfirm-buttons-container">
        <button (click)="popconfirmRef.confirm()" type="button" aria-label="Confirm" class="btn btn-flat btn-sm">
          Confirmar
        </button>
        <button (click)="popconfirmRef.close()" type="button" aria-label="Cancel" class="btn btn-danger btn-sm">
          Cancelar
        </button>
      </div>
    </div>
  </div>
