<div class="popconfirm-popover shadow-4">
    <div class="popconfirm">
      <i class="far fa-check-circle fa-3x center " ></i>
      <p class="popconfirm-message">
        <span class="popconfirm-message-text">{{ mensaje }} ¡Convocatoria creada exitosamente!</span>
      </p>
      <div class="popconfirm-buttons-container">
        <button (click)="popconfirmRef.confirm()" type="button" aria-label="Confirm" class="btn btn-flat btn-sm">
          Confirmar
        </button>
        <button (click)="popconfirmRef.close()" type="button" aria-label="Cancel" class="btn btn-danger btn-sm">
          Cancelar
        </button>
      </div>
    </div>
  </div>
