<div class="container">
  <div [hidden]="editando" class="row">
    <!-- Perfil -->
    <div class="col-4">
      <div class="card text-center">
        <div class="p-3 justify-content-center">
          <img
            [src]="imagenPerfil"
            alt=""
            style="width: 117px; height: 117px"
            class="rounded-circle"
          />
        </div>
        <div class="card-body">
          <h5
            class="card-title">{{usuario?.codDatosPersonales.nombre}} {{usuario?.codDatosPersonales.apellido}}</h5>
          <p class="card-text">{{usuario?.codDatosPersonales.correo_personal}}</p>
          <button class="btn btn-primary" (click)="editando = !editando; onEditarPerfil()">Editar perfil</button>
        </div>
      </div>
    </div>
    <!-- Datos -->
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h4>Datos Personales</h4>
        </div>
        <div class="card-body">
          <div class="mb-4 d-flex gap-3">
            <h5><span class="badge badge-info rounded-pill">Administrador</span></h5>
            <h5><span class="badge badge-success rounded-pill">{{usuario.nombreUsuario}}</span></h5>
          </div>
          <div class="row">
            <div class="col-6">
              <p><strong>Nombre: </strong>{{usuario?.codDatosPersonales.nombre}}</p>
              <p><strong>Apellido: </strong>{{usuario?.codDatosPersonales.apellido}}</p>
              <p><strong>Fecha de
                Nacimiento: </strong>{{usuario?.codDatosPersonales.fecha_nacimiento | date: 'dd/MM/yyy' }}</p>
              <p><strong>Correo Personal: </strong>{{usuario?.codDatosPersonales.correo_personal}}</p>
            </div>
            <div class="col-6">
              <p><strong>Telefono: </strong>{{usuario?.codDatosPersonales.num_telef_celular}}</p>
              <p><strong>Direccion: </strong>{{usuario?.codDatosPersonales.cod_canton_residencia}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Editar perfil -->
  <div [hidden]="!editando" class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4>Editar Perfil</h4>
          <button
            type="button"
            class="btn btn-danger btn-floating"
            (click)="editando = !editando"
          >
            <i class="fas fa-xmark"></i>
          </button>
        </div>
        <div class="card-body">
          <!-- Imagen -->
          <div class="row">
            <div class="col-3">
              <div class="card text-center">
                <div class="card-body">
                  <img
                    [src]="imagenPerfil"
                    alt=""
                    style="width: 117px; height: 117px"
                    class="rounded-circle mb-2"
                  />
                  <div class="mb-3">
                    <label for="img" class="form-label">Imagen de perfil</label>
                    <input
                      class="form-control form-control-sm"
                      id="img"
                      type="file"
                      accept="image/*"
                      (change)="cargarImagen($event)"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <form [formGroup]="formularioActualizarUsuario">
                <div class="row">
                  <div class="col-6">
                    <!-- Nombre -->
                    <mdb-form-control>
                      <input
                        mdbInput
                        mdbValidate
                        type="text"
                        id="nombre"
                        class="form-control mb-5"
                        formControlName="nombre"
                      >
                      <label mdbLabel class="form-label mb-2x" for="nombre">Nombre</label>
                      <mdb-error *ngIf="nombreField?.dirty || nombreField?.touched" class="d-flex gap-3 m-0 p-0">
                        <div *ngIf="nombreField?.hasError('minlength')">
                          <i class="fas fa-check-circle"></i>
                          El nombre debe tener al menos 3 caracteres
                        </div>
                        <div *ngIf="nombreField?.hasError('invalid_letters')">
                          <i class="fas fa-check-circle"></i>
                          Este campo solo acepta letras
                        </div>
                      </mdb-error>
                    </mdb-form-control>
                    <!-- Apellido -->
                    <mdb-form-control>
                      <input
                        mdbInput
                        mdbValidate
                        type="text"
                        id="apellido"
                        class="form-control mb-5"
                        formControlName="apellido"
                      >
                      <label mdbLabel class="form-label mb-2x" for="apellido">Apellido</label>
                      <mdb-error *ngIf="apellidoField?.dirty || apellidoField?.touched" class="d-flex gap-3 m-0 p-0">
                        <div *ngIf="apellidoField?.hasError('minlength')">
                          <i class="fas fa-check-circle"></i>
                          El apellido debe tener al menos 3 caracteres
                        </div>
                        <div *ngIf="apellidoField?.hasError('invalid_letters')">
                          <i class="fas fa-check-circle"></i>
                          Este campo solo acepta letras
                        </div>
                      </mdb-error>
                    </mdb-form-control>
                    <!-- Fecha de nacimiento -->
                    <mdb-form-control>
                      <input
                        mdbInput
                        mdbValidate
                        [readonly]="true"
                        [mdbDatepicker]="dpFechaNacimiento"
                        type="text"
                        id="fechaNacimiento"
                        class="form-control mb-5"
                        formControlName="fechaNacimiento"
                        (click)="dpFechaNacimiento.open()"
                      />
                      <label mdbLabel class="form-label mb-2x" for="fechaNacimiento">Seleccionar Fecha de
                        Nacimiento</label>
                      <mdb-datepicker-toggle
                        [mdbDatepicker]="dpFechaNacimiento"
                      ></mdb-datepicker-toggle>
                      <mdb-datepicker
                        #dpFechaNacimiento="mdbDatepicker"
                        [options]="opcionesDatePicker"
                        [inline]="true"
                      ></mdb-datepicker>
                      <mdb-error *ngIf="fechaNacimientoField?.dirty || fechaNacimientoField?.touched"
                                 class="d-flex gap-3 m-0 p-0">
                        <div *ngIf="fechaNacimientoField?.value === ''">
                          <i class="fas fa-check-circle"></i>
                          Este campo es requerido
                        </div>
                      </mdb-error>
                      <mdb-success>
                      </mdb-success>
                    </mdb-form-control>

                  </div>
                  <div class="col-6">
                    <!-- Telefono -->
                    <mdb-form-control>
                      <input
                        mdbInput
                        mdbValidate
                        type="text"
                        id="telefono"
                        class="form-control mb-5"
                        formControlName="telefono"
                        [maxlength]="10"
                      >
                      <label mdbLabel class="form-label mb-2x" for="telefono">Telefono</label>
                      <mdb-error *ngIf="telefonoField?.dirty || telefonoField?.touched" class="d-flex gap-1 m-0 p-0">
                        <div *ngIf="telefonoField?.hasError('minlength')">
                          <i class="fas fa-check-circle"></i>
                          El telefono debe tener al menos 10 caracteres
                        </div>
                        <div *ngIf="telefonoField?.hasError('invalid_numbers')">
                          <i class="fas fa-check-circle"></i>
                          Este campo solo acepta numeros
                        </div>
                      </mdb-error>
                    </mdb-form-control>
                    <!-- Direccion -->
                    <mdb-form-control>
                      <input
                        mdbInput
                        mdbValidate
                        type="text"
                        id="direccion"
                        class="form-control mb-5"
                        formControlName="direccion"
                      >
                      <label mdbLabel class="form-label mb-2x" for="direccion">Direccion</label>
                      <mdb-error
                        *ngIf="direccionField?.dirty || direccionField?.touched"
                        class="d-flex gap-3 m-0 p-0"
                      >
                        <div *ngIf="direccionField?.hasError('minlength')">
                          <i class="fas fa-check-circle"></i>
                          La direccion debe tener al menos 5 caracteres
                        </div>
                      </mdb-error>
                    </mdb-form-control>
                    <!-- Correo personal -->
                    <mdb-form-control>
                      <input
                        mdbInput
                        mdbValidate
                        type="email"
                        id="correoPersonal"
                        class="form-control mb-5"
                        formControlName="correoPersonal"
                      >
                      <label mdbLabel class="form-label mb-2x" for="correoPersonal">Correo Personal</label>
                      <mdb-error *ngIf="correoPersonalField?.dirty || correoPersonalField?.touched"
                        class="d-flex gap-3 m-0 p-0"
                      >
                        <div *ngIf="correoPersonalField?.hasError('email')">
                          <i class="fas fa-check-circle"></i>
                          El correo debe tener un formato valido
                        </div>
                      </mdb-error>
                    </mdb-form-control>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-12 text-center">
                  <button class="btn btn-primary" (click)="actualizarDatosPersonales()">Actualizar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

