<div class="container">
  <h4 class="text-center">Menú Formación Académica</h4>

  <a
    class="m-0 p-0"
    (click)="basicCollapse.toggle()"
    role="button"
    [attr.aria-expanded]="!basicCollapse.collapsed"
    aria-controls="collapseExample"
    [mdbTooltip]="'Flujo correcto para la gestión de la formación académica'"
  >
    <i class="fas fa-info-circle text-primary"></i>
  </a>
  <!--Collapsed content-->
  <div class="mt-3" id="collapseExample" mdbCollapse #basicCollapse="mdbCollapse">
    <div class="alert alert-info" role="alert">
      <p><b>Flujo correcto para la gestión de la formación académica</b></p>
      1. Registrar instructores <br />
      2. Registrar materias y los respectivos paralelos<br />
      3. Registrar estudiantes y asignar paralelos<br />
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">


    <div class="col">
      <a routerLink="/principal/formacion/academia/instructores" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-chalkboard-teacher fa-5x mt-5 text-success text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Instructores</h5>
            <p class="card-text">
              Gestión de instructores
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/formacion/academia/materias" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-book fa-5x mt-5 text-muted text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Materias</h5>
            <p class="card-text">
              Gestión de materias y paralelos
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/formacion/academia/estudiantes" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-users fa-5x mt-5 text-warning text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Estudiantes</h5>
            <p class="card-text">
              Gestión de estudiantes, asignación de paralelos
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/formacion/academia/gestion-documentos" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-file fa-5x mt-5 text-primary text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Documentos</h5>
            <p class="card-text">
              Gestión de documentos
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/formacion/academia/notas" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-file-circle-check fa-5x mt-5 text-warning text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Registro de notas</h5>
            <p class="card-text">
              Gestión de notas académicas y disciplinarias por materia
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/formacion/academia/notas-disciplina" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-shield fa-5x mt-5 text-danger text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Registro de notas disciplinarias</h5>
            <p class="card-text">
              Gestión de notas disciplinarias por estudiante
            </p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
