<div class="container">
  <h4 class="text-center">Menú Formación Academia</h4>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">

    <div class="col">
      <a routerLink="/principal/tipoPrueba" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-solid fa-users-rectangle fa-5x mt-5 text-opacity-50 text-primary"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Cursos</h5>
            <p class="card-text">
              Gestión de cursos
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/documentosHabilitantes" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-users fa-5x mt-5 text-warning text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Estudiantes</h5>
            <p class="card-text">
              Gestión de estudiantes
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/formacion/academia/instructores" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-chalkboard-teacher fa-5x mt-5 text-success text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Instructores</h5>
            <p class="card-text">
              Gestión de instructores
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a routerLink="/principal/tipoSancion" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-book fa-5x mt-5 text-muted text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Materias</h5>
            <p class="card-text">
              Gestión de materias
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/formacion/academia/gestion-documentos" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-file fa-5x mt-5 text-primary text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Documentos</h5>
            <p class="card-text">
              Gestión de documentos
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a routerLink="/principal/tipoSancion" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-file-circle-check fa-5x mt-5 text-warning text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Registro de notas</h5>
            <p class="card-text">
              Gestión de notas académicas y disciplinarias
            </p>
          </div>
        </div>
      </a>
    </div>



  </div>
</div>
