<app-boton-volver
  [link]="'/principal/especializacion/menu-validacion'"
  [texto]="'Regresar al menú de validación'"
></app-boton-volver>

<ng-container *ngIf="cursos.length === 0">
  <div class="card rounded-7 mt-3">
    <div class="card-body">
      <h5 class="card-title text-primary">No existen cursos</h5>
      <p class="card-text">
        No existen cursos en estado de Validación de Requisitos, por lo tanto no hay datos para mostrar.
      </p>
    </div>
  </div>
</ng-container>

<section *ngIf="estaCargando && esVistaListaCursos" class="container">
  <div class="row m-3">
    <div class="col text-center">
      <h1 class="fs-4 fw-bolder">Listado de cursos</h1>
    </div>
  </div>
  <p>Número total de cursos: {{cursos.length}}</p>

  <div class="row justify-content-center">
    <app-lista-cursos
      [cursos]="cursos"
      class="col-md-7"
      (cursoSeleccionado)="cursoSeleccionadoEvent($event)"
    >
    </app-lista-cursos>
  </div>
</section>
<section *ngIf="estaCargando && esVistaCurso" class="container my-5">

  <button
    class="btn btn-primary"
    (click)="volverAListaCursos()"
  >
    <i class="fas fa-arrow-left me-2"></i>
    Volver a lista de cursos
  </button>

  <div class="row my-4">
    <hr class="hr">
    <div class="d-flex gap-2">
      <h1 class="fs-4 fw-bolder">CURSO: </h1>
      <h1 class="fs-4 fw-bolder text-primary">{{ cursoSeleccionado?.nombre| uppercase}}</h1>
    </div>
    <h6>Descripción: <span class="text-muted">{{ cursoSeleccionado?.tipoCurso?.descripcionCatalogoCurso}}</span></h6>
  </div>

</section>

<div class="container" *ngIf="inscripcionesLoaded && esVistaCurso">
  <div class="row m-3 text-center">
    <p class="fs-4 fw-bolder mb-3">
      Lista de Inscritos
    </p>
  </div>
  <div class="d-flex align-items-center gap-2">
    <h5>
      <span class="badge badge-success p-2 mt-2">
        <i class="fas fa-user me-1"></i>
        Inscripciones asignadas
      </span>
    </h5>
    <div>
      <i class="fas fa-file-circle-check fa-xl" style="color: #bdbdbd"></i>
      <span class="badge rounded-pill badge-notification bg-danger">{{inscripcionesAsignadas?.length}}</span>
    </div>
  </div>
  <section>
    <div class="datatable table-editor datatable-striped datatable-hover datatable-sm overflow-auto">
      <table
        class="table table-sm datatable-table"
        mdbTable
        mdbTableSort
        #tableInscripcionesAsignadas="mdbTable"
        [dataSource]="inscripcionesAsignadas"
      >
        <thead class="datatable-header">
        <tr>
          <th
            *ngFor="let header of headers"
            [mdbTableSortHeader]="header.key"
          >
            <b>{{ header.label }}</b>
          </th>
          <th class="text-center"><b>Acciones</b></th>
        </tr>
        </thead>
        <tbody class="datatable-body">
        <tr *ngFor="let postulante of tableInscripcionesAsignadas.data">
          <td>{{ postulante?.codInscripcion }}</td>
          <td>{{ postulante?.cedula }}</td>
          <td>{{ postulante?.nombre }}</td>
          <td>{{ postulante?.apellido }}</td>
          <td class="text-center">
            <button
              mdbTooltip="Validar"
              class="m-0 p-0 shadow-0 btn text-dark"
              (click)="validar(postulante)"
            >
              <i class="fa-regular fa-check-square fa-xl"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <ng-container *ngIf="tableInscripcionesAsignadas.data?.length === 0">
        <div class="alert alert-warning my-3 py-2">
          <i class="fas fa-exclamation-triangle me-1"></i>
          No existen inscripciones asignadas
        </div>
      </ng-container>
    </div>
    <hr class="hr">
  </section>

  <div class="d-flex align-items-center gap-2">
    <h5>
    <span class="badge badge-primary p-2 mt-2">
       <i class="fas fa-clock me-1"></i>
      Inscripciones pendientes
    </span>
    </h5>
    <div>
      <i class="fas fa-file-circle-check fa-xl" style="color: #bdbdbd"></i>
      <span class="badge rounded-pill badge-notification bg-danger">{{inscripciones?.length}}</span>
    </div>
  </div>
  <section>
    <div class="datatable table-editor datatable-striped datatable-hover datatable-sm overflow-auto mt-4 overflow-auto">
      <table
        class="table table-sm datatable-table"
        mdbTable
        mdbTableSort
        #tableInscripciones="mdbTable"
        [pagination]="pagination"
        [dataSource]="inscripciones"
      >
        <thead class="datatable-header">
        <tr>
          <th
            *ngFor="let header of headers"
            [mdbTableSortHeader]="header.key"
          >
            <b>{{ header.label }}</b>
          </th>
          <th class="text-center"><b>Acciones</b></th>
        </tr>
        </thead>
        <tbody class="datatable-body">
        <tr *ngFor="let inscripcion of tableInscripciones.data">
          <td>{{ inscripcion?.codInscripcion }}</td>
          <td>{{ inscripcion?.cedula }}</td>
          <td>{{ inscripcion?.nombre }}</td>
          <td>{{ inscripcion?.apellido }}</td>
          <td class="text-center">
            <button
              mdbTooltip="Asignarme"
              class="m-0 btn shadow-0 text-dark"
              (click)="asignar(inscripcion?.codInscripcion)"
            >
              <i class="fas fa-user-check fa-lg"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <mdb-table-pagination
        #pagination
        [entries]="10"
        [rowsPerPageText]="'Registros por página'"
      ></mdb-table-pagination>
      <ng-container *ngIf="tableInscripciones.data?.length === 0">
        <div class="alert alert-warning my-3 py-2">
          <i class="fas fa-exclamation-triangle me-1"></i>
          No existen inscripciones pendientes
        </div>
      </ng-container>
    </div>
  </section>
</div>
