<app-boton-volver></app-boton-volver>

 <div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Gestión de Materias</p>
  </div>
</div>

<div class="row justify-content">
  <div class="col-12 ">
    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="search-input"
        [disabled]="editElementIndex !== -1"
        (keyup)="search($event)"

      />
      <label mdbLabel class="form-label" for="search-input">Buscar</label>
    </mdb-form-control>
    <button
      id="btnAgregarFila"
      class="btn btn-primary btn-sm ms-3"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
    <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>
  </div>
  <hr />

  <div class="datatable table-editor mt-4">
    <form #form="ngForm" novalidate>
      <table
        class="table table-sm datatable-table"
        id="materiaTbl"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        [pagination]="pagination"
        [dataSource]="materias"
      >
        <thead class="datatable-header">
          <tr>
            <th
              *ngFor="let header of headers"
              [mdbTableSortHeader]="header"
              scope="col"
            >
              {{ header | titlecase }}
            </th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="registroNombreMateria"
                  name="nombreMateria"
                  type="text"
                  class="form-control"
                  [(ngModel)]="materia.nombreMateria"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="registroNumHoras"
                  name="numHoras"
                  type="number"
                  class="form-control"
                  [(ngModel)]="materia.numHoras"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="registroTipoMateria"
                  name="tipoMateria"
                  type="text"
                  class="form-control"
                  [(ngModel)]="materia.tipoMateria"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="registroObservacionMateria"
                  name="observacionMateria"
                  type="text"
                  class="form-control"
                  [(ngModel)]="materia.observacionMateria"
                  required
                />
              </mdb-form-control>
            </td>
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="registroPesoMateria"
                  name="pesoMateria"
                  type="number"
                  class="form-control"
                  [(ngModel)]="materia.pesoMateria"
                  required
                />
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="registroNotaMinima"
                  name="notaMinima"
                  type="number"
                  class="form-control"
                  [(ngModel)]="materia.notaMinima"
                  required
                />
              </mdb-form-control>
            </td>


            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                id ="btnRegistrar"
                type="submit"
                (click)="registro(form.value); addRow = false;"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button
                name="añadir"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let materia of table.data; let index = index" scope="row">

            <td style="min-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ materia.nombreMateria }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombreMateria"
                    name="nombreMateria"
                    type="text"
                    class="form-control"
                    [(ngModel)]="materiaEditForm.nombreMateria"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ materia.numHoras }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="numHoras"
                    name="numHoras"
                    type="number"
                    class="form-control"
                    [(ngModel)]="materiaEditForm.numHoras"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ materia.tipoMateria }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="tipoMateria"
                    name="tipoMateria"
                    type="text"
                    class="form-control"
                    [(ngModel)]="materiaEditForm.tipoMateria"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ materia.observacionMateria }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="observacionMateria"
                    name="observacionMateria"
                    type="text"
                    class="form-control"
                    [(ngModel)]="materiaEditForm.observacionMateria"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ materia.pesoMateria }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="pesoMateria"
                    name="pesoMateria"
                    type="number"
                    class="form-control"
                    [(ngModel)]="materiaEditForm.pesoMateria"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 50px; max-width: 50px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ materia.notaMinima }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="notaMinima"
                    name="notaMinima"
                    type="number"
                    class="form-control"
                    [(ngModel)]="materiaEditForm.notaMinima"
                  />
                </mdb-form-control>
              </ng-container>
            </td>


            <td>
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index)"
                  [disabled]="
                  editElementIndex !== -1 && editElementIndex !== index
                "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(materia, form.value)"

                  >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow() "

                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <mdb-table-pagination
        #pagination
        [entries]="10"
        [rowsPerPageText]="'Registros por página'"
      ></mdb-table-pagination>
    </form>
  </div>
</div>



