
.encabezado{
  font-family: 'HelveticaLTStd-LightCond', 'arial', sans-serif;
  background-color: #C00D0D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.col-md-8{
  color:#c00d0d;
  justify-content:center;
}
.navbar-brand{
  color:#c00d0d;
  justify-content:center;
}
.two{

  color: white;
  justify-content: center;
}
.three{
  color: white;
  justify-content: end;
}
.btn1{
  background-color: #C00D0D;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .tabla{
    padding: 5px 5px 5px 5px;

  }
  .titulo{
    text-align: center;
  }
