<div class="container">
  <div class="row m-3">
    <h1 class="col text-center fs-4 fw-bolder">Estado del Proceso de Formación</h1>
  </div>
  <div class="row" *ngIf="stepsLoaded">
    <app-estado-proceso-stepper
      [steps]="estados"
      (updatedStep)="updateStep($event)"
    ></app-estado-proceso-stepper>

    <div *ngIf="esEstadoCierre" class="my-4">
      <div class="d-flex justify-content-center">
        <div class="card">
          <div class="card-header text-danger fw-bold">
            ESTADO CIERRE DEL PROCESO
          </div>
          <div class="card-body text-center">
            <p class="card-text">
              <i class="fas fa-exclamation-triangle me-2 text-danger"></i>
              El proceso de formación se cierra, no se puede realizar
              ninguna acción sobre el mismo.
            </p>
            <button class="btn btn-danger" (click)="cerrarProceso()">
              <i class="fas fa-times me-2"></i>
              Cerrar Proceso
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

