<div class="container">
  <div class="row mt-3">
    <div class="column col-3">
      <img src="assets/logo-bomberos.svg" />
    </div>
    <div class="column col-9 text-end">
      <h4 class="ms-5">
        <i class="fa-solid fa-user-graduate"></i>
        Plataforma Educativa
      </h4>
    </div>
  </div>

  <hr class="hr hr-blurry" />
  <!-- Inicio estructura de pasos -->
  <mdb-stepper #stepper [linear]="true">
    <!-- Paso 1 -->
    <mdb-step [name]="'Paso 1 - Formulario de Inscripción'">
      <ng-template mdbStepIcon id="">
        <i class="fas fa-user"></i>
      </ng-template>
      <div class="row m-3">
        <div class="column text-center">
          <h5>Formulario de inscripción</h5>
        </div>
      </div>
      <hr class="hr hr-blurry" />
      <!---------------------------->
      <!-- Formulario de inscripción-->
      <!---------------------------->
      <form #form="ngForm" #cargaArchivoform="ngForm" novalidate>
        <!---------------------------->
        <!-- Definición formGroup-->
        <!---------------------------->
        <div [formGroup]="formularioInscripcion">
          <!-- Datos iniciales -->
          <h5>Datos iniciales:</h5>

          <div class="container">
            <div class="row">
              <!-- Columna 1 -->
              <div class="col-md">
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    minlength="10" maxlength="10"
                    id=""
                    [(ngModel)]="inscripcion.cedula"
                    class="form-control mb-5"
                    formControlName="frmCedula"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Cédula</label
                  >
                  <mdb-error
                    *ngIf="
                      frmCedula?.invalid &&
                      (frmCedula?.dirty || frmCedula?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmCedula?.valid &&
                      (frmCedula?.dirty || frmCedula?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>

                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="for"
                    [(ngModel)]="inscripcion.apellidos"
                    class="form-control mb-5"
                    formControlName="frmApellidos"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Apellidos</label
                  >
                  <mdb-error
                    *ngIf="
                      frmApellidos?.invalid &&
                      (frmApellidos?.dirty || frmApellidos?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmApellidos?.valid &&
                      (frmApellidos?.dirty || frmApellidos?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>

                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="for"
                    [(ngModel)]="inscripcion.nombres"
                    class="form-control mb-5"
                    formControlName="frmNombres"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Nombres</label
                  >
                  <mdb-error
                    *ngIf="
                      frmNombres?.invalid &&
                      (frmNombres?.dirty || frmNombres?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmNombres?.valid &&
                      (frmNombres?.dirty || frmNombres?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
              <!-- Columna 2 -->
              <div class="col-md">
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="for"
                    [(ngModel)]="inscripcion.email"
                    class="form-control mb-5"
                    formControlName="frmEmail"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Email</label
                  >
                  <mdb-error
                    *ngIf="
                      frmEmail?.invalid &&
                      (frmEmail?.dirty || frmEmail?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmEmail?.valid && (frmEmail?.dirty || frmEmail?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>

                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="for"
                    [(ngModel)]="inscripcion.sexo"
                    class="form-control mb-5"
                    formControlName="frmSexo"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Sexo</label
                  >
                  <mdb-error
                    *ngIf="
                      frmSexo?.invalid && (frmSexo?.dirty || frmSexo?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmSexo?.valid && (frmSexo?.dirty || frmSexo?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>

                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="date"
                    id="for"
                    [(ngModel)]="inscripcion.fechaNacimiento"
                    class="form-control mb-5"
                    formControlName="frmFechaNacimiento"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Fecha de Nacimiento</label
                  >
                  <mdb-error
                    *ngIf="
                      frmFechaNacimiento?.invalid &&
                      (frmFechaNacimiento?.dirty || frmFechaNacimiento?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmFechaNacimiento?.valid &&
                      (frmFechaNacimiento?.dirty || frmFechaNacimiento?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
              <!-- Columna 3 -->
              <div class="col-md">
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="for"
                    minlength="10" maxlength="10"
                    [(ngModel)]="inscripcion.telCelular"
                    class="form-control mb-5"
                    formControlName="frmTelefonoCelular"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Teléfono Celular</label
                  >

                  <mdb-success
                    *ngIf="
                      frmTelefonoCelular?.valid &&
                      (frmTelefonoCelular?.dirty || frmTelefonoCelular?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="for"
                    [(ngModel)]="inscripcion.telConvencional"
                    class="form-control mb-5"
                    formControlName="frmTelefonoConvencional"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Teléfono Convencional</label
                  >

                  <mdb-success
                    *ngIf="
                      frmTelefonoConvencional?.valid &&
                      (frmTelefonoConvencional?.dirty ||
                        frmTelefonoConvencional?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
            </div>
          </div>
          <hr class="hr hr-blurry" />
          <!-- Datos Nacionalidad -->
          <h5>Datos nacionalidad:</h5>
          <!-- Columna 1 -->
          <div class="container">
            <div class="row">
              <div class="col-md">
                <div class="form-check">
                  <input
                    mdbRadio
                    [(ngModel)]="inscripcion.nacionalidad"
                    [ngModelOptions]="{ standalone: true }"
                    name="frmNacionalidad"
                    class="form-check-input"
                    type="radio"
                    value="1"
                    id="frmNacidoEcuador"
                  />
                  <label class="form-check-label" for="frmNacidoEcuador">
                    Nacido Ecuador
                  </label>
                </div>
                <div class="form-check">
                  <input
                    mdbRadio
                    [(ngModel)]="inscripcion.nacionalidad"
                    [ngModelOptions]="{ standalone: true }"
                    name="frmNacionalidad"
                    class="form-check-input"
                    type="radio"
                    value="2"
                    id="frmNacidoExtranjero"
                  />
                  <label class="form-check-label" for="frmNacidoExtranjero">
                    Extranjero
                  </label>
                </div>
                <div class="form-check mb-4">
                  <input
                    mdbRadio
                    [(ngModel)]="inscripcion.nacionalidad"
                    [ngModelOptions]="{ standalone: true }"
                    name="frmNacionalidad"
                    class="form-check-input"
                    type="radio"
                    value="3"
                    id="frmNacidoComunidadFrontera"
                  />
                  <label
                    class="form-check-label"
                    for="frmNacidoComunidadFrontera"
                  >
                    Comunidad frontera
                  </label>
                </div>
              </div>
              <!-- Columna 2 -->
              <div
                class="col-md"
                *ngIf="
                  inscripcion.nacionalidad === '1' ||
                  inscripcion.nacionalidad === '3'
                "
              >
                <mdb-form-control>
                  <mdb-select
                    [(ngModel)]="inscripcion.provinciaNacimiento"
                    id="frmProvinciaNacimiento"
                    formControlName="frmProvinciaNacimiento"
                    class="form-control mb-5"
                  >
                    <mdb-option
                      *ngFor="let provincia of provincias"
                      [value]="provincia.codigo"
                      >{{ provincia.nombre }}
                    </mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label"
                    >Seleccione una provincia</label
                  >
                  <mdb-error
                    *ngIf="
                      frmProvinciaNacimiento?.invalid &&
                      (frmProvinciaNacimiento?.dirty ||
                        frmProvinciaNacimiento?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmProvinciaNacimiento?.valid &&
                      (frmProvinciaNacimiento?.dirty ||
                        frmProvinciaNacimiento?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="2"
                    [(ngModel)]="inscripcion.cantonNacimiento"
                    class="form-control mb-5"
                    formControlName="frmCantonNacimiento"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Cantón de nacimiento</label
                  >
                  <mdb-error
                    *ngIf="
                      frmCantonNacimiento?.invalid &&
                      (frmCantonNacimiento?.dirty ||
                        frmCantonNacimiento?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmCantonNacimiento?.valid &&
                      (frmCantonNacimiento?.dirty ||
                        frmCantonNacimiento?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
              <div
                class="alert alert-info"
                role="alert"
                *ngIf="inscripcion.nacionalidad === '2'"
              >
                Nota: Adjuntar cédula padre/madre/familiar hasta 4to grado
              </div>
              <!-- Columna 3 -->
              <div class="col-md"></div>
            </div>
          </div>
          <!-- Residencia -->
          <hr class="hr hr-blurry" />
          <h5>Residencia:</h5>
          <div class="container">
            <div class="row">
              <!-- Columna 1 -->
              <div class="col-md">
                <mdb-form-control>
                  <mdb-select
                    [(ngModel)]="inscripcion.provinciaResidencia"
                    id="frmProvinciaResidencia"
                    formControlName="frmProvinciaResidencia"
                    class="form-control mb-5"
                  >
                    <mdb-option
                      *ngFor="let provincia of provincias"
                      [value]="provincia.codigo"
                      >{{ provincia.nombre }}
                    </mdb-option>
                  </mdb-select>
                  <label mdbLabel class="form-label mb-2x"
                    >Seleccione una provincia</label
                  >
                  <mdb-error
                    *ngIf="
                      frmProvinciaResidencia?.invalid &&
                      (frmProvinciaResidencia?.dirty ||
                        frmProvinciaResidencia?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmProvinciaResidencia?.valid &&
                      (frmProvinciaResidencia?.dirty ||
                        frmProvinciaResidencia?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.cantonResidencia"
                    class="form-control mb-5"
                    formControlName="frmCantonResidencia"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Canton de residencia</label
                  >
                  <mdb-error
                    *ngIf="
                      frmCantonResidencia?.invalid &&
                      (frmCantonResidencia?.dirty ||
                        frmCantonResidencia?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmCantonResidencia?.valid &&
                      (frmCantonResidencia?.dirty ||
                        frmCantonResidencia?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.direccionActual"
                    class="form-control mb-5"
                    formControlName="frmDireccion"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Dirección actual</label
                  >
                  <mdb-error
                    *ngIf="
                      frmDireccion?.invalid &&
                      (frmDireccion?.dirty || frmDireccion?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmDireccion?.valid &&
                      (frmDireccion?.dirty || frmDireccion?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
              <!-- Columna 2 -->
              <div class="col-md">
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.callePrincipal"
                    class="form-control mb-5"
                    formControlName="frmCallePrincipal"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Calle Principal</label
                  >
                  <mdb-error
                    *ngIf="
                      frmCallePrincipal?.invalid &&
                      (frmCallePrincipal?.dirty || frmCallePrincipal?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmCallePrincipal?.valid &&
                      (frmCallePrincipal?.dirty || frmCallePrincipal?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>

                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="2"
                    [(ngModel)]="inscripcion.calleSecundaria"
                    class="form-control mb-5"
                    formControlName="frmCalleSecundaria"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Calle secundaria</label
                  >
                  <mdb-error
                    *ngIf="
                      frmCalleSecundaria?.invalid &&
                      (frmCalleSecundaria?.dirty || frmCalleSecundaria?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmCalleSecundaria?.valid &&
                      (frmCalleSecundaria?.dirty || frmCalleSecundaria?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>

                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="2"
                    [(ngModel)]="inscripcion.numeroCasa"
                    class="form-control mb-5"
                    formControlName="frmNumeroCasa"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Número de Casa o Lote</label
                  >
                  <mdb-error
                    *ngIf="
                      frmNumeroCasa?.invalid &&
                      (frmNumeroCasa?.dirty || frmNumeroCasa?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmNumeroCasa?.valid &&
                      (frmNumeroCasa?.dirty || frmNumeroCasa?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
              <!-- Columna 3 -->
              <div class="col-md"></div>
              <div class="alert alert-info" role="alert">
                Nota: Adjuntar planilla agua/luz
              </div>
            </div>
          </div>
          <hr class="hr hr-blurry" />
          <!-- Título bachiller -->
          <h5>Título bachiller:</h5>
          <div class="container">
            <div class="row">
              <!-- Columna 1 -->
              <div class="col-md">
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.paisTitulo"
                    class="form-control mb-5"
                    formControlName="frmTituloPais"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    País donde obtuvo el título</label
                  >
                  <mdb-error
                    *ngIf="
                      frmTituloPais?.invalid &&
                      (frmTituloPais?.dirty || frmTituloPais?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmTituloPais?.valid &&
                      (frmTituloPais?.dirty || frmTituloPais?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.ciudadTitulo"
                    class="form-control mb-5"
                    formControlName="frmTituloCiudad"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Ciudad donde obtuvo el título</label
                  >
                  <mdb-error
                    *ngIf="
                      frmTituloCiudad?.invalid &&
                      (frmTituloCiudad?.dirty || frmTituloCiudad?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmTituloCiudad?.valid &&
                      (frmTituloCiudad?.dirty || frmTituloCiudad?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.colegioTitulo"
                    class="form-control mb-5"
                    formControlName="frmTituloColegio"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Colegio donde obtuvo el título</label
                  >
                  <mdb-error
                    *ngIf="
                      frmTituloColegio?.invalid &&
                      (frmTituloColegio?.dirty || frmTituloColegio?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmTituloColegio?.valid &&
                      (frmTituloColegio?.dirty || frmTituloColegio?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
              <!-- Columna 2 -->
              <div class="col-md">
                <mdb-form-control>
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.nombreTitulo"
                    class="form-control mb-5"
                    formControlName="frmTituloNombre"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Nombre del título</label
                  >
                  <mdb-error
                    *ngIf="
                      frmTituloNombre?.invalid &&
                      (frmTituloNombre?.dirty || frmTituloNombre?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmTituloNombre?.valid &&
                      (frmTituloNombre?.dirty || frmTituloNombre?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>

              <!-- Columna 3 -->
              <div class="col-md"></div>
              <div class="alert alert-info" role="alert">
                Nota: Adjuntar título
              </div>
            </div>
          </div>
          <hr class="hr hr-blurry" />
          <!-- Méritos -->
          <h5>Méritos (opcional):</h5>
          <div class="container">
            <div class="row">
              <!-- Columna 1 -->
              <div class="col-md">
                <div class="form-check">
                  <input
                    mdbCheckbox
                    [(ngModel)]="opcionSeleccionadaMeritoDeportivo"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-check-input"
                    type="checkbox"
                    value="opcionSeleccionadaMeritoDeportivo"
                    id="frmMeritoDeportivo"
                  />
                  <label class="form-check-label" for="frmMeritoDeportivo">
                    Deportivo
                  </label>
                </div>
                <div class="form-check">
                  <input
                    mdbCheckbox
                    [(ngModel)]="opcionSeleccionadaMeritoAcademico"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-check-input"
                    type="checkbox"
                    id="frmMeritoAcademico"
                  />
                  <label class="form-check-label" for="frmMeritoAcademico">
                    Académico
                  </label>
                </div>
              </div>
              <!-- Columna 2 -->
              <div class="col-md">
                <mdb-form-control *ngIf="opcionSeleccionadaMeritoDeportivo">
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.meritoDeportivo"
                    class="form-control mb-5"
                    formControlName="frmMeritoDeportivo"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Mérito deportivo</label
                  >
                  <mdb-error
                    *ngIf="
                      frmMeritoDeportivo?.invalid &&
                      (frmMeritoDeportivo?.dirty || frmMeritoDeportivo?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmMeritoDeportivo?.valid &&
                      (frmMeritoDeportivo?.dirty || frmMeritoDeportivo?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>

                <mdb-form-control *ngIf="opcionSeleccionadaMeritoAcademico">
                  <input
                    mdbValidate
                    mdbInput
                    type="text"
                    id="1"
                    [(ngModel)]="inscripcion.meritoAcademico"
                    class="form-control mb-5"
                    formControlName="frmMeritoAcademico"
                    required
                  />
                  <label mdbLabel class="form-label mb-2x" for="form1">
                    Mérito académico</label
                  >
                  <mdb-error
                    *ngIf="
                      frmMeritoAcademico?.invalid &&
                      (frmMeritoAcademico?.dirty || frmMeritoAcademico?.touched)
                    "
                  >
                    <i class="fas fa-exclamation-circle mb-1"></i>
                    Este campo es requerido
                  </mdb-error>
                  <mdb-success
                    *ngIf="
                      frmMeritoAcademico?.valid &&
                      (frmMeritoAcademico?.dirty || frmMeritoAcademico?.touched)
                    "
                  >
                    <i class="fas fa-check-circle"></i>
                    Campo Correcto
                  </mdb-success>
                </mdb-form-control>
              </div>
              <!-- Columna 3 -->
              <div class="col-md"></div>
            </div>
          </div>
          <hr class="hr hr-blurry" />
          <!-- Carga de documentos -->
          <h5>Carga de expediente:</h5>
          <div
          class="alert alert-info"
          role="alert"
        >
          <p>Indicaciones: </p>
          <p>1. Cargar título de Bachiller.</p>
          <p>2. Cargar planilla de agua o luz.</p>
          <p>3. Cargar copia de cédula.</p>
          <p>4. Cargar copia de papeleta de votación.</p>
          <p>Subir el expediente en un solo archivo, en formato pdf.</p>
        </div>
          <div class="container">
            <div class="row">
              <!-- Columna 1 -->
              <div class="col-md">
                <input
                  type="file"
                  class="form-control"
                  id="customFile"
                  required
                  formControlName="frmArchivo"
                  (change)="onProfileImageChange($event)"
                />

                <div *ngIf="fileStatus?.status === 'progress'">
                  {{ fileStatus?.percentage }}%
                  <div class="progress mt-1">
                    <div
                      class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                      role="progressbar"
                      [style.width.%]="fileStatus?.percentage"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="height: 20px"
                    >
                      {{ fileStatus?.percentage }}%
                    </div>
                  </div>
                </div>

                <input
                  type="submit"
                  value="Cargar"
                  [disabled]="cargaArchivoform.invalid"
                />
              </div>
              <!-- Columna 2 -->
              <div class="col-md"></div>
              <!-- Columna 3 -->
              <div class="col-md"></div>
            </div>
          </div>

          <!-- Botón siguiente -->
          <div class="row m-3">
            <div class="column text-center">
              <button
                id="next-step"
                class="btn btn-primary"
                (click)="stepper.next()"
              >
                Siguiente
              </button>
            </div>
          </div>
        </div>
      </form>
    </mdb-step>
    <!-- Paso 2 -->
    <mdb-step [name]="'Paso 2 - Validacion de Email'">
      <ng-template mdbStepIcon id="">
        <i class="far fa-envelope"></i>
      </ng-template>
      <mdb-form-control>
        <div class="alert alert-success d-grid col-6 mx-auto" role="alert">
          <i class="far fa-envelope fa-5x"></i>
          <h4 class="alert-heading">CONFIRMA TU CORREO ELECTRÓNICO</h4>
          <hr />
          <p>
            Para poder confirmar tu inscripción digita el PIN de seguridad
            enviado a tu email
          </p>
          <input
            mdbValidate
            mdbInput
            type="number"
            id="1"
            [(ngModel)]="inscripcion.pinSeguridad"
            value="267389"
            class="form-control mb-5"
            formControlName="frmPinSeguridad"
            placeholder="Ingrese su PIN"
            required
          />
          <button type="button" class="btn btn-success btn-rounded d-grid" (click)="stepper.next()">
            CONFIRMAR
          </button>
        </div>
      </mdb-form-control>
    </mdb-step>
    <!-- Paso 3 -->
    <mdb-step [name]="'Paso 3 - Confirmación de registro'">
      <ng-template mdbStepIcon id="">
        <i class="far fa-check-circle"></i>
      </ng-template>
      <mdb-form-control>
        <div class="alert alert-success d-grid col-6 mx-auto" role="alert">
          <i class="far fa-check-circle fa-5x"></i>
          <h4 class="alert-heading">REGISTRO COMPLETADO EXITOSAMENTE</h4>
          <hr />
          <p>
            Ha completado la etapa de registro
          </p>
          <p></p>
          <button type="button" class="btn btn-success btn-rounded d-grid">
           SALIR
          </button>
        </div>
      </mdb-form-control>
    </mdb-step>
  </mdb-stepper>
</div>
