<div class="container">
  <div class="row mt-3">
    <div class="column col-3">
      <img src="assets/logo-bomberos.svg" />
    </div>
    <div class="column col-9 text-end">
      <h4 class="ms-5">
        <i class="fa-solid fa-user-graduate"></i>
        Plataforma Educativa
      </h4>
    </div>
  </div>

  <hr class="hr hr-blurry" />

  <div class="row m-3">
    <div class="column text-center">
      <h5>Formulario de inscripción</h5>
    </div>
  </div>

  <!---------------------------->
  <!-- Formulario de registro -->
  <!---------------------------->

  <div class="container">
    <div class="row">
      <div class="col-md">
        <h5>Datos iniciales</h5>
          <form #form="ngForm"  novalidate>
                  <div [formGroup]="formularioInscripcion">
                    <mdb-form-control>
                      <input mdbValidate mdbInput type="text" id="for" class="form-control mb-5" formControlName="frmCedula" required/>
                     <label mdbLabel class="form-label mb-2x" for="form1" >
                       Cédula</label>
                     <mdb-error *ngIf="frmCedula?.invalid && (frmCedula?.dirty || frmCedula?.touched)">
                       <i class="fas fa-exclamation-circle mb-1"></i>
                       Este campo es requerido
                       </mdb-error>
                     <mdb-success *ngIf="frmCedula?.valid && (frmCedula?.dirty || frmCedula?.touched)">
                       <i class="fas fa-check-circle"></i>
                      Campo Correcto </mdb-success>
                     </mdb-form-control>

                     <mdb-form-control>
                      <input mdbValidate mdbInput type="text" id="for" class="form-control mb-5" formControlName="frmApellidos" required/>
                     <label mdbLabel class="form-label mb-2x" for="form1" >
                       Apellidos</label>
                     <mdb-error *ngIf="frmApellidos?.invalid && (frmApellidos?.dirty || frmApellidos?.touched)">
                       <i class="fas fa-exclamation-circle mb-1"></i>
                       Este campo es requerido
                       </mdb-error>
                     <mdb-success *ngIf="frmApellidos?.valid && (frmApellidos?.dirty || frmApellidos?.touched)">
                       <i class="fas fa-check-circle"></i>
                      Campo Correcto </mdb-success>
                     </mdb-form-control>

                     <mdb-form-control>
                      <input mdbValidate mdbInput type="text" id="for" class="form-control mb-5" formControlName="frmNombres" required/>
                     <label mdbLabel class="form-label mb-2x" for="form1" >
                       Nombres</label>
                     <mdb-error *ngIf="frmNombres?.invalid && (frmNombres?.dirty || frmNombres?.touched)">
                       <i class="fas fa-exclamation-circle mb-1"></i>
                       Este campo es requerido
                       </mdb-error>
                     <mdb-success *ngIf="frmNombres?.valid && (frmNombres?.dirty || frmNombres?.touched)">
                       <i class="fas fa-check-circle"></i>
                      Campo Correcto </mdb-success>
                     </mdb-form-control>
      </div>



                                     <div class="col-md">
                                       <mdb-form-control class="my-5">
                                         <input
                                           mdbInput
                                           type="email"
                                           id="frmEmail"
                                           formControlName="frmEmail"
                                           class="form-control"
                                           required
                                         />
                                         <label mdbLabel class="form-label" for="frmEmail"
                                           >Correo electrónico</label
                                         >
                                       </mdb-form-control>
                                       <mdb-form-control class="my-5">
                                         <input
                                           mdbInput
                                           type="text"
                                           id="frmSexo"
                                           formControlName="frmSexo"
                                           class="form-control"
                                           required
                                         />
                                         <label mdbLabel class="form-label" for="frmEmail"
                                           >Sexo</label
                                         >
                                       </mdb-form-control>

                                       <mdb-form-control class="my-5">
                                         <input
                                           mdbInput
                                           type="date"
                                           id="frmFechaNacimiento"
                                           formControlName="frmFechaNacimiento"
                                           class="form-control"
                                           required

                                         />
                                         <label mdbLabel class="form-label" for="frmFechaNacimiento"
                                           >Fecha de nacimiento</label
                                         >
                                       </mdb-form-control>
                                     </div>



                             <div class="col-md">
                               <mdb-form-control class="my-5">
                                 <input
                                   mdbInput
                                   type="text"
                                   id="frmTelefonoCelular"
                                   formControlName="frmTelefonoCelular"
                                   class="form-control"

                                   required
                                 />
                                 <label mdbLabel class="form-label" for="frmTelefonoCelular">Teléfono Celular</label>

                               </mdb-form-control>
                               <mdb-form-control class="my-5">
                                 <input
                                   mdbInput
                                   type="text"
                                   id="frmTelefonoConvencional"
                                   formControlName="frmTelefonoConvencional"
                                   class="form-control"
                                   required
                                 />
                                 <label mdbLabel class="form-label" for="frmTelefonoConvencional">Teléfono Convencional</label>
                               </mdb-form-control>
                             </div>
               </form>
      </div>
    </div>
  </div>












<!--
        <div class="column text-start">
          <h5>Datos Nacionalidad</h5>
        </div> -->
<!-- Nacionalidad -->
<!-- <mdb-form-control class="my-5">
  <input
    mdbRadio
    class="form-check-input"
    type="radio"
    name="radioNacionalidad"
    formControlName="radioNacidoEcuador"
    id="radioNacidoEcuador"
    [checked]="true"

  />
  <label class="form-check-label" for="radioNacidoEcuador">  Nacido en Ecuador </label>
</mdb-form-control>
<mdb-form-control class="my-5">
  <input
    mdbRadio
    class="form-check-input"
    type="radio"
    name="radioNacionalidad"
    formControlName="radioExtranjero"
    id="radioExtranjero"
    [checked]="true"

  />
  <label class="form-check-label" for="radioExtranjero"> Extranjero </label>
</mdb-form-control>
<mdb-form-control class="my-5">
  <input
    mdbRadio
    class="form-check-input"
    type="radio"
    name="radioNacionalidad"
    formControlName="radioComunidadFrontera"
    id="radioComunidadFrontera"
    [checked]="true"

  />
  <label class="form-check-label" for="radioComunidadFrontera"> Comunidad frontera </label>
</mdb-form-control> -->

<!-- <mdb-form-control class="my-5">
  <input
    mdbInput
    type="text"
    id="frmProvinciaNacimiento"
    formControlName="frmProvinciaNacimiento"
  placeholder="Provincia de nacimiento"
    style="display: none;"
    class="form-control"
    required
  />

</mdb-form-control> -->
<!-- <mdb-form-control class="my-5">
  <input
    mdbInput
    type="text"
    id="frmCantonNacimiento"
    formControlName="frmCantonNacimiento"
    style="display:none;"
    class="form-control"

    placeholder="Cantón de nacimiento"
    required
  />


</mdb-form-control> -->
<!--  -->

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="form.invalid || showLoading"
        >
          <span
            *ngIf="showLoading"
            class="spinner-border spinner-border-sm me-2"
            role="status"
            aria-hidden="true"
          ></span>
          <span *ngIf="showLoading">Espere...</span>
          <span *ngIf="!showLoading">Registro</span>
        </button>


</div>

  <!-------------------------------->
  <!-- FIN Formulario de registro -->
  <!-------------------------------->

