.my-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-step {
  padding: 15px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &.actual {
    background: rgba(234, 246, 255, 0.73);
    border-radius: 5px;
  }

  .step__order {
    display: flex;
    justify-content: center;
    align-items: center;

    .step__order--numeral {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 19.2px;
      height: 19.2px;
      color: #fff;
      font-size: 11px;
    }
  }

  .step__title {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #545454;
  }

  &.actual {
    .step__order--numeral {
      background: #0d6efd;
    }
  }

  &.siguiente {
    .step__order--numeral {
      background: #808080;
    }
  }

  &.completado {
    .step__order--numeral {
      background: #00b74a;
    }
  }

}

.my-step:hover {
  cursor: pointer;
  background: #F9F9F9;
}


.codigo-colores{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.color-finalizado {
  background: #00b74a;
}

.color-actual {
  background: #0d6efd;
}

.color-siguiente {
  background: #808080;
}


