<div class="titulo">
  <h1>Semestre</h1>
</div>

<div class="tabla">
  <!-- <mdb-form-control>
    <input
      mdbInput
      type="text"
      class="form-control"
      id="search-input"
      [disabled]="editElementIndex !== -1"
      (keyup)="search($event)"
    />
    <label mdbLabel class="form-label" for="search-input">Buscar</label>
  </mdb-form-control> -->
  <button
    MdbRiple
    class="btn btn-primary btn-sm ms-3"
    [disabled]="editElementIndex !== -1"
    (click)="addRow = true"

  >
    <i class="fa fa-plus"></i>
  </button>

  <hr />
  <div class="datatable table-editor mt-4">
    <form #form="ngForm" >
      <table
        class="table datatable-table"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="semestres"
        [sort]="sort"
      >
        <thead class="datatable-header">
            <th
              *ngFor="let header of headers"
              scope="col"
              style="font-size: medium"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th scope="col" style="font-size: medium"><b>Acciones</b></th>
        </thead>
        <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="semestre"
                  name="semestre"
                  class="form-control"
                  [(ngModel)]="Semestre"
                  #semestre="ngModel"
                  required
                />
              </mdb-form-control>

            </td>
            <td>
              <mdb-form-control>
                <mdb-select [(ngModel)]="Estado" name="estado">
                <mdb-option *ngFor="let option of options" [value]="option.value">{{
                  option.label
                }}</mdb-option>
              </mdb-select>
              </mdb-form-control>

            </td>

            <td align="center">
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                type="submit"
                (click)="registro(form.value); addRow = false"
              >
                <i class="fa fa-check"></i>
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>

          <tr *ngFor="let semestre of semestres; let index = index" scope="row">
            <td align="center" style="min-width: 10px; max-width: 10px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ semestre.semestre }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="semestre"
                    name="semestre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="semestre.semestre"
                  />
                </mdb-form-control>
              </ng-container>
            </td>
            <td align="center" style="min-width: 10px; max-width: 10px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ semestre.estado }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <mdb-select [(ngModel)]="semestre.estado" name="estado">
                    <mdb-option *ngFor="let option of options" [value]="option.value">{{
                      option.label
                    }}</mdb-option>
                  </mdb-select>
                </mdb-form-control>
              </ng-container>
            </td>
            <td align="center">
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editElementIndex = index"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="eliminar(semestre.codSemestre,semestre)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="actualizar(semestre, semestre.codSemestre);"
                >
                  <i class="fa fa-check"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editElementIndex = -1"
                >
                  <i class="fa fa-ban"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
