<app-boton-volver></app-boton-volver>
<div class="container my-4">
  <div class="row m-3 text-center">
    <h1 class="fs-4 fw-bolder">Repositorio del estudiante</h1>
  </div>
  <h2 class="text-primary"><b>Estudiante: </b>{{estudiante.nombreCompleto}}</h2>
  <p><b>Código del estudiante: </b>{{estudiante.codUnicoEstudiante}}</p>

  <hr class="hr">
  <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm">
    <table
      class="table datatable-table"
      mdbTable
      mdbTableSort
      #table="mdbTable"
      [dataSource]="documentos"
    >
      <thead class="datatable-header">
      <tr>
        <th *ngFor="let header of headers" scope="col" class="fw-bold" [mdbTableSortHeader]="header.key">
          <b> {{ header.label | titlecase }}</b>
        </th>
        <th scope="col" class="text-center fw-bold"><b>Acciones</b></th>
      </tr>
      </thead>
      <tbody class="datatable-body">
      <!-- Data -->
      <tr *ngFor="let documento of table.data; let i = index">
        <td>{{ documento.nombre ? documento.nombre : 'Documento' }}</td>
        <td>{{ documento.descripcion }}</td>
        <td class="text-center">
          <button
            mdbTooltip="Descargar documento"
            class="me-3 m-0 p-0 shadow-0 btn btn-lg text-dark"
            (click)="descargarArchivo(documento)"
          >
            <i class="fa fa-download"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <hr class="hr">

</div>
