<div class="container">
  <p class="fs-4 fw-bolder">Menú Formación</p>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    

    <!-- <div class="col">
      <a routerLink="/principal/tipoPrueba" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-solid fa-person-chalkboard fa-5x mt-5 text-opacity-50 text-primary"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Tipo de prueba</h5>
            <p class="card-text">
              Gestión de los tipos de prueba de la plataforma
            </p>
          </div>
        </div>
      </a>
    </div> -->

   <!--  <div class="col">
      <a routerLink="/principal/documentosHabilitantes" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-question fa-5x mt-5 text-primary text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Documentos Habilitantes</h5>
            <p class="card-text">
              Gestión de documentos habilitantes
            </p>
          </div>
        </div>
      </a>
    </div> -->

    <!-- <div class="col">
      <a routerLink="/principal/tipoProcedencia" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-question fa-5x mt-5 text-primary text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Tipo de procedencia</h5>
            <p class="card-text">
              Gestión de tipos de procedencia
            </p>
          </div>
        </div>
      </a>
    </div> -->

    <!-- <div class="col">
      <a routerLink="/principal/tipoSancion" class="link-dark">
        <div class="card h-100 text-center hover-shadow border">
          <i
            class="fa-solid fa-question fa-5x mt-5 text-primary text-opacity-50"
          ></i>
          <div class="card-body">
            <h5 class="card-title">Tipo de Sanción</h5>
            <p class="card-text">
              Gestión de tipos de sanción
            </p>
          </div>
        </div>
      </a>
    </div> -->

    <menu-item *ngFor="let item of listaSubMenu" [menu]="item"></menu-item>
    
  </div>
</div>
