<div class="container">
    <p class="fs-4 fw-bolder">Menú Formación</p>
  
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <a href="./principal/tipoDocumento" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i class="fa-solid fa-id-card-clip fa-5x mt-5 text-danger text-opacity-50"></i>
            <div class="card-body">
              <h5 class="card-title">Tipo de documento</h5>
              <p class="card-text">Gestión de Tipos de Documento para ser gestionados en la plataforma</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="./principal/tipoPrueba" class="link-dark">
          <div class="card h-100 text-center hover-shadow border">
            <i
              class="fa-solid dfa-solid fa-person-chalkboard fa-5x mt-5 text-opacity-50 text-primary"
            ></i>
            <div class="card-body">
              <h5 class="card-title">Tipo de prueba</h5>
              <p class="card-text">
                Gestión de los tipos de prueba de la plataforma
              </p>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
  