<!-- Título de componente-->
<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Estado Período Académico</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <mdb-form-control>
      <mdb-select
        id=""
        name=" ">
        <mdb-option >

        </mdb-option>
      </mdb-select>

    </mdb-form-control>
  </div>

</div>
<div class="row justify-content-center">
  <div class="col-4">
    <button class="btn-primary">Guardar</button>
  </div>
</div>


