/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

$font-size-root: 0.8em;

@font-face {
    font-family: "HelveticaLTStd";
    src: url("assets/HelveticaLTStd-LightCond.otf") format("otf");
    font-weight: normal;
    font-style: normal;  
  }
  
  $font-family-base: "HelveticaLTStd", "Trebuchet MS", Verdana, sans-serif;


// Se debe importar mdb al final para que apliquen 
//los valores modificados en la sección anterior
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";
