

.badge{
  font-size: 11.52px;
}

.total-instructores{
  background: #dcdcdc;
  border-radius: 50%;
  font-weight: bold;
  font-size: 10px;
  height: 13px;
  width: 13px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.boton-info{
  background: none;
  border: none;
  color: #7192ad;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
