<app-boton-volver
  [texto]="'Regresar al menú de academia'"
  [link]="'/principal/formacion/menu-academia'"
></app-boton-volver>

<ng-container *ngIf="!esEstadoFormacionAcademica">
  <div class="card rounded-7 mt-3">
    <div class="card-body">
      <h5 class="card-title text-primary">Proceso de Formación Académica no activo</h5>
      <p class="card-text">
        El proceso de formación académica no se encuentra activo, por lo que no se puede realizar ninguna acción.
      </p>
    </div>
  </div>
</ng-container>

<div class="container" *ngIf="esEstadoFormacionAcademica">
  <div class="row m-3 text-center">
    <h1 class="fs-4 fw-bolder">Gestión de Materias</h1>
  </div>
  <!-- Creación de materias -->
  <div class="d-flex justify-content-center">
    <mdb-stepper [style.width.%]="80" #stepper [linear]="true" [stepperHeadClick]="false">
      <mdb-step [stepForm]="paralelosFormGroup" [name]="'Creación paralelos'">
        <form [formGroup]="paralelosFormGroup">
          <mdb-form-control>
            <mdb-select
              #mdbSelectParalelos
              mdbValidate
              [filter]="true"
              [multiple]="true"
              class="mb-4"
              formArrayName="paralelos"
            >
              <mdb-option
                *ngFor="let paralelo of paralelosCatalogo; let i = index"
                (click)="toggleParaleloSelection(paralelo)"
                [label]="paralelo.nombreParalelo"
                [value]="paralelo">
                {{ paralelo.nombreParalelo }}
              </mdb-option>
            </mdb-select>
            <label mdbLabel class="form-label">Escoja los paralelos del catálogo</label>
          </mdb-form-control>
        </form>
        <div
          *ngIf="paralelosSeleccionados.length > 0"
          class="d-flex gap-2"
        >
          <div class="card w-25" *ngFor="let paralelo of paralelosSeleccionados">
            <div class="card-body py-2 px-3">
              <div class="d-flex justify-content-between">
                <b>{{paralelo.nombreParalelo}}</b>
                <button
                  type="button"
                  class="btn btn-primary btn-floating bg-light text-black text-center"
                  mdbRipple
                  (click)="toggleParaleloSelection(paralelo)"
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-success mt-3"
            type="submit"
            [disabled]="paralelosSeleccionados.length === 0"
            (click)="stepper.next()"
          >Guardar paralelos
            <i class="fas fa-arrow-right ms-2"></i>
          </button>
        </div>
      </mdb-step>
      <mdb-step [stepForm]="materiaAulaFormGroup" [name]="'Selección materias del catálogo'">

        <p>Escoja las materias que se impartirán en los paralelos:
          <b *ngFor="let paralelo of paralelosSeleccionados">{{ paralelo.nombreParalelo }}, </b>
        </p>
        <div class="d-flex gap-4 align-items-center">
          <mdb-form-control class="flex-fill">
            <mdb-select
              [(ngModel)]="itemMateria"
            >
              <mdb-option
                *ngFor="let materia of materiasCatalogo"
                [value]="materia"
              >
                {{ materia.nombre }}
              </mdb-option>
            </mdb-select>
            <label mdbLabel class="form-label">Escoja la materia del catálogo</label>
          </mdb-form-control>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onAgregarMateriaAula()"
            [disabled]="itemMateria === null"
          >
            <i class="fas fa-add me-2"></i>
            Agregar materia
          </button>
        </div>
        <div *ngIf="materiasSeleccionadas.length > 0">
          <form [formGroup]="materiaAulaFormGroup">
            <ul class="list-group list-group-light">
              <li *ngFor="let materia of materiasSeleccionadas; let i = index" class="list-group-item">
                <div formGroupName="materiaAula">
                  <div class="d-flex gap-3 align-items-center" [formGroupName]="i">
                    <p
                      [style.width.px]="180"
                      class="text-primary text-wrap m-0 p-0 me-2">
                      <b>{{ materia.nombre }}</b></p>
                    <ng-container>
                      <mdb-form-control [style.width.px]="100">
                        <input
                          mdbInput
                          mdbValidate
                          min="0.1"
                          max="1"
                          step="0.1"
                          type="number"
                          class="form-control"
                          formControlName="ponderacionMateria"
                          required
                        />
                        <label mdbLabel class="form-label">Ponderación<span
                          class="text-danger">*</span></label>
                      </mdb-form-control>
                    </ng-container>
                    <ng-container>
                      <mdb-form-control [style.width.px]="185">
                        <input
                          mdbInput
                          mdbValidate
                          min="0"
                          type="number"
                          class="form-control"
                          formControlName="notaMinimaSupletorio"
                          required
                        />
                        <label mdbLabel class="form-label">Nota mínima de supletorio<span
                          class="text-danger">*</span></label>
                      </mdb-form-control>
                    </ng-container>
                    <div class="flex-fill">
                      <mdb-form-control>
                        <mdb-select mdbValidate formControlName="codAula">
                          <mdb-option *ngFor="let aula of aulasCatalogo;" [value]="aula.codAula">
                            {{ aula.nombreAula }}
                          </mdb-option>
                        </mdb-select>
                        <label mdbLabel class="form-label">Escoja el aula donde se impartirá la materia <span
                          class="text-danger">*</span></label>
                      </mdb-form-control>
                    </div>
                    <button
                      [style.width.px]="20"
                      [style.height.px]="20"
                      mdbTooltip="Eliminar materia"
                      class="btn btn-primary btn-floating bg-light text-black text-center"
                      mdbRipple
                      type="button"
                      (click)="onEliminarMateriaSeleccionada(materia)"
                    >
                      <i class="fa fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </form>
          <p [ngClass]="getColorClass()"><b>Total ponderación: </b>{{ totalPonderacion }}</p>
          <div class="d-flex justify-content-end">
            <button
              class="btn btn-success mt-3"
              type="submit"
              [disabled]="materiaAulaFormGroup.invalid || totalPonderacion !== 1"
              (click)="onGuardarMateriasAula()"
            >
              Guardar materias
              <i class="fas fa-arrow-right ms-2"></i>
            </button>
          </div>
        </div>
        <button
          class="btn btn-primary mt-3"
          type="button"
          (click)="stepper.previous()"
        >
          <i class="fas fa-arrow-left me-2"></i>
          Anterior
        </button>
      </mdb-step>
    </mdb-stepper>
  </div>

  <!-- Materias creadas por paralelo-->
  <section>
    <h4>Paralelos creados</h4>
    <mdb-tabs [fill]="true" #tabs>
      <mdb-tab *ngFor="let materiaPorParalelo of materiasPorParalelo">
        <ng-template mdbTabTitle><span><i
          class="fas fa-people-group me-2"></i>{{ materiaPorParalelo.paralelo.nombreParalelo }}</span>
        </ng-template>
        <section>
          <div
            *ngIf="materiasFormacion?.materias.length === 0"
            class="alert alert-info" role="alert">
            <i class="fa-solid fa-info-circle me-2"></i>
            No se encontraron materias registradas para este periodo.
          </div>
          <div class="datatable datatable-hover datatable-sm table-responsive">
            <form [formGroup]="materiasFormacionFormGroup">
              <table
                class="tabla datatable-table"
                mdbTable
                #datatableMaterias
                [dataSource]="materiaPorParalelo.materias"
                [pagination]="pagination"
              >
                <thead class="datatable-header">
                <tr>
                  <th *ngFor="let head of headers" class="fw-bold fs-6">
                    {{ head.label }}
                  </th>
                  <th class="text-center fw-bold fs-6">Acciones</th>
                </tr>
                </thead>
                <tbody class="datatable-body">
                <!-- Lista de materias -->
                <tr *ngFor="let materia of datatableMaterias.data">
                  <td class="text-wrap">
                    <div>
                      <b class="fw-bold text-primary">{{ materia?.nombre }}</b>
                      <div><b>Ponderación: </b>{{ materia.ponderacionMateria}}</div>
                      <div><b>Min supletorio: </b>{{ materia.notaMinimaSupletorio}}</div>
                    </div>
                  </td>
                  <td>
                    {{ materia?.nombreEje }}
                  </td>
                  <td class="text-wrap">
                    {{ materia?.nombreAula }}
                  </td>
                  <td [style.width.px]="200">
                    <ng-container *ngIf="!estaEditandoMateria || materia.codMateriaPeriodo!== codMateriaEditando">
                      <div class="badge badge-success text-start">
                        <b
                          class="text-wrap">{{ materia?.coordinador?.nombre | uppercase }} {{ materia?.coordinador?.apellido | uppercase}}</b>
                      </div>
                      <div class="text-muted ps-2">
                        {{ materia?.coordinador?.correoPersonal }}
                      </div>
                    </ng-container>
                    <ng-container *ngIf="estaEditandoMateria && materia.codMateriaPeriodo === codMateriaEditando">
                      <mdb-form-control>
                        <mdb-select
                          [filter]="true"
                          formControlName="codCoordinador"
                        >
                          <mdb-option
                            *ngFor="let instructor of instructoresCatalogo"
                            [value]="instructor.codInstructor"
                            [label]="instructor.nombre + ' ' + instructor.apellido"
                          >
                            {{ instructor.nombre }} {{ instructor.apellido }}
                            <span class="option-secondary-text">{{ instructor.correoPersonal }}</span>
                          </mdb-option>
                        </mdb-select>
                      </mdb-form-control>
                    </ng-container>
                  </td>
                  <td [style.width.px]="200">
                    <ng-container *ngIf="!estaEditandoMateria || materia.codMateriaPeriodo!== codMateriaEditando">
                      <div *ngIf="materia?.asistentes?.length > 1; else asistente">
                        <div class="d-flex gap-1 align-items-center">
                          <span class="total-instructores">{{ materia.asistentes?.length }}</span>
                          <button
                            [style.width.%]="100"
                            class="btn btn-sm ms-1"
                            type="button"
                            (click)="asistentesCollapse.toggle()"
                            [attr.aria-expanded]="!asistentesCollapse.collapsed"
                            aria-controls="collapseAsistentes"
                          >
                            <div class="d-flex align-items-center justify-content-between">
                              <i class="fa-solid fa-people-group me-2"></i>
                              <i class="fa-solid fa-chevron-down" *ngIf="asistentesCollapse.collapsed"></i>
                              <i class="fa-solid fa-chevron-up" *ngIf="!asistentesCollapse.collapsed"></i>
                            </div>
                          </button>
                        </div>
                        <div class="mt-3" id="asistentesCollapse" mdbCollapse #asistentesCollapse="mdbCollapse">
                          <ul class="list-group list-group-light">
                            <li
                              *ngFor="let asistente of materia?.asistentes"
                              class="list-group-item p-0">
                              <b
                                class="text-wrap">{{asistente?.nombre }} {{ asistente.apellido }}</b>
                              <p class="text-muted">{{asistente?.correoPersonal}}</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ng-template #asistente>
                        <div class="badge badge-info text-start">
                          <b class="text-wrap ">{{ materia?.asistentes[0]?.nombre | uppercase }} {{ materia?.asistentes[0]?.apellido | uppercase }}</b>
                        </div>
                        <div class="text-muted ps-2">
                          {{ materia?.asistentes[0]?.correoPersonal }}
                        </div>
                      </ng-template>
                    </ng-container>
                    <ng-container *ngIf="estaEditandoMateria && materia.codMateriaPeriodo === codMateriaEditando">
                      <mdb-form-control>
                        <mdb-select
                          [filter]="true"
                          [multiple]="true"
                          formArrayName="codAsistentes"
                        >
                          <mdb-option
                            (click)="toggleAsistentesSeleccionados(asistente.codInstructor)"
                            *ngFor="let asistente of instructoresCatalogo"
                            [value]="asistente.codInstructor"
                          >
                            {{ asistente.nombre }} {{ asistente.apellido }}
                            <span class="option-secondary-text">{{ asistente.correoPersonal }}</span>
                          </mdb-option>
                        </mdb-select>
                      </mdb-form-control>
                    </ng-container>
                  </td>
                  <td [style.width.px]="200">
                    <ng-container *ngIf="!estaEditandoMateria || materia.codMateriaPeriodo!== codMateriaEditando">
                      <div *ngIf="materia.instructores?.length > 1 ; else instructor">
                        <div class="d-flex gap-1 align-items-center">
                          <span class="total-instructores">{{ materia.instructores?.length }}</span>
                          <button
                            [style.width.%]="100"
                            class="btn btn-sm ms-1"
                            type="button"
                            (click)="instructoresCollapse.toggle()"
                            [attr.aria-expanded]="!instructoresCollapse.collapsed"
                            aria-controls="collapseExample"
                          >
                            <div class="d-flex align-items-center justify-content-between">
                              <i class="fa-solid fa-people-group me-2"></i>
                              <i class="fa-solid fa-chevron-down" *ngIf="instructoresCollapse.collapsed"></i>
                              <i class="fa-solid fa-chevron-up" *ngIf="!instructoresCollapse.collapsed"></i>
                            </div>
                          </button>
                        </div>
                        <div class="mt-3" id="instructoresCollapse" mdbCollapse #instructoresCollapse="mdbCollapse">
                          <ul class="list-group list-group-light">
                            <li *ngFor="let instructor of materia?.instructores" class="list-group-item p-0">
                              <b class="text-wrap">{{ instructor?.nombre }} {{ instructor?.apellido }}</b>
                              <p class="text-muted">{{ instructor?.correoPersonal }}</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <ng-template #instructor>
                        <b>{{ materia?.instructores[0]?.nombre }} {{ materia?.instructores[0]?.apellido  }}</b>
                        <p class="text-muted">{{ materia?.instructores[0]?.correoPersonal  }}</p>
                      </ng-template>
                    </ng-container>
                    <ng-container *ngIf="estaEditandoMateria && materia.codMateriaPeriodo === codMateriaEditando">
                      <mdb-form-control>
                        <mdb-select
                          [filter]="true"
                          [multiple]="true"
                          formArrayName="codInstructores"
                        >
                          <mdb-option
                            *ngFor="let instructor of instructoresCatalogo"
                            [value]="instructor.codInstructor"
                            (click)="toggleInstructoresSeleccionados(instructor.codInstructor)"
                          >
                            {{ instructor.nombre }} {{ instructor.apellido }}
                            <span class="option-secondary-text">{{ instructor.correoPersonal }}</span>
                          </mdb-option>
                        </mdb-select>
                      </mdb-form-control>
                    </ng-container>
                  </td>
                  <td class="text-center">
                    <ng-container *ngIf="!estaEditandoMateria || materia.codMateriaPeriodo!== codMateriaEditando">
                      <button
                        (click)="onEditarMateria(materia, materiaPorParalelo.paralelo)"
                        mdbTooltip="Editar datos de la materia"
                        [disabled]="estaEditandoMateria"
                        class="me-1 m-0 p-0 shadow-0 btn btn-lg text-dark "
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <button
                        mdbTooltip="Eliminar registro"
                        class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                        [disabled]="estaEditandoMateria"
                      >
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="estaEditandoMateria && materia.codMateriaPeriodo === codMateriaEditando">
                      <button
                        class="m-0 me-2 p-0 shadow-0 btn btn-lg text-success"
                        (click)="onGuardarMateriaEditando()"
                      >
                        <i class="fa fa-check"></i>Guardar
                      </button>
                      <button
                        class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                        (click)="onCancelarEdicionMateria()"
                      >
                        <i class="fa fa-ban"></i>Cancelar
                      </button>
                    </ng-container>
                  </td>
                </tr>
                </tbody>
              </table>
              <mdb-table-pagination
                #pagination
                [entries]="10"
                [rowsPerPageText]="'Registros por página'"
              ></mdb-table-pagination>
            </form>
          </div>
        </section>
      </mdb-tab>
    </mdb-tabs>
  </section>


</div>

<mdb-loading [show]="loading" [fullscreen]="true">
  <div class="loading-spinner">
    <div class="spinner-border loading-icon text-light" role="status"></div>
    <span class="loading-text text-light">Guardando datos...</span>
  </div>
</mdb-loading>
