 <!-- Título de componente-->
 <div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Gestión de Tipo de documento</p>
  </div>
</div>
<div class="row justify-content-center">

  <div class="col-6 ">

  <button
    MdbRiple
    class="btn btn-primary btn-sm ms-3"
    [disabled]="editElementIndex !== -1"
    (click)="addRow = true"

  >
    <i class="fa fa-plus"></i>
  </button>

  <hr />
  <div class="datatable table-editor mt-4">
    <form #form="ngForm" >
      <table
        class="table table-sm datatable-table"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        #sort="mdbTableSort"
        [dataSource]="tiposDocumento"
        [sort]="sort"
      >
        <thead class="datatable-header">
          <tr align="center">
            <th
              *ngFor="let header of headers"
              scope="col"
              style="font-size: medium"
            >
              <b> {{ header | titlecase }}</b>
            </th>
            <th scope="col" style="font-size: medium"><b>Acciones</b></th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <tr *ngIf="addRow" scope="row">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="tipoDocumento"
                  name="tipoDocumento"
                  class="form-control"
                  [(ngModel)]="tipoDocumento.tipoDocumento"
                  #nombre="ngModel"
                  required
                />
              </mdb-form-control>
            </td>

            <td align="center">
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                type="submit"
                (click)="registro(form.value); addRow = false"
              >
                <i class="fa fa-check"></i>
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i>
              </button>
            </td>
          </tr>

          <tr *ngFor="let tipoDocumento of table.data; let index = index" scope="row">
            <td align="center" style="min-width: 10px; max-width: 10px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ tipoDocumento.tipoDocumento }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="nombre"
                    name="nombre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="tipoDocumentoEditForm.tipoDocumento"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td align="center">
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="eliminar(tipoDocumento.codigoDocumento, tipoDocumento)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="actualizar(tipoDocumento, form.value)"
                >
                  <i class="fa fa-check"></i>
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editElementIndex = -1"
                >
                  <i class="fa fa-ban"></i>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
</div>
