<app-boton-volver
  [texto]="'Regresar al menú de graduación'"
  [link]="'/principal/formacion/menu-graduacion'"
></app-boton-volver>

<div class="container">
  <div class="row m-3 text-center">
    <h1 class="fs-4 fw-bolder">Gestión de documentos</h1>
  </div>
  <button
    class="btn btn-primary mb-3"
    (click)="addRow = true"
    [disabled]="estaEditando"
  >
    <i class="fa-solid fa-circle-plus me-2"></i>
    Cargar documento
  </button>

  <div class="datatable table-editor mt-4 datatable-striped datatable-hover datatable-sm">
    <form [formGroup]="documentoForm">
      <table
        class="table datatable-table"
        mdbTable
        mdbTableSort
        #table="mdbTable"
        [dataSource]="documentos"
      >
        <thead class="datatable-header">
        <tr>
          <th *ngFor="let header of headers" scope="col" class="fw-bold" [mdbTableSortHeader]="header.key">
            <b> {{ header.label | titlecase }}</b>
          </th>
          <th scope="col" class="text-center fw-bold"><b>Acciones</b></th>
        </tr>
        </thead>
        <tbody class="datatable-body">
        <!-- Add new row -->
        <tr *ngIf="addRow">
          <td>
            <mdb-form-control>
              <input
                mdbValidate
                accept="application/pdf"
                mdbInput
                type="file"
                class="form-control"
                formControlName="archivo"
                (change)="cargarArchivo($event)"
              />
            </mdb-form-control>
          </td>
          <td>
            <mdb-form-control>
              <textarea
                mdbValidate
                mdbInput
                type="text"
                class="form-control"
                formControlName="descripcion"
              ></textarea>
            </mdb-form-control>
          </td>
          <td>
            <mdb-form-control>
              <textarea
                mdbValidate
                mdbInput
                type="text"
                class="form-control"
                formControlName="observaciones"
              ></textarea>
            </mdb-form-control>
          </td>
          <td class="text-center">
            <button
              class="me-3 m-0 p-0 shadow-0 btn btn-lg text-success"
              id="btnRegistrar"
              type="submit"
              [disabled]="documentoForm.invalid"
              (click)="crear()"
            >
              <i class="fa fa-check"></i> Agregar
            </button>
            <button
              class="m-0 p-0 shadow-0 btn btn-lg text-danger"
              (click)="addRow = false"
            >
              <i class="fa fa-ban"></i> Cancelar
            </button>
          </td>
        </tr>
        <!-- Data -->
        <tr *ngFor="let documento of table.data;">
          <td>
            <ng-container *ngIf="!estaEditando || codigoDocumentoEditando !== documento.codDocumento">
              {{ documento.nombre }}
            </ng-container>
            <ng-container *ngIf="estaEditando && codigoDocumentoEditando === documento.codDocumento">
              <input
                mdbInput
                mdbValidate
                type="file"
                accept="application/pdf"
                class="form-control"
                id="archivo"
                (change)="cargarArchivo($event)"
              />
              <ng-container *ngIf="documentoForm.get('archivo').value">
                <div>
                  <p class="fw-bold mb-0 mt-2">Nombre del documento actual: </p>
                  <p class="badge rounded-pill badge-primary f px-3 py-2">{{ documentoForm.get('archivo').value }}</p>
                </div>
              </ng-container>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!estaEditando || codigoDocumentoEditando !== documento.codDocumento">
              {{ documento.descripcion }}
            </ng-container>
            <ng-container *ngIf="estaEditando && codigoDocumentoEditando === documento.codDocumento">
              <mdb-form-control>
                <textarea
                  mdbValidate
                  mdbInput
                  type="text"
                  class="form-control"
                  formControlName="descripcion"
                ></textarea>
              </mdb-form-control>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!estaEditando || codigoDocumentoEditando !== documento.codDocumento">
              {{ documento.observaciones }}
            </ng-container>
            <ng-container *ngIf="estaEditando && codigoDocumentoEditando === documento.codDocumento">
              <mdb-form-control>
                <textarea
                  mdbValidate
                  mdbInput
                  type="text"
                  class="form-control"
                  formControlName="observaciones"
                ></textarea>
              </mdb-form-control>
            </ng-container>
          </td>

          <td class="text-center">
            <ng-container *ngIf="!estaEditando || codigoDocumentoEditando !== documento.codDocumento">
              <button
                mdbTooltip="Descargar documento"
                class="me-3 m-0 p-0 shadow-0 btn btn-lg text-dark"
                [disabled]="estaEditando"
                (click)="descargarArchivo(documento)"
              >
                <i class="fa fa-download"></i>
              </button>
              <button
                mdbTooltip="Editar registro"
                class="me-3 m-0 p-0 shadow-0 btn btn-lg text-dark"
                (click)="editRow(documento)"
                [disabled]="estaEditando"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button
                mdbTooltip="Eliminar registro"
                class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                [disabled]="estaEditando"
                (click)="eliminar(documento.codDocumento)"
              >
                <i class="fa fa-trash-alt"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="estaEditando && codigoDocumentoEditando === documento.codDocumento">
              <button
                class="me-3 m-0 p-0 shadow-0 btn btn-lg text-success"
                [disabled]="documentoForm.invalid"
                (click)="actualizar(documento)"
              >
                <i class="fa fa-check"></i> Guardar
              </button>
              <button
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="undoRow()"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>

