<app-boton-volver></app-boton-volver>

<!-- Título de componente-->
<div class="row m-3">
  <div class="column text-center">
    <p class="fs-4 fw-bolder">Gestión de nivel</p>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-10">
    <button
      class="btn btn-primary btn-sm mb-3"
      id="btnAgregarFila"
      [disabled]="editElementIndex !== -1"
      (click)="addRow = true"
    >
      <i class="fa fa-plus"></i> &nbsp;Agregar
    </button>

    <mdb-form-control>
      <input
        mdbInput
        type="text"
        class="form-control"
        id="search-input"
        [disabled]="editElementIndex !== -1"
        (keyup)="search($event)"
      />
      <label mdbLabel class="form-label" for="search-input">Buscar</label>
    </mdb-form-control>

    <hr>

    <div class="datatable table-editor mt-3 datatable-striped datatable-hover datatable-sm">
      <form #form="ngForm">
        <table
          class="table table-sm datatable-table"
          id="tblSemestre"
          mdbTable
          mdbTableSort
          #table="mdbTable"
          [dataSource]="semestres"
        >
          <thead class="datatable-header">
          <tr>

            <th
              *ngFor="let header of headers"
              scope="col"
              class="fw-bold"
            >
              <b class="text-start"> {{ header | titlecase }}</b>
            </th>
            <th scope="col" class="text-center fw-bold"><b>Acciones</b></th>
          </tr>
          </thead>
          <tbody class="datatable-body">
          <tr *ngIf="addRow">
            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="semestreRegistro"
                  name="semestre"
                  class="form-control"
                  [(ngModel)]="semestre.semestre"
                  required
                  #semestreRegistro="ngModel"
                  type="text"
                  (change)="validacionUtil.onInputChange($event, 'catalogo', semestreRegistro)"
                />
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="fechaInicioSemestreRegistro"
                  name="fechaInicioSemestre"
                  class="form-control"
                  [(ngModel)]="semestre.fechaInicioSemestre"
                  required
                  #fechaInicioSemestreRegistro="ngModel"
                  type="date"
                  (change)="validacionUtil.onInputChange($event, 'catalogo', fechaInicioSemestreRegistro)"
                />
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="fechaFinSemestreRegistro"
                  name="fechaFinSemestre"
                  class="form-control"
                  [(ngModel)]="semestre.fechaFinSemestre"
                  required
                  #fechaFinSemestreRegistro="ngModel"
                  type="date"
                  (change)="validacionUtil.onInputChange($event, 'catalogo', fechaFinSemestreRegistro)"
                />
              </mdb-form-control>
            </td>

            <td>
              <mdb-form-control>
                <input
                  mdbInput="mdbInput"
                  id="descripcionRegistro"
                  name="descripcion"
                  class="form-control"
                  [(ngModel)]="semestre.descripcion"
                  required
                  #descripcionRegistro="ngModel"
                  type="text"
                  (change)="validacionUtil.onInputChange($event, 'catalogo', descripcionRegistro)"
                />
              </mdb-form-control>
            </td>

            <td>
              <button
                class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                id="btnRegistrar"
                type="submit"
                (click)="registro(form.value); addRow = false;"
              >
                <i class="fa fa-check"></i> Agregar
              </button>
              <button
                name="eliminar"
                class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                (click)="addRow = false"
              >
                <i class="fa fa-ban"></i> Cancelar
              </button>
            </td>
          </tr>

          <tr *ngFor="let semestre of table.data; let index = index">
            <td style="min-width: 120px; max-width: 120px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ semestre.semestre }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="semestreActualizar"
                    name="semestre"
                    type="text"
                    class="form-control"
                    [(ngModel)]="semestreEditForm.semestre"
                    required
                    #semestreActualizar="ngModel"
                    (change)="validacionUtil.onInputChange($event, 'catalogo', semestreActualizar)"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 120px; max-width: 120px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ semestre.fechaInicioSemestre | date:'dd-MM-yyyy' }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index"> <!-- TODO fix load date from object -->
                <mdb-form-control>
                  <input
                    mdbInput
                    [mdbDatepicker]="datepickerInicio"
                    type="text"
                    class="form-control"
                    id="fechaInicioSemestre"
                    name="fechaInicioSemestre"
                    [(ngModel)]="semestreEditForm.fechaInicioSemestre"
                    [value]="semestreEditForm.fechaInicioSemestre | date:'dd-MM-yyy'"
                    #fechaInicioSemestreActualizacion="ngModel"
                    (change)="validacionUtil.onInputChange($event, 'catalogo', fechaInicioSemestreActualizacion)"
                  />
                  <label mdbLabel for="fechaInicioSemestre" class="form-label">Fecha inicio del semestre</label>
                  <mdb-datepicker-toggle
                    [mdbDatepicker]="datepickerInicio"
                  ></mdb-datepicker-toggle>
                  <mdb-datepicker
                    [inline]="true"
                    #datepickerInicio="mdbDatepicker"
                    [options]="opcionesDatepicker"
                  ></mdb-datepicker>
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 120px; max-width: 120px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ semestre.fechaFinSemestre | date:'dd-MM-yyyy' }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    [mdbDatepicker]="datepickerFin"
                    type="text"
                    class="form-control"
                    id="fechaFinSemestre"
                    name="fechaFinSemestre"
                    [(ngModel)]="semestreEditForm.fechaFinSemestre"
                    [value]="semestreEditForm.fechaFinSemestre | date:'dd-MM-yyy'"
                    required
                    #fechaFinSemestreActualizacion="ngModel"
                    (change)="validacionUtil.onInputChange($event, 'catalogo', fechaFinSemestreActualizacion)"
                  />
                  <label mdbLabel for="fechaFinSemestre" class="form-label">Fecha fin del semestre</label>
                  <mdb-datepicker-toggle [mdbDatepicker]="datepickerFin"></mdb-datepicker-toggle>
                  <mdb-datepicker [inline]="true" #datepickerFin></mdb-datepicker>
                </mdb-form-control>
              </ng-container>
            </td>

            <td style="min-width: 160px; max-width: 160px">
              <ng-container *ngIf="editElementIndex !== index">
                {{ semestre.descripcion }}
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <mdb-form-control>
                  <input
                    mdbInput
                    id="descripcion"
                    name="descripcion"
                    type="text"
                    class="form-control"
                    [(ngModel)]="semestreEditForm.descripcion"
                    required
                    #descripcion="ngModel"
                    (change)="validacionUtil.onInputChange($event, 'catalogo', descripcion)"
                  />
                </mdb-form-control>
              </ng-container>
            </td>

            <td class="text-center">
              <ng-container
                *ngIf="editElementIndex === -1 || editElementIndex !== index"
              >
                <button
                  mdbTooltip="Editar registro"
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="editRow(index)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  mdbTooltip="Eliminar registro"
                  class="m-0 p-0 shadow-0 btn btn-lg text-dark"
                  (click)="confirmarEliminar($event,semestre.codSemestre)"
                  [disabled]="
                    editElementIndex !== -1 && editElementIndex !== index
                  "
                >
                  <i class="fa fa-trash-alt"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="editElementIndex === index">
                <button
                  class="me-2 m-0 p-0 shadow-0 btn btn-lg text-success"
                  (click)="actualizar(semestre, form.value);"
                >
                  <i class="fa fa-check"></i> Guardar
                </button>
                <button
                  class="m-0 p-0 shadow-0 btn btn-lg text-danger"
                  (click)="undoRow()"
                >
                  <i class="fa fa-ban"></i> Cancelar
                </button>
              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

